[2014-08-22 10:47] Joker2k opened #182 "Transaction report filter"
There is a problem with report via "Transaction report filter". There are results for all transfer transactions when filtering only by payee.

[2014-08-22 13:51] #182 closed, assigned to gabriele-v

[2014-08-31 14:26] siena123 opened #196 "Updated for conflicting pull #184"

[2014-08-31 14:27] #196 closed, assigned to nobody

[2014-10-31 13:02] howff opened #256 "assertion failed (datetime)"
When opening a database after entering the password I get numerous failed assertions.
After clicking "continue" on quite a lot then database eventually opens and looks ok (not checked to see if there's any hidden corruption). Using mmex-1.1.0-amd64 on ubuntu-12.04. Don't remember changing anything since the last time it worked ok (I open this database on both windows and linux).

ASSERT INFO:
../i

[2014-11-05 13:53] jeancf opened #266 "error: cannot convert 'const wxString' to 'const char*' for argument '2' to 'void"
Hi,

I tried to compile the current master branch on openSUSE 13.2 and I ran into the following error:

[code]

[2014-11-06 11:43] howff opened #267 "build errors with wxsqlite3"
The latest moneymanagerex doesn't build with wxsqlite3.

The github master.zip doesn't include lib/wxsqlite3 so I downloaded it. However it fails to build, giving these errors:

/users/local/arb/Downloads/moneymanagerex/moneymanagerex-master/release/bk-deps gcc -c -o wxsqlite_sqlite3secure.o -DNOPCH -DSQLITE_CORE -DSQLITE_ENABLE_FTS3 -DSQLITE_ENABLE_FTS3_PARENTHESIS -DSQLITE_HAS_CODEC -DSQLITE_ENA

[2014-11-06 14:45] howff opened #268 "build errors due to unimplemented compiler features"
release/bk-deps g++ -c -o mmex_accountdialog.o -I../lib/wxsqlite3/sqlite3/secure/src -I../lib/wxsqlite3/include -I../lib/lua/src -I../lib -I../3rd -I../3rd/LuaGlue/include -I../3rd/cgitemplate -I../3rd/csv-parser/include -I../3rd/route -I../src -DNOPCH -I/tmp/wx/lib/wx/include/gtk3-unicode-static-3.0 -I/tmp/wx/include/wx-3.0 -D_FILE_OFFSET_BITS=64 -D__WXGTK__ -pthread -fPIC -DPIC  -g -O2 -std=c++0

[2014-11-07 01:51] #267 closed, assigned to guanlisheng

[2014-11-07 02:23] #266 closed, assigned to guanlisheng

[2014-11-10 13:43] #268 closed, assigned to nobody

[2014-11-25 10:22] #256 closed, assigned to guanlisheng

[2014-12-11 06:05] guanlisheng opened #296 "Simplify transfer transaction creation"
Now we can only add the transfer transaction in checking panel and actually the most intuitive way is from the account itself.
![mmex_account](https://cloud.githubusercontent.com/assets/721973/5389844/41fad3d6-813e-11e4-88c1-e5bb6707de34.png)

[2014-12-11 06:13] guanlisheng opened #297 "New reporting look and feel"
I think it will be a good chance to examine all existing reports and do a complete reorganization like the following
![mmex_reporting](https://cloud.githubusercontent.com/assets/721973/5389995/93dc16aa-813f-11e4-9915-d289c0c61561.png)

[2014-12-11 06:33] guanlisheng opened #298 "General Report Framework supports multi SQLs"
As well known that existing GRF(General Report Framework) only support one single SQL and return the result as CONTENTS in template engine.

One intuitive approach is to store each result in each CONTENTS, (for instance, CONTENTS1, CONTENTS2).

[2014-12-11 06:36] guanlisheng opened #299 "General Report Manager editor improvement"
such as
- more user friendly editor functional as copy/paste/replace
- more syntax
- auto-complete
- static syntax check

[2014-12-11 06:39] guanlisheng opened #300 "MS Money support"
Since there are many audiences who want to switch from MS Money to Money Manager Ex, we will benefit a lot if we support the data migration.

[2014-12-11 07:17] guanlisheng opened #301 "Implement Object-relational mapping to SQLite tables"
we have a general database access layer now which supports
- Generate c++ code from table schema
- CRUD

But it does't support the connection with each table, such as
- has many
- has one
- many to many
- belongs to

[2014-12-11 07:23] guanlisheng opened #302 "Refactor home page (phase 2)"
Given that home page is base on HTML5 already but we mixed the html code with c++ everywhere.
The basic aim is to cleanup these hybrid code with template.
Eventually, each component should be a piece of HTML code and we can combine them freely.

[2014-12-11 07:36] guanlisheng opened #303 "Crash report collection"
Since we already have 3k+ daily active users, it becomes important now to collect the crash report from end users. we may need to set up a server for this.
@gabriele-v , i think you can help here.

[2014-12-11 07:43] guanlisheng opened #304 "Cloud storage sync research"
We may need to sync the database file to some popular cloud storages, such as Dropbox, Google Drive.

[2014-12-11 08:10] guanlisheng opened #305 "Automatically fallback to readonly mode if the program has no write permission"
Times we run into a case that Money Manager EX has only the read permission then failed to open it. in this case, the program should fallback to readonly mode and we can still view the reporting and checking panel w/o any modification functionality.

[2014-12-15 02:09] guanlisheng opened #306 "History exchange rate support"
Both @vomikan and @gabriele-v think this is a cool feature to stick more audiences here.
anyway, would you guys help to compose some design before coding?

[2014-12-15 02:10] guanlisheng opened #307 "Display change log for new version"
This will help user knows what expect from update

[2014-12-15 02:11] guanlisheng opened #308 "Multi-selection for checking panel"
for mark, deletion purpose

[2014-12-16 04:53] guanlisheng opened #310 "Switch to wxWebViewChromium"
Then we can have a unified user experience cross all platforms (windows + Mac + Linux).

[2014-12-25 07:46] guanlisheng opened #326 "Support transfer operation for stock account"
Now we only support the transfer between non-stock account and there will be one single transaction as Account A, $100 ==>Account B, ¥600.
Both of the account will show this transaction will opposite transfer direction as
* Account A , -> $100
* Account B,  <- ¥600

This enhancement is to support the transfer to any account (even Asset).

[2014-12-28 09:03] guanlisheng opened #329 "Option dialog improvement"
Now we use [wxListbook](http://docs.wxwidgets.org/3.0.2/classwx_listbook.html) to store the following panels
- General Panel
- Views Panel
- Attachment Panel
- Others Panel
- Network Panel

Ideally, we can apply and save each panel separately.

[2014-12-30 02:01] #329 closed, assigned to stef145g

[2014-12-30 13:28] shymega opened #332 "moneymanagerex (Arch Linux) help files"
In Arch Linux moneymanagerex (repo version) can't find the help files, instead displaying the error message shown [here](https://cloud.githubusercontent.com/assets/1334592/5578819/08e7168e-9027-11e4-9ab2-f9e847e90df5.png)

The actual help files are actually stored in '/usr/share/doc/mmex/help', so my solution was to run the command: sudo ln -s /usr/share/doc/mmex/help /usr/share/mmex/help
to get m

[2015-01-01 15:07] siena123 commented on #326
I think this could be an interesting feature but it is not one that I would personally use. I don't know if enough people would be interested in it and use the feature to make it worth the effort.

[2015-01-02 03:27] guanlisheng commented on #326
So what's behavior in your mind? This is the place to discuss the behavior

[2015-01-03 15:22] siena123 commented on #326
If we do this I don't think it should be restricted to just a transfer from Bank to Stock but between any accounts. This produces the following transaction that need to be considered.
     Bank to/from Bank (already done)
     Bank to/from Asset
     Bank to/from Stock
     Stock to/from Asset

Transfer to and from account type Asset should be restricted to asset type Cash (for Bank) or Other (for

[2015-01-04 05:19] guanlisheng commented on #326
Hi @siena123 , we can't support transfer for asset until we have real asset account.
Initial balance as a pool here will simplify both transfer support and stock buying/selling.

Your logic about the buying/selling is too complex and has conflict with existing online stock price update. Since we have no double-entry here, we should provide two kinds of modification:
* for real modification due to

[2015-01-04 05:20] guanlisheng opened #336 "Support buying & selling for stock account"

[2015-01-04 05:21] guanlisheng commented on #326
@moneymanagerex/desktop-mmex-team @moneymanagerex/android-mmex-team , we can talk more about stock buying & selling with #336

[2015-01-04 22:33] stef145g opened #338 "Repeating Transactions: Provide Payment_Date and Due_Date"
Method: Replace **Next_Occurence** with **Payment_Date** and **Due_Date**
Within the dialog, the calendar control is renamed to **'Payment Date'** and  will set 'payment date' and 'due date'.
The current database fields will be the meanings modified  as:
**next_occurance** becomes the Payment Date,
**transaction_date** stores the Due date. (Currently not utilised)

Other sections modified accordin

[2015-01-05 03:23] guanlisheng commented on #338
would we leave a mockup UI to illustrate your idea ?

[2015-01-05 07:20] stef145g commented on #338
Stage 1 complete. demonstrates usage.
Available in for test in branch: https://github.com/moneymanagerex/moneymanagerex/tree/stef145g_dev

More work required in a few other sections before it can be released.

[2015-01-06 08:23] stef145g commented on #338
Not quite. Trying to satisfy this request:
http://sourceforge.net/p/moneymanagerex/feature-requests/348/

[2015-01-06 08:49] guanlisheng commented on #338
okay. so you want (use table.column to avoid confusion)
* BILLSDEPOSITS_V1.TRANSDATE as due date
* BILLSDEPOSITS_V1.NEXTOCCURRENCEDATE as payment date.

It's a great idea that we can utilize BILLSDEPOSITS_V1.TRANSDATE.

Regarding the request, i think it does not make sense to make a transaction before the real schedule.

[2015-01-06 10:11] stef145g commented on #338
@guanlisheng The commits you have made to master have now caused a direct conflict with the code in my branch. Does this mean that you don't like my implementation?

Not exactly sure what you mean in your meaning in your last sentence.

[2015-01-06 12:00] guanlisheng commented on #338
No and there is no conflict.
Please rebase your code with master branch.
Last statement means I don't think this feature request make senses.

[2015-01-06 13:50] guanlisheng commented on #338
Seems you have reverted your branch and discarded your changes?

[2015-01-06 20:46] stef145g commented on #338
The request has merit, although it is a bit confusing. My interpretation is that in providing a payment  and due date, allows the user to cancel a suggested bill date, still maintaining the bill active to allow payment on the actual date of payment without having a payment becoming overdue.

Rebasing to or from master does not work. Conflicts still occurred, making it difficult to resolve. Therefo

[2015-01-06 21:06] gabriele-v commented on #307
Display ChangeLog is done. I prefer to add a wizard to achive two other features:
1) Manage Database Patch (if it will be needed)
2) Immediatly download new version in download folder

Regarding point 2) I need some help: second wizard panel and logic are already done, but I was not able to:
- Start download & update progress bar (wxGauge) on "Next" click (EVT_WIZARD_PAGE_CHANGED should be used bu

[2015-01-06 21:07] gabriele-v commented on #303
@guanlisheng Any news on this? It could be useful to add in 1.2.0

[2015-01-07 00:06] guanlisheng commented on #338
I thunk you have a draft design before the coding if the request is merit.

My fault that making the rebase failed here while I think it's a regular scenario that multiple changes happened on one single file.

[2015-01-07 01:45] guanlisheng commented on #303
Hi, i think we don't have enough time and resource to make it happen in v1.2.0.

[2015-01-07 01:53] guanlisheng commented on #307
It would be great if we can integrate [wxcurl](http://wxcode.sourceforge.net/components/wxcurl/). we could do more and more things if we have HTTPS.

Regarding the database patch, do you have a clear approach now? I wish the team would pay more attention one the UE improvements and feature simplification to grow the audiences. as you know that about one-quarter users will not open the program afte

[2015-01-07 06:47] gabriele-v commented on #307
It could be useful if we will need to patch DB or make some changes.
Currently we don't need it, but it's one reason why I've choose wizard instead of a simple dialog like about dialog.

[2015-01-07 07:08] guanlisheng commented on #307
I knew/know it's very useful and the point is 1) how we implement it, 2) when we can use it and 3) how often we will use it. we should consider the ROI.

[2015-01-08 05:29] guanlisheng opened #340 "System language auto detecting"
The program should always uses the system language (fallback to english if not available).
I do think it will simplify both the program and end user operation.
@vomikan @gabriele-v @stef145g @siena123 , what do you think ?

[2015-01-08 08:59] vomikan commented on #340
How many mmex used as portable?
system language is not a best solution for this. In other ases it's OK.

2015-01-08 8:29 GMT+03:00 Lisheng <notifications@github.com>:

[2015-01-08 09:51] Chaos99 opened #343 "transfers not ex-/imported to/from CSV"
When exporting to CSV, transfers are not written to the file.
As they also contribute to the total balance of the account, the balance of the internal and the exported account differ.
I suppose there is also no way of importing transfers from CSV.

Better yet than importing transfers as a separate kind of transaction, mapping them to certain transaction names/descriptions during importing would be

[2015-01-08 09:57] Chaos99 opened #344 "Filtering in account view doesn't work"
Using version 1.2.0-Alpha.1 on Windows 7 64bit

Setting transactions filters in the account view doesn't change the view.

I've configured a filter, saved it and clicked OK.
The view blinks shortly, but doesn't change.

This is extremely annoying as long as there is no support for multi-select for deleting or changing transactions.

[2015-01-08 10:01] Chaos99 commented on #308
I would second that and add 'editing details' to the list of goals for multi-selected transactions.

Changing the payee, category or status of several transactions at once is a common task.
Also changing the type of several transactions from withdrawal to transfer would be immensely useful.

[2015-01-08 10:04] guanlisheng commented on #340
What's the difference between portable and non-portable? they are identical.
Generally, any application should follow its system's language setting.

[2015-01-08 10:57] gabriele-v commented on #340
I think that problem here is that we force locale to "en" at start-up instead to use the system one.
I think that this is also the reason why all system messages (for example caps lock on password) are in English instead of proper system language

[2015-01-08 12:27] gabriele-v commented on #308
Agree and I'll add it to 1.3

[2015-01-09 05:49] guanlisheng commented on #344
@vomikan , would you help to take a look?

[2015-01-09 08:59] vomikan commented on #344
I can't reproduce this issue. Working for me.

[2015-01-09 10:08] stef145g commented on #344
This was found and fixed after 1.2.0-alpha release 26/12/2014

SHA-1: fdbd9d6ed699b93accb9a5c330f4adf3c78dd56f
* fix(transaction.filter): restore filter functionality.

[2015-01-09 10:14] stef145g commented on #338
This feature has been implemented.
SHA-1: d2551fe34f2a36c9979bb62e0e00dd6fc8fec2ad

* Merge pull request #346 from moneymanagerex/stef145g_dev

[2015-01-09 10:14] #338 closed

[2015-01-09 22:48] #344 closed

[2015-01-10 13:12] themnd opened #348 "Transaction dialog search category does not work on OSX"
I'm on MMEX 1.1.2, previously when you enter a new transaction, as soon as you start type some letters in the category field it will narrow the category list with only the categories that match.
Now it does not work at all and if you clear the field first and then start type some letters occasionally you have got some crashes.

[2015-01-10 18:08] kosi2801 opened #350 "Import from CSV not possible"
In 1.2.0-Alpha.1 it seems impossible to import transactions from CSV. No matter how I configure the import fields, it always skips every line with:
 "One of the following fields: Date, Amount, Type is missing, skipping".
As Date and Amount are set in my fields and "Type" is not available in the fields list I guess this is a bug.

Somehow the checks for the required fields seem inconsistent in resp

[2015-01-10 19:17] vomikan commented on #350
Csv sample please

[2015-01-10 19:44] kosi2801 commented on #350
Csv is with header line and in german, I hope that's not a problem. Import was tried with semicolon as delimiter. Below are two example lines, one outgoing and one incoming transfer (acct. no and transfer id scrambled by me but structure ok).
Meanwhile I tried a bit around with more fields and different assignments but in my attempts I couldn't succeed. There just seems to be no "Type" field (or o

[2015-01-12 12:21] vomikan commented on #350
I've imported this CSV sample successfully.
I'used the next settings:
0 - 6 - Notes
1 - 7 - Don't Care
2 - 7 - Don't Care
3 - 7 - Don't Care
4 - 7 - Don't Care
5 - 2 - Amount(+/-)
6 - 7 - Don't Care
7 - 7 - Don't Care
8 - 7 - Don't Care
9 - 7 - Don't Care
10 - 7 - Don't Care
11 - 0 - Date
Date mask: DD.MM.YYYY

[2015-01-12 13:02] kosi2801 commented on #350
Ok, this is quite puzzling to me. Which regional settings are set on your machine? Or asked differently: does MMEX expect the Amount decimal delimiter to be "," or "." depending on regional settings?
Is the "Type" field somehow determined internally and if so, what does it depend on?

Are you maybe using a custom build or later MMEX version or did you test with the install package for 1.2.0-Alpha.

[2015-01-12 13:24] vomikan commented on #350
I've made some changes to make settings saving more correct. Nad I used
latest development code.
1.2.0-beta will be available soon.

2015-01-12 16:02 GMT+03:00 kosi2801 <notifications@github.com>:

[2015-01-12 16:08] kosi2801 commented on #350
Ok, I'll wait for the updated version then and retest.
Am 12.01.2015 14:24 schrieb "Nikolay" <notifications@github.com>:

[2015-01-15 16:57] guanlisheng commented on #350
@kosi2801 , any update here and could i close this issue after beta release?

[2015-01-15 17:01] guanlisheng commented on #340
Agree with @gabriele-v .
For all, i want to push this out in v1.3 as part of the UX improvement & simplification.

[2015-01-15 17:03] guanlisheng commented on #348
would mind to have a retry on v1.2.0-beta

[2015-01-15 17:04] guanlisheng commented on #336
@vomikan , would you mind to own this one since i heard you are using stock often.

[2015-01-15 17:10] guanlisheng commented on #343
@vomikan , would yo mind to check whether it is defined behavior.

[2015-01-15 17:25] kosi2801 commented on #350
I retested with 1.2.0-Beta and the field mapping you suggested. Yet no luck, the issue still persists for me.

[code]

Any more suggestions? What else could I try or check?

[2015-01-15 18:27] guanlisheng commented on #350
@vomikan , would you mind to take a deep look ?

[2015-01-15 18:39] vomikan commented on #350
Date mask is OK?

четверг, 15 января 2015 г. пользователь Lisheng написал:

[2015-01-15 21:23] themnd commented on #348
I tried version 1.2.0-alpha.1 since this the latest version available on the github releases and the behavior is the same.
I've also checked the last two commits in 1.2.0-beta and they doesn't look like to be fixing this bug.
I tried to compile mmex from sources but I'm on Yosemite and seems like I'm missing some pre-requisites, I'm not able to even start the compile process. Is there any mac os x

[2015-01-15 21:26] guanlisheng commented on #348
You can click the build status icon in GitHub to see how Travis ci builds the project

[2015-01-15 21:31] kosi2801 commented on #350
Aaaah, I think I got it. I did never change/select the date mask as it already correctly showed "DD.MM.YYYY".
But when I open the dropdown and select the same value "DD.MM.YYYY" again suddenly the import works correctly. See the log where I did just select the same value before the second attempt.
[code]

Seems that the date format is not correctly transfered to the input routine if the dropdown i

[2015-01-16 21:35] gabriele-v opened #359 "Custom autocomplete ComboBox"
It will be nice to create a custom ComboBox with autocomplete that will work fine under Windows & Mac, with support for wildcards like \* or % for search in the middle of strings.

Than it could be used in lots of places where autocomplete could help.

[2015-01-17 15:27] #348 closed

[2015-01-17 15:28] themnd commented on #348
I'll closed the issue since the problem seems more related to wxwidgets than mmex.
Moreover it will probably work as expected since I've seen this: #359 359

[2015-01-18 04:51] josh-egan opened #361 "Assets should be closeable or have an end date"
Currently, when an asset is sold, the only way to stop showing the asset is by deleting it. I think it would be better if the asset had an end date so that the asset could show up in the history based on its start and end date.

I ran into this when I was trying to display my net worth over time.

For the time being, I've changed all of my assets to term accounts as a work around. I put in the fir

[2015-01-18 19:56] themnd commented on #359
if you want to shrink down the payee list as soon as you type something in the payee field, you can modify the file src/transdialog.cpp and add this:

	@@ -258,6 +277,34 @@ void mmTransDialog::dataToControls()
	         skip_payee_init_ = true;
	         cbPayee_->SetEvtHandlerEnabled(true);
	     }
	+    else
	+    {
	+        wxArrayString all_payees = Model_Payee::instance().all_payee_names();

[2015-01-18 20:01] gabriele-v commented on #359
Could you help writing a custom autocomplete combo box? It will be nice to use it everywhere in MMEX

[2015-01-19 05:42] stef145g commented on #336
I think I have worked out a way of achieving this by introducing a new table: **TRANSFER_TRANS_V1**

This table would tie the CHECKINGACCOUNT_V1 table to any other account type. This would extend the transfer functionality of the CHECKINGACCOUNT_V1 table, allowing transfer transaction to other account types such as stocks or assets. This would also allow purchase or sale from these account types b

[2015-01-19 12:17] guanlisheng commented on #336
why a brand new table here ?

[2015-01-24 08:43] themnd opened #368 "max osx: crash when trying to insert a new transaction"
When you are editing a new transaction, since you cannot shrink the payee list (#359), you have to scroll it with the mouse (i.e. key up and down are not working), sometimes you get a crash, below the last crash report:

[code]

[2015-01-24 17:40] MisterY opened #369 "QIF file dates should be configurable"
Currently, the dates in exported .qif file are stored in ISO format (D2015-01-24).
Quicken imports this but shows the imported transaction(s) at the beginning, instead of the end, of the transaction list. The displayed date in Quicken looks correct but something is obviously wrong. While this is clearly a Quicken bug, it would still be helpful to be able to configure the date for the export file i

[2015-01-25 05:20] guanlisheng commented on #369
@vomikan ,would you help to take a look ?

[2015-01-26 11:32] vomikan commented on #369
@guanlisheng Please exams
https://github.com/moneymanagerex/moneymanagerex/compare/QIFexport?expand=1

[2015-01-27 15:40] omalleypat commented on #348
Did you get it to build on mac os x? I'd love to have some help from another mac person!

http://sourceforge.net/p/moneymanagerex/wiki/Build%20Instructions%20for%20Mac%20OS%20X/

[2015-01-27 16:00] themnd commented on #348
I just installed some dependencies with brew (like gettext, bakefile).
You have to remember that once you clone the respository you have to update the submodules: git submodule update.

Thank I did:

[code]

and at that point you can do: make

the webview is not working but the transaction list is working correctly.

[2015-01-27 18:08] omalleypat commented on #348
Sorry - wasn't clear. I am the mac build maintainer - I have my build environment working.

By help I meant help with finding and reporting issues that are mac-specific. Not sure about the webview not working - I haven't compiled it in a couple weeks. I'll look into those things soon.

If you have additional feedback on the wiki article to make it clearer, I'd welcome it.

-Pat

[2015-01-27 20:10] themnd commented on #348
Sure, I'm using it on a mac and my wife use it on windows.
We share the database through dropbox :-D
I'll report any issue I'll find.

[2015-01-29 01:07] guanlisheng commented on #369
Would you mind to send a pull request?

[2015-01-29 01:18] #307 closed

[2015-01-29 01:19] guanlisheng commented on #332
I am going to close it soon and feel free to reopen it if needed

[2015-01-29 01:19] #332 closed

[2015-01-29 01:20] guanlisheng commented on #350
I will close it and feel free to reopen it

[2015-01-29 01:20] #350 closed

[2015-01-29 01:22] guanlisheng commented on #296
Who want to take this?

[2015-01-29 01:44] guanlisheng commented on #368
i can not reproduce the issue

[2015-01-29 01:47] stef145g commented on #361
It appears that issues https://github.com/moneymanagerex/moneymanagerex/issues/326 and https://github.com/moneymanagerex/moneymanagerex/issues/336 have a similar theme to this, and could all be done as proposed in https://github.com/moneymanagerex/moneymanagerex/issues/336

[2015-01-29 12:35] guanlisheng commented on #361
Not that similar since we do have account for stock. The first step is to support dedicated asset account

[2015-01-29 12:38] #369 closed

[2015-01-29 12:41] MisterY commented on #369
Thanks, guys! Looking forward to the new release.

[2015-01-31 10:36] stef145g commented on #361
Closing this issue and continuing discussion on issue: **Support buying & selling for stock account** #336

[2015-01-31 10:37] stef145g commented on #326
Closing this issue and continuing discussion on issue: Support buying & selling for stock account #336

[2015-01-31 10:58] guanlisheng commented on #326
I think they are different request.

[2015-01-31 10:59] guanlisheng commented on #361
This is for ASSET instead of stocks

[2015-01-31 11:04] stef145g commented on #336
Continuing from issues:
**Support transfer operation for stock account** #326,
**Assets should be closable or have an end date** #361, and
**feat(Stocks.And.Assets): expand functionality** #367
---------------------
As stated, Assets and Stocks require similar behaviour, even though they appear to be different.
I will explain in next comment. This is the reason fro closing the other issues.

[2015-01-31 11:42] stef145g commented on #336
**Assets**
Assets are created in the asset register. We can think if each record of an asset register as an account. As an account, we can buy, or sell this item, or even generate income from this item or close it.
**In order to do this we need to maintain transactions in a transaction table.**

**Stocks**
Stocks are generated as an Account. In each Stock account we add Shares to maintain a Stocks

[2015-01-31 11:48] stef145g commented on #336
If this proposed solution is unacceptable, then someone else can put forward an acceptable solution and continue to implement all the proposed requests.

[2015-01-31 12:34] guanlisheng commented on #336
I have no strong preference here for buying and selling.
my question is that you just closed a request issue to support transfer for stock . Thought?

[2015-01-31 13:14] stef145g commented on #336
Others issues closed with redirection to this issue for discussion.

What do you actually mean by "support transfer for stock"?

[2015-01-31 20:16] jeffjl74 opened #377 "QIF import ignores account type for new accounts"
Version 1.2.0-Beta
When importing a QIF file, the !Account record contains a T line that
specifies the account type. MMEX does not use this information
and always creates Checking accounts for new accounts.

[2015-02-01 04:00] stef145g commented on #336
oops, I suspect I closed it accidently. This issue is not supposed to be closed.

[2015-02-01 16:32] themnd opened #380 "crash on mac when right clicking on "recurring operations" and select reset columns dimensions"
I'm using MMEX 1.2.0 Beta, in the recurring operations page I clicked in the column's header and choose "reset columns dimensions" and I got an assert:

[code]

I did the same in the transactions view and it worked.

[2015-02-03 20:47] themnd commented on #368
Recently I downloaded version 1.2-beta (mac) and I'm not getting the crash anymore.
The crash was not really deterministic, that's why I waited some times to close the ticket, I really wanted to try 1.2-beta longer to see if it happens again.

[2015-02-03 20:47] #368 closed

[2015-02-03 20:57] themnd opened #381 "new recurring transaction problem with pay date"
I'm using mac version 1.2-beta.
When you insert a new recurring transaction, when the dialog open, both the due date and the pay date are set to 1/1/2001, however you can change the due date to what you want but the pay date remains unchanged and you cannot modify it.
When you go to the recurring transactions view, your newly inserted recurring transaction will get the due date warning even if its

[2015-02-08 10:01] stef145g commented on #336
Initial setup for this set of features has now been implemented, and can be reviewed on
https://github.com/moneymanagerex/moneymanagerex/tree/stef145g_dev

This is by no means complete, but demonstrates the approach taken.
For Assets, there is still another panel to be created that will display all transactions for an individual asset, as well as refining the user interface functionality.

Stocks

[2015-02-09 02:29] guanlisheng commented on #336
This ticket is for stock and would we explain the approach for stock firstly. My feeling is that we are make things complex and complicated.

[2015-02-09 03:44] guanlisheng commented on #381
@stef145g , please help to fix the bug

[2015-02-09 08:15] stef145g commented on #381
In order to make this facility work, the **calendar** sets the payment date and due date.
The due date is then set to the correct value using the dropdown calendar control.

**For Windows:**
For a new entry, the calendar control displays the current system date, being today.

**For Mac**
Not sure if this is the case.
1. Was the calendar displaying the correct date in V1.2.0-Alpha?
2. Was there any

[2015-02-09 11:49] themnd commented on #381
I'm speaking of the Mac version.
I didn't try the V1.2.0-Alpha, but it was working in 1.1.2.
On Mac there is no a Calendar control...i.e. there are no calendars that pop up when you click on the date in the same way you do on the windows version.
When you say:

"The due date is then set to the correct value using the dropdown calendar control"

It is true for me also, the problem is that it will c

[2015-02-09 11:52] stef145g commented on #336
**This is a technical explanation of how to solve these issues.**
--------------------------------------------------------------------------------
In order to find a solution, we need to understand the problem.
**Requests:**
- Assets should be closable or have an end date - implying many transactions associated with the asset.
- Support transfer operation for stock account - implying money transfe

[2015-02-09 16:47] dwrj87 opened #383 "GPL Version"
In LICENSE, it contains GPLv2

In setup/linux/debian/build_new.sh it states GPLv3

In setup/linux/rpm/mmex.spec it states GPLv2

On the website, it states GPLv2

[2015-02-10 02:35] guanlisheng commented on #381
hi @themnd , would you mind to provide some screenshots here?

[2015-02-11 02:12] guanlisheng commented on #383
thanks @dwrj87.
@vomikan , please help to here to make them consistent

[2015-02-11 21:47] dwrj87 commented on #383
`ack GPL` returned this (I've stripped out anything relating to 3rd party stuff)

setup/linux/debian/copyright
12:License: GPL-3.0+
14:License: GPL-3.0+
29: Public License version 3 can be found in "/usr/share/common-licenses/GPL-3".

setup/linux/rpm/mmex.spec
12:License:        GPL2 or any later version

po/arabic.po
7429:#~ msgid "Released under the GNU GPL License"
7430:#~ msgstr "الاصدار تجت ت

[2015-02-15 16:02] themnd commented on #381
I understood what you mean with the "Calendar Control"...silly me.
It is present in the dialog on left, if you click there you can automatically set the due date (the date on the left), however it seems that you can't quickly change the year, you can only change the day and month.

[2015-02-15 18:10] loki36 opened #386 "OFX Import"
Hi,

there is an ofx import planed for future or not ?
Beacause ofx format is gowing.
A quick win could be include in mmex ofx2qif (an exe on windows and a package dependance on linux)

[2015-02-15 18:16] loki36 opened #387 "QIF import ability to chose account number instead of account name to match account"
it could bee good to have ability to chose account number instead of account name to match account when you import data from qif file.

this beacause my bank use the BankID + account ID as account name, but i prefer display an other name on mmex.

[2015-02-15 23:08] loki36 commented on #299
Hi,

do you think there is a way to add a promt of parameter for repports, in order to pass it to the sql query.

i see 3 types of parameter : string / integer / date

[2015-02-15 23:13] loki36 commented on #300
I think this is link with #386

[2015-02-16 08:51] vomikan commented on #383
What kind of licemse we will prefer?
GPLv3 ??

[2015-02-16 09:44] guanlisheng commented on #383
The key is to keep consistent

LiSheng

[2015-02-16 10:18] vomikan commented on #383
Hi team,

What kind license we will prefer?
Just for me I don't undestand diff between GPLv2 vs GPLv3 etc

2015-02-12 0:47 GMT+03:00 David Jones <notifications@github.com>:

[2015-02-16 10:41] stef145g commented on #381
In windows the calendar works as follows:

**Selecting the month will bring up the months.**
![repeattransdialog](https://cloud.githubusercontent.com/assets/6927151/6210307/585a5714-b622-11e4-866b-1c2519ed5d2f.png)

**Selecting the year, displays the years.**
![repeattransdialog2](https://cloud.githubusercontent.com/assets/6927151/6210319/8007eca4-b622-11e4-9d02-a8a639b55c55.png)

**Selecting the

[2015-02-16 10:58] themnd commented on #381
The calendar on the mac is more "basic", when you create the transaction you have:
![screen shot 2015-02-16 at 11 51 55](https://cloud.githubusercontent.com/assets/895523/6210707/83f1dc3a-b5d2-11e4-9bf5-7675adfe9585.png)

If you select a day in the calendar, the both dates are updated:

![screen shot 2015-02-16 at 11 52 08](https://cloud.githubusercontent.com/assets/895523/6210716/9c5adcc2-b5d2-11

[2015-02-16 11:53] stef145g commented on #381
The Transactions Details (Right hand side) date represents the **Payment Date**, and can only be changed by the calendar for New, or Edit. **Logic:** Transaction_Date = Payment_Date

The transaction date can be changed when the panel is used for **Enter next Occurrence...**.
No change from previous functionality.

Thanks for the pictures on Mac. Your demonstration of year change is the same as Win

[2015-02-16 13:04] themnd commented on #381
As far as I remember, when you use "Enter next occurrence" the transaction date was not set to the current day which is happening now (this defeat, somehow, the purpose of setting a detailed date).
When you click the left and right arrow on the calendar control, you switch the month. In my third screenshot you can seen that the calendar has different abilities then the windows version (btw on wind

[2015-02-16 14:25] Chaos99 opened #389 "Please make the database storage path editable on Android App"
Like the title says.
Would make it so much easier to support all other kinds of sync services besides Dropbox.

For the same reason, please allow the path to be on external storage.

UPDATE: Oh sorry, I'll move this to the android repo. Please close.

[2015-02-16 14:29] #389 closed

[2015-02-17 05:53] siena123 commented on #383
We should check the other licenses that we are using. See the section "New
Compatible Licenses" section of
http://www.gnu.org/licenses/quick-guide-gplv3.html. If we are using any of
the GPL3 compatible only licenses then we need to update to GPL3.

The link also explains the major differences between version 2 and 3. My
vote would be to update from GPL2 to GPL3 regardless of any possible
compatibi

[2015-02-17 09:53] stef145g commented on #381
With @themnd's reference to: **when you use "Enter next occurrence"** above, this is a new issue.

The logic and reason for the Next Occurrence split was this:
Reference: http://sourceforge.net/p/moneymanagerex/feature-requests/348/

**Summary**
A bill or invoice is issued weeks in advance with a request to pay the account by the due date. Failure to do this date would usually incur a fee. Payment

[2015-02-17 22:28] loki36 opened #390 "import webapp"
Hi,

there is a bug in webapp import on ubuntu 14.04 with version in master branch (i think it's the 1.2.0 beta)
when there is data in web-moneymanagerex there is a windows with title error mmex and message :
Wrong type, required: long, but: string

i found this http://trac.wxwidgets.org/ticket/15955#no1

and with following change error seems to be solved :
[code]

http://usagestats.moneymanagerex

[2015-02-20 10:02] MisterY opened #395 "Totals in the main list are wrong"
Please see issue https://github.com/moneymanagerex/android-money-manager-ex/issues/22

The same thing happens in the desktop version on Windows. The total expenses, after spending €20 Euros in Hungary, show up as €1 226 059.70 for the month.
I wish it was that easy. :)

<s>All the values in the database look correct so I assume that the error is in the formula somewhere in the application.</s>

[2015-02-20 12:54] vomikan commented on #395
Could you provide simple test DB with this issue?

2015-02-20 13:02 GMT+03:00 Alen Siljak <notifications@github.com>:

[2015-02-20 13:36] MisterY commented on #395
# Test 1

PC:
- create db
- create EUR account, initial balance €100
- create HUF account, initial balance 0

- sync via Dropbox

Android:
- create transfer EUR->HUF of €50.

Result: can't edit the HUF amount. The currency for EUR account is displayed as "L". (?)

https://www.dropbox.com/s/fw684qti9fuvxw9/alen.mmb?dl=0

# Test 2

PC:
- create db
- sync via Dropbox

Android:
- create EUR account, i

[2015-02-20 14:17] MisterY commented on #395
I checked the database I used for testing a few days ago. There, HUF has a Scale of 1 and Conversion of 306.673.

[2015-02-20 14:17] #395 closed

[2015-02-20 14:52] MisterY commented on #395
Found the cause. The currencies are reversed when calling the API in Android version.

`http://www.freecurrencyconverterapi.com/api/convert?q=EUR-HUF&compact=y`

Which URL are you guys using in desktop version?

[2015-02-20 15:21] MisterY commented on #395
OK, I submitted a fix. Cheers!

[2015-02-20 15:21] vomikan commented on #395
We used yahoo
 "http://download.finance.yahoo.com/d/quotes.csv?s=%s&f=sl1c4n&e=.csv";
where %s is
USDUER=X for example

2015-02-20 17:52 GMT+03:00 Alen Siljak <notifications@github.com>:

[2015-02-20 15:24] vomikan commented on #395
just compare
http://www.freecurrencyconverterapi.com/api/convert?q=EUR-HUF&compact=y
result

{"EUR-HUF":{"val":306.6727}}

and
 http://download.finance.yahoo.com/d/quotes.csv?s=EURHUF=X&f=sl1c4n&e=.csv
result
EURHUF=X,306.0359,"EUR","EUR to HUF"
seems the same

2015-02-20 18:21 GMT+03:00 Nikolay Akimov <nikolay.akimov@gmail.com>:

[2015-02-20 16:01] MisterY commented on #395
Right. And Yahoo generally seems more stable and responsive.
Maybe Alessandro decides to rewrite the update in the Android version. Or I might also try to do that when I find some time, and join the project.

[2015-02-21 02:52] #390 closed

[2015-02-21 02:53] guanlisheng commented on #386
Scheduled it in v1.3

[2015-02-21 02:55] guanlisheng commented on #377
Nikolay, would you mind to take a look here?

[2015-02-21 02:57] guanlisheng commented on #387
Would we have another approach for this requirement.

[2015-02-21 14:51] loki36 opened #396 "automatic assignment"
I want create a way to make automatic assignment on transaction

a way could be create a new table with rules for automatic assignment and apply it after import.

a table "field" where store all field's name where criterion could be apply
a table "condition" where we store condition code and label (ex : like - like / equal - = / ...)
a table "assignment" for rules assignment

are you interested wi

[2015-02-21 20:06] vomikan commented on #396
I like this idea. We need a way to cut payee names after import.

Fyi
http://sourceforge.net/p/moneymanagerex/feature-requests/286/
 21 февр. 2015 г. 18:51 пользователь "loki36" <notifications@github.com>
написал:

[2015-02-21 22:36] jeffjl74 opened #397 "mmParseDisplayStringToDate() is broken"
Commit c5972a3, util.cpp line 176 added an "&" to the return assignment for date_formats_regex().at(). This does not work. The new "&regex" is not a date format regular expression string and the following pattern matching gets random results. (I am building with Visual Studio Express 2013.)

[2015-02-22 04:32] stef145g commented on #397
I see the problem and have committed a fix to master branch.
Please recheck.

[2015-02-22 09:09] vomikan commented on #396
https://sourceforge.net/p/moneymanagerex/feature-requests/314/

[2015-02-22 18:27] jeffjl74 commented on #397
The fix works. Thanks.

[2015-02-23 01:02] #397 closed

[2015-02-25 03:01] omalleypat commented on #381
@stef145g I think that some of the confusion comes in because the Transaction date appears to only change if the calendar is clicked. If you manually type the date in the "Due Date" (left) control, the "Transaction Date" is not updated. Is this also true on Windows?

I'm glad you posted, because I could not figure out how it worked because I never used the calendar. The reason for that is the defa

[2015-02-25 10:14] stef145g commented on #381
@omalleypat  When you manually type the date in the **Due Date** (left) control, the **Transaction Date** is not updated for both Windows and Mac. This is by design because the date field in the transaction panel, displays the payment date. To negate the Payment and Due Date feature, make the dates the same. Manual entry may still pose a problem therefore your suggestion of the button has merit.

[2015-02-25 14:32] omalleypat commented on #381
@stef145g , It seems like the Payment date cannot be set when creating or editing a repeating transaction, the control is disabled.

[2015-02-25 19:01] stef145g commented on #381
@omalleypat  This is done using the Calendar control, (Top Left).  Works on Windows and Mac as demonstrated above. The Due Date (Bottom Left) is NOT changed.

[2015-02-25 20:29] omalleypat commented on #381
@stef145g - in the mac screenshots above, changing the calendar control on the top left seems to update both dates, confirmed by the caption above the second picture.

I just downloaded the portable version of 1.2 beta for windows and it seems to change both the payment and due dates when you click on the calendar (maybe this has changed in master since then). I can click the payment date in the c

[2015-02-26 10:51] stef145g commented on #381
@omalleypat - your suggestion leads me back to the original problem I had in planning this and I will explain my original planning process.

**Planning Problems:**
- How do we get the number of days in the GUI?
- How do we store this information? I did not want to add extra fields in the existing table.

I discovered that the date in the transaction was not used. Fantastic!

**My Logic:**
Paying s

[2015-02-26 14:10] omalleypat commented on #381
@stef145g Thanks for the detailed description. I think most of the confusion came in because of the calendar differences on each platform and the "requirement" to use the calendar to set the payment date. Is there any reason why we couldn't allow manual entry of the dates for both "due date" and "payment date" on "New" or "Edit" (i.e. removing the ->Disable() lines in the code). That would allow t

[2015-02-26 15:11] r-gaia-cs opened #401 "No rule to make target `lib/wxsqlite3/src/wxsqlite3.cpp'"
[code]

[2015-02-26 15:33] vomikan commented on #401
FYI
https://sourceforge.net/p/moneymanagerex/wiki/browse_pages/

[2015-02-26 17:26] r-gaia-cs commented on #401
@vomikan Thanks. Will be nice to update https://github.com/moneymanagerex/moneymanagerex/blob/master/INSTALL.TXT to cover the steps with Git.

[2015-02-27 23:40] loki36 commented on #396
Hi,
I've made the new feature on my github repo under branch feature/master/automatic-assignment for database and moneymanagerex.

If you could have a look and say if it's ok for a pull request or if it need change, will great

[2015-02-27 23:52] loki36 commented on #396
Assignment main dialog is available with magic_wand or with menu

![capture du 2015-02-28 00 49 57](https://cloud.githubusercontent.com/assets/2657181/6423291/f7dfe910-bee3-11e4-8eda-3c6b23a24f13.png)

![capture du 2015-02-28 00 50 26](https://cloud.githubusercontent.com/assets/2657181/6423293/02a9430a-bee4-11e4-9121-53ef154eff8e.png)

![capture du 2015-02-28 00 46 44](https://cloud.githubusercont

[2015-02-28 02:03] stef145g commented on #381
@omalleypat - I have taken your first suggestion on board, and have now come up with a solution. This has been created in a new branch:  https://github.com/moneymanagerex/moneymanagerex/tree/bills_date_setting_stef145g from the master branch. If this solution is good, the fix commit can be either merged into or cherry-picked using the master branch.

If we want to include this in the V1.2.0 releas

[2015-02-28 03:07] omalleypat commented on #381
@stef145g - I tested your changes and they seem to be working as described on mac. Thanks for your effort!

As far as whether to include it in 1.2, it would be nice since the fix makes repeating transactions much more usable on mac. The biggest issue is the home screen if the user can't figure out how to get the pay date out of 2001. I understand the translation is a concern.

[2015-02-28 15:08] siena123 commented on #310
In looking at this, the code changes to mmex are minor. The main work is integrating it into the project (both the build scripts and the installer packages).

[2015-02-28 15:44] loki36 opened #403 "Bug QIF Import on master branch under ubuntu"
Version of master branch crash on QIF import under ubuntu due to line 176 on file util.cpp
[code]

[2015-03-02 15:37] guanlisheng commented on #310
Cool and thanks

LiSheng

[2015-03-03 20:30] loki36 opened #406 "Budget question"
Hi,

I don't know if it's the good place to ask my question, But I'm looking for the best way to input my budget.

I want have a yearly budget :
with some entries for the year (i found how)
with some entries for the year by month (or other) (i found how two)
with some entries for one or some defined month (I don't find how do for yearly budgets).

And I want to be able to see this budget by month

[2015-03-07 13:07] vomikan commented on #377
There are only 3 types of account available in mmex: Checking, CC and Term.
But QIF supports:
Cash
Bank
CCard
Invst
Oth A
Oth L
Invoice
Because can not be compared directly to all types of accounts, the program simply ignores it.
I can't provide better solution in this case. Any way an account type may be changed manually.
I suggest to close this case. QIF import improvements should be provided fi

[2015-03-07 13:11] omalleypat opened #408 "Repeating Transfer"
I think a bug has been introduced with repeating transfers. To reproduce:

1. Set up a new repeating transaction. Set it to "Transfer" and choose two accounts and amount $1000. Click OK.
2. Enter the transaction, but change the amount to $800 on entering. The "From" account will have $800, but the "To" account will have $1000, despite the "Advanced" setting not being checked in the original repeat

[2015-03-07 13:14] omalleypat commented on #408
@stef145g - would you have a look at this one?

[2015-03-07 13:17] vomikan commented on #408
I can

2015-03-07 16:14 GMT+03:00 omalleypat <notifications@github.com>:

[2015-03-07 13:38] vomikan commented on #408
I can't reproduce this issue.
As soon as I change focus from AMount field - the To Amount changed as well at the same moment.

[2015-03-07 13:41] rgaiacs opened #409 "undefined reference to wxWebViewFSHandler"
I followed the instructions from http://sourceforge.net/p/moneymanagerex/wiki/Building%20mmex%20Debian%20%28Ubuntu%29%20Linux/ but

[code]

[2015-03-07 13:49] vomikan commented on #409
Hi

webkitgtk-3.0 installed? and wxWidgets should be compilled with webkit support.
Try to check
../configure | grep webkit

[2015-03-07 14:18] r-gaia-cs commented on #409
@vomikan Thanks for the help. Install `libwxgtk-webview3.0-dev` solved the problem.

[2015-03-07 15:28] jeffjl74 commented on #377
Fix #378 allows mmex to create Stock accounts for the QIF Invst account type. (And mmex cannot manually change a Checking account into a Stock account.)  The QIF "Oth A" should probably be imported as an mmex Asset account.  I'm not sure whether the "Oth L" liability account would also map to the mmex Asset account.

[2015-03-07 15:43] vomikan commented on #377
OK could you please assighn yourself?

[2015-03-07 22:01] stef145g commented on #408
@omalleypat - I have looked at this and I **have** been able to reproduce this problem.

@vomikan - I did this as a 3 stage process as follows: (Interpreting @omalleypat 's description)

1. Create a new standard **transfer** repeating transaction - Enter. **Result: All Good**
2. Edit the same repeating transaction, and change the amount. -  Enter - **Result: NOT Good**
3. Edit the same repeating t

[2015-03-07 22:29] stef145g commented on #377
fyi, https://github.com/moneymanagerex/moneymanagerex/issues/336
I am reorganising the way stocks and Assets work, by extending the existing functionality. This may impact on what you guys are trying to do.

Further developments has led me to create 2 new account types: Asset Accounts and Share Accounts. These account types don't appear on the home page as these account types are parking accounts

[2015-03-08 05:18] stef145g commented on #336
The Stocks part of this new feature is now advanced enough to become useful. As a result, documentation has been provided to explain the way it works.

[2015-03-08 13:21] guanlisheng commented on #336
I thought you have stopped this incorrect approach and are focusing on the v1.2 release and UX improvement.

LiSheng

[2015-03-09 00:07] stef145g commented on #336
My approach is **NOT** incorrect. I have requested to provide your solution but have failed to do so, so I have continued my development as a side line, and for others to evaluate.

As I continue development, I am discovering the benefits of my approach, because it caters for all the items I need Stocks and Shares to accomplish. I have provided documentation in order to make it easer for others to

[2015-03-09 01:00] vomikan commented on #336
IMHO

First of all we need released stable 1.2.0
It's quite ready after some cherry-picks.

Then we should discuss how to continue to develop.

I suggest to release 1.3 as is then stop develop new features.

Then we should create new DB structure for support items like Buy/Sell
Stocks, Dividents, Invoices
Multy currency Assets etc.
And after that - develop new features.

--Nikolay

2015-03-09 3:07

[2015-03-09 01:12] stef145g commented on #336
@vomikan - I totally agree with release of 1.3.

Creating a new database structure will take some to develop, and will need to be released as V2.x.x together with database upgrading facilities if this is the new approach to be taken.

[2015-03-09 01:43] siena123 commented on #383
In checking, It looks like we are not using any incompatible licenses such that we must use GPL3 but I would still recommend updating all instances to show GPL3.

[2015-03-09 02:19] siena123 commented on #336
I think this is the correct approach (providing a full transaction history capability). From the comments that I have seen from users requesting the feature, I don't think the end users would be happy with the other proposed solution of just modifying the initial balance.

[2015-03-09 07:46] guanlisheng commented on #336
Users always request new features and we are the people to make decision on what and how to delivery.
We should focus on existing and important thing instead of creating new feature (debt).

[2015-03-10 03:15] guanlisheng commented on #297
Any one want to take this ?

[2015-03-10 11:05] stef145g commented on #336
For interested users, continuing development for this has now been moved to https://github.com/stef145g/moneymanagerex/tree/stef145g_dev

[2015-03-10 12:42] vomikan commented on #408
https://github.com/moneymanagerex/moneymanagerex/commit/b8b2717851a627ed567e6d1f5e9dfd76f9a412d1

[2015-03-10 12:42] #408 closed

[2015-03-10 12:50] vomikan commented on #406
All budgets are independent. You can create budget for 2015 and for 2015-03 as well.
The budget for march of 2015 will not included into the yealy budget 2015.
Proper place to ask questions like his is a forum.
http://forum.moneymanagerex.org/

[2015-03-10 12:50] #406 closed

[2015-03-11 01:54] guanlisheng commented on #403
@loki36 , please send a pull request here
@vomikan please fix the remaining ones

[2015-03-11 02:01] guanlisheng commented on #396
@loki36 , this is a quite cool feature and would we have a more implicit naming to indicate that it's for checking transaction only.
a pull request is welcome!

[2015-03-11 02:02] guanlisheng commented on #381
@stef145g  and @omalleypat , would i close this issue now?

[2015-03-11 02:04] guanlisheng commented on #386
@loki36 , would you mind to help to complete this one since no other developer is using OFX

[2015-03-11 02:18] siena123 commented on #297
I was starting to look at this one so I will go ahead and work on it.

[2015-03-11 04:15] guanlisheng commented on #297
thanks and assigned the issue to you

[2015-03-11 07:34] #381 closed

[2015-03-12 00:41] #401 closed

[2015-03-12 12:50] MisterY opened #414 "Suggestion: Change string "repeating" to "recurring" (transactions)"
I believe the term "recurring" is more often used in relation to financial transactions so I'd suggest the visible labels to be renamed accordingly.
Some users also mention "recurring" here in the issue list so it seems that the term is a bit more suited for the purpose.

[2015-03-12 14:12] loki36 commented on #396
I could add a new field in "assignment" table to indicate on which table execute the query.
with that we could extend this feature to other transaction type in future.

This feature needs a pull request on database github repo.

[2015-03-12 14:37] loki36 commented on #386
with which approch ?
I 've create a way to convert oxf's file to qif with ofx2qif under ubuntu directly from mmex.
I have the exe for Windows but i don't know how to build the windows version and I haven't environment to do it
And I don't know if there is a libofx version with ofx2qif under mac.

I could try to develop directly a parser for ofx but i don't know if i will have enough time

[2015-03-12 16:04] loki36 commented on #403
Hi,

fix(QIF.import.ubuntu) #403 is already merge here in the master branch since Feb 28, 2015

[2015-03-13 02:50] guanlisheng commented on #403
Thanks for the confirmation and i will close it right now.

[2015-03-13 02:50] #403 closed

[2015-03-13 02:52] guanlisheng commented on #414
I second this change, totally.
@moneymanagerex/desktop-mmex-team , what's your option?a

[2015-03-13 04:23] siena123 commented on #414
I am fine using either term but I belief "recurring" is more grammatically correct.

[2015-03-13 14:49] MisterY opened #415 "Feature: Remember the last Amount along with the last Category"
Originally posted to the Android version, https://github.com/moneymanagerex/android-money-manager-ex/issues/45, but I see that this would require a database change so I'm posting here as well to see whether it fits with the overall goals.

A combination of
- saving the last amount and
- the preference setting of whether to use the saved amount for new transactions when the Payee is selected

would

[2015-03-13 16:54] jeffjl74 commented on #377
I am closing this because any further work would need the extended asset and share accounts that are still in development. Once those accounts are available, the QIF import into them can be revisited.

[2015-03-13 16:54] #377 closed

[2015-03-13 23:14] stef145g commented on #414
I agree to the change.

[2015-03-14 14:08] guanlisheng commented on #414
@MisterY , we think this request does make sense and we will make this change in v1.2.0 release.

[2015-03-14 14:12] MisterY commented on #414
Thanks guys! :+1:
We've got the same thing ready in the Android version and waiting for your go-ahead.

[2015-03-14 14:23] #414 closed

[2015-03-14 14:27] guanlisheng commented on #415
I don't think it's a valid request since the amount should vary.

[2015-03-17 22:17] AlessandroLazzari commented on #415
I agree with the comment by guanlisheng

[2015-03-19 07:06] guanlisheng commented on #415
@MisterY  would we close it ?

[2015-03-19 07:08] guanlisheng opened #420 "Add transaction from account tree directly"
I think it's pretty intuitive to create a new transaction via the account tree.
![mmex_account_2](https://cloud.githubusercontent.com/assets/721973/6725805/a783339e-ce49-11e4-980d-690585248209.png)

[2015-03-19 07:09] guanlisheng commented on #420
@moneymanagerex/desktop-mmex-team  any one want to take this issue?

[2015-03-19 07:43] MisterY commented on #415
Sure. The "duplicate transaction" feature makes up for it.

[2015-03-19 07:43] #415 closed

[2015-03-19 11:46] guanlisheng commented on #396
After thinking over, I find it is too complex to understand for end users .

[2015-03-19 11:47] guanlisheng commented on #383
Done or not? I want to close the ticket soon?

[2015-03-19 11:48] guanlisheng commented on #340
Any concern to make this change since I don't want to give users too many options

[2015-03-19 11:48] guanlisheng commented on #310
How is everything going?

[2015-03-19 11:49] guanlisheng commented on #306
Any update?

[2015-03-19 11:50] guanlisheng commented on #299
Hi, this ticket is for editors improvement purpose. In future we plan to support multi SQLs here

[2015-03-19 11:51] guanlisheng commented on #296
No one? I do think it's very useful

[2015-03-19 11:52] guanlisheng commented on #298
@Ioki36 this is the next version of general report framework

[2015-03-19 11:53] guanlisheng commented on #300
Ok if ms just provide that format

[2015-03-19 11:54] guanlisheng commented on #386
I think we have to integrate your code to MMEX then we can import it automatically

[2015-03-19 12:37] vomikan commented on #296
I like the idea but busy now.

2015-03-19 14:51 GMT+03:00 Lisheng <notifications@github.com>:

[2015-03-20 17:25] dwrj87 commented on #383
I'd be happy to do the work if it's decided on GPLv3

[2015-03-22 23:38] loki36 commented on #396
I can try to make a gui more easier to understand.
homebank use this interface :
![capture du 2015-03-23 00 36 34](https://cloud.githubusercontent.com/assets/2657181/6772113/d71f3000-d0f4-11e4-8e72-9b2f59e0cb00.png)

[2015-03-24 11:49] AlessandroLazzari opened #422 "Reccuring transactions layout grid"
In the window of reccuring transactions is not saved the layout of columns and their width. When thes user close this windows and re-open the layout will be reset

Size of columns that were modified manualy:

![image](https://cloud.githubusercontent.com/assets/7428710/6800893/3a8c8d8e-d223-11e4-956b-4dbddc4d3207.png)

After closing the window and re-opened

![image](https://cloud.githubusercontent

[2015-03-25 03:24] guanlisheng commented on #422
Thanks @AlessandroLazzari for the feedback.
@stef145g  , would you mind to take a look here?

[2015-03-25 03:26] guanlisheng commented on #396
ok and look forward to the new look & feel.

[2015-03-27 02:56] siena123 commented on #310
I have setup a branch under my fork to start working on this

[2015-03-27 03:07] guanlisheng commented on #310
Thanks and please keep us updates week to week

[2015-03-29 14:39] MisterY opened #427 "Feature: Indicate split in the recurring transactions list"
Similar to (https://github.com/moneymanagerex/android-money-manager-ex/issues/78), I believe it would be more user-friendly to display an unambiguous indicator that a scheduled transaction contains a split transaction.

I see that this is already implemented for standard transaction. So, the same thing could be added for the recurring transactions list.

Once a decision is made on the feature, we

[2015-03-30 07:16] stef145g commented on #422
Issued pull request could have cured the problem, but was closed due to it being found to be unacceptable. Someone else can investigate further.

[2015-03-30 08:19] stef145g commented on #422
I discovered a merge conflict with the pull request as a result of other commits to master. I have now fixed the resulting conflicts and successfully merged **stef145g/master** with **moneymanagerex/master**. This now resides in my repo.

[2015-03-31 10:22] MisterY opened #428 "Can not create a transaction with a negative amount"
When adding both a deposit and a withdrawal as parts of a split recurring transaction, the total amount is negative and therefore not accepted. The transaction can not be saved.

We are fixing this behaviour on Android version and need some guidelines on how this should work. The current behaviour on mobile version is confusing and on desktop (1.2.0 beta) does not work at all.
What is your view? T

[2015-03-31 14:46] MisterY commented on #428
Thanks for the comments. I've fixed the Android version to match the desktop.

[2015-03-31 14:46] #428 closed

[2015-03-31 15:27] howff opened #429 "datetime assertions failed"
Upon opening my database I am now getting these five error messages. After clicking Continue on all five they repeat again and again (about ten times) before the database finally opens. I've added a new transaction then closed and reopened but the issue persists. Has my database become corrupt?

../include/wx/datetime.h(1702): assert "tm.IsValid()" failed in Set(): invalid broken down date/time

.

[2015-03-31 17:44] loki36 opened #431 "QIF ability to import field "P" in notes"
the QIF format description said that P field can be a payee or a description
http://en.wikipedia.org/wiki/Quicken_Interchange_Format
P 	Payee. Or a description for deposits, transfers, etc.

My bank add the date in this field like this :
^
D5/3/2015
T-45.00
PMENS. P.E.L         03/15
MVIREMENT EMIS
LOther
^

if I concate this field with "M" field and put it in notes i can with autoassignment funct

[2015-03-31 17:59] loki36 commented on #431
![capture du 2015-03-31 19 58 38](https://cloud.githubusercontent.com/assets/2657181/6925557/74420d98-d7e0-11e4-9dce-b75d79a0f53c.png)
![capture du 2015-03-31 19 58 57](https://cloud.githubusercontent.com/assets/2657181/6925562/79b285aa-d7e0-11e4-8ae7-51b1c9e4ceb3.png)

[2015-04-01 03:20] guanlisheng commented on #429
would you mind to share your database for test purpose ?

[2015-04-01 03:21] guanlisheng commented on #427
@moneymanagerex/desktop-mmex-team  any one want to take this? @stef145g

[2015-04-04 13:05] guanlisheng commented on #383
i think we should on GPL2

[2015-04-10 13:51] MisterY commented on #300
Some hints on how they are doing it in Moneydance: http://help.infinitekind.com/kb/importing-data-from-banks-and-other-programs/moving-from-ms-money-to-moneydance

[2015-04-10 13:58] MisterY commented on #369
I don't see any changes in the latest beta. Is there a way to set the date format for QIF export?

[2015-04-12 09:36] stef145g commented on #427
An update for this is in the pull request: Bill deposit updates https://github.com/moneymanagerex/moneymanagerex/pull/449

[2015-04-14 20:17] MisterY opened #451 "Add credit limit to credit card accounts"
Credit card accounts usually involve a credit limit and it can be costly to hit this or go over. It would be useful to indicate how far is the credit on the credit card from this limit. This can be indicated visually.
For this there needs to be a limit value stored in the database.
If you agree, could you provide some hints in regards to where this would be stored so that we can also work on imple

[2015-04-14 20:36] AlessandroLazzari commented on #451
:+1:

[2015-04-15 00:40] stef145g commented on #451
:+1:  I like it. Hopefully we can work together and define the specifications first.

-------------------------------
Starting this discussion...
This would involve adding several fields to the Account table to expand the functionality.

**Proposal**
Provide a new table providing a 1 - 1 relationship, linking the credit record to the account record.

**New table Name:** CREDIT_V1
**Fields:**
CREDI

[2015-04-15 00:52] stef145g commented on #427
Implementation now merged into Master ...closing this issue.

[2015-04-15 00:52] #427 closed

[2015-04-15 01:08] stef145g commented on #451
Suggestion of changing **ID** field names in a table as follows:
CREDITID ...... set to **ID** .... primary field.
ACCOUNTID .. set to **ID_ACCOUNT**
This would allow easy identification of links, especially if there are a many links in the table.
Old tables cannot be changed for obvious reasons, but suggested for new tables use.

[2015-04-15 06:58] giuseppepaoletti commented on #451
Hi all,
sorry to say that in the past month I've had no time to dedicate to this
project, due to work and family problems.
Regarding to advanced credit card information, I have started to develop
a similar solution, but haven't done any commit for the above problems.
I've added a new table, named CREDITCARD_V1, with those fields:
CARDID integer primary key
ACCOUNTID integer NOT NULL UNIQUE (credit

[2015-04-15 07:11] MisterY commented on #451
Very good. A combination of fields from both suggestions would be great and offer more possibilities in the future. Minimum payment amount, due date, payment date, etc. These would allow for the features similar to what  @giuseppepaoletti listed. A recurring transaction used for credit card payment, that takes (or at least suggests) the full credit amount, or a minimum payment amount, would be a g

[2015-04-15 07:16] giuseppepaoletti commented on #451
Yes, "HeldAt" is already there, but only as a text field; with the
account id we can automatically transfer monthly amount from bank
account to credit card account.

Il 15/04/2015 09:11, Alen Siljak ha scritto:

[2015-04-15 14:28] stef145g commented on #451
Excellent.
It appears that we have similar ideas, but @giuseppepaoletti is more advanced.
Since you already have a plan in mind, please reassign this to issue to yourself.

--------------
Comparing the 2, we have 4 similar fields differently named , and 2 unique fields from each. This leads to 2 fields being added to the existing created table.
DUEDATE - text (date) ... data at which extra charges

[2015-04-15 14:35] thehobbit78 commented on #451
I think that in the next days I can make a commit of what I've already done, adding of course those two missing fields.

Il 15/04/2015 16:28, Stefano ha scritto:

Excellent.
It appears that we have similar ideas, but @giuseppepaoletti<https://github.com/giuseppepaoletti> is more advanced.
Since you already have a plan in mind, please reassign this to issue to yourself.

___________________________

[2015-04-15 16:57] dwrj87 commented on #383
The majority of the current files state GPLv2, as does the website. Therefore, since there is one for 2, one for 3, I recommend keeping with the status quo and I'll get rid of the reference to GPLv3

[2015-04-16 06:49] MisterY opened #455 "Cash account type"
This may have been discussed earlier. Is there a reason that there is no dedicated account type for cash accounts? I know that technically they are the same as checking accounts but in practice the difference is significant.
Especially when travelling, I would like to throw a glance at the balance of cash accounts in different currencies rather than mixing them with bank accounts from which I woul

[2015-04-16 07:13] vomikan commented on #455
This type shoul be.

[2015-04-16 10:01] MisterY commented on #336
Will the cash portion be handled in a (related) Checking account or in the Stock account?

[2015-04-16 10:05] MisterY commented on #336
It might be possible to release this in multiple steps. One could be just the stocks list/table. This could be used as a watchlist where prices can be tracked.
Then the related transaction history can be added to it.
We have a similar issue (https://github.com/moneymanagerex/android-money-manager-ex/issues/66).

[2015-04-16 14:11] stef145g commented on #336
@MisterY , I am not quite sure what you are asking here, but the Desktop version already has a "Watch list" as it were.
Provided that the share symbol, is correctly entered as **stock.exchange** the button on the bottom right, will manually update all the stocks for this portfolio. (this account) There is no automatic periodic update feature as this would require the application to have this page

[2015-04-16 14:19] MisterY commented on #336
I see. That makes sense as the history of trading will be available, as well as the list of all securities owned.
One technical thing that is a bit confusing is why mix the Asset & Stock records when they have different fields, as you mention yourself? I believe that having them separate would make things simpler to understand and build upon further. Assets and Stocks are not related in any practi

[2015-04-16 14:20] MisterY commented on #336
My earlier question was more targeted to see your line of thinking so that we could start with a simple watchlist in the Android version, at first.

[2015-04-16 15:01] stef145g commented on #336
The actual implementation for Assets and Stocks is indeed different, at a dialog level, but the underlying code structure for the TRANSFERTRANS_V1 table is very similar.

This new table is generally a link table. Two tables could be used one for Stocks, and one for Assets, but this would have a lot of code duplication, because the Assets table would be a subset of the Stocks table. This link table

[2015-04-17 13:18] MisterY opened #457 "Store the time of transaction"
We had a suggestion from the users and I'm also wondering what is the view on this.
Thanks

[2015-04-18 05:50] guanlisheng commented on #457
I think daily is enough

LiSheng

[2015-04-18 16:18] mek-x opened #459 "Recurring transactions repetitions counted badly in Cash Flow reports"
When set, for example, 10 repetitions and frequency as "monthly" - in Cash Flow report, payments are only reported for 4/5 months. It looks like repetitions are counted twice.

First spotted in version: 1.1.2 stable

[2015-04-18 21:36] MisterY opened #461 "Split transfers"
Following up on a request from the users. The request was to support split transactions where some or all of the splits are transfers to other accounts.
With the current design of the splits table, this is not possible.
Ref: https://github.com/moneymanagerex/android-money-manager-ex/issues/173

Yes, a user can create multiple transfer transactions to work around this issue. But it is not so simple

[2015-04-19 03:55] stef145g commented on #336
New pull request issued: https://github.com/moneymanagerex/moneymanagerex/pull/462
Related issues addressed by this: https://github.com/moneymanagerex/moneymanagerex/issues/326, https://github.com/moneymanagerex/moneymanagerex/issues/361

[2015-04-19 06:49] vomikan commented on #461
It possible to split transfers. But I closed this possibility on UI level
from 0.9.9.0 desktop version.
Split transfer does not supported by QIF specification.
I believe that transfer it's just transfer money from account A to account
B. Category of the transaction should be always "Transfer".
Any bank fees should be registered as additional witdrawal transaction if
needed.

Some users wont to hav

[2015-04-19 10:16] MisterY commented on #461
That's good enough for me.
There is a slight issue, though, with the Category and the transfer. A category is required (at least in the mobile version) even for transfers. Is this required, having also in mind QIF specification?

I was also thinking of forcing the Transfer category for transfers but this is not convenient because users can customize the category list and they might not even have T

[2015-04-19 10:38] vomikan commented on #461
We can ignore cagegid if transaction type is 'transfer'. In that case the
category may be deleted or renamed etc.
IMHO AIF has no category for tranfer.

воскресенье, 19 апреля 2015 г. пользователь Alen Siljak написал:

[2015-04-19 10:47] MisterY commented on #461
OK, sounds good. I created a task for us and will close this request. If anyone has any further comments, feel free to reopen or follow up.

[2015-04-19 10:51] MisterY commented on #461
Hm, I just check in Quicken. This is how the .qif record looks like for a split transfer:
[code]

[2015-04-19 12:09] MisterY commented on #369
I see it. Thanks!

[2015-04-19 22:54] guanlisheng commented on #457
I think daily level breakdown is enough

[2015-04-19 22:55] guanlisheng commented on #455
Agree that we should have such type

[2015-04-19 22:56] guanlisheng commented on #459
Please send a pull request to fix the issue

[2015-04-19 23:00] guanlisheng commented on #461
Seems we should support split transfer as well while I think it's too complex to understand

[2015-04-19 23:52] guanlisheng commented on #451
Could we reuse the initial value?

[2015-04-20 08:42] mek-x commented on #459
Already done. Thanks!

[2015-04-20 08:48] stef145g commented on #459
Fix already merged in master and v1.2.x branch.
Closing this issue.

[2015-04-20 08:48] #459 closed

[2015-04-20 09:16] MisterY opened #463 "Allow adding a new Payee from the transaction entry form"
When adding a new transaction, there can often be a new Payee. It is cumbersome to have to go to Payees form to enter it, then back to New Transaction to select.
Please allow adding a new Payee directly from the New Transaction form, in case a typed-in payee was not found in the list.

[2015-04-20 09:25] vomikan commented on #463
Just type the new payee name in payee field.

понедельник, 20 апреля 2015 г. пользователь Alen Siljak написал:

[2015-04-20 09:28] MisterY commented on #463
Now I get a prompt to add the Payee. :+1:

I did try thing before, I swear! :D

[2015-04-20 09:28] #463 closed

[2015-04-20 09:35] stef145g commented on #451
@guanlisheng Sorry, but I don't understand your question.

[2015-04-20 13:09] guanlisheng commented on #451
I meant use initial for credit limit purpose

[2015-04-20 13:11] MisterY commented on #451
How would one know how far they are from the credit limit in that case?

[2015-04-20 13:45] guanlisheng commented on #451
I don't think a credit card needs the initial value

[2015-04-20 13:53] MisterY commented on #451
Here's my opinion.
On one hand, it would be missusing the field for a different purpose, which is potentially confusing.

But the more important thing is that we **do** need the initial value. No more but no less than in other type of accounts.
For example, I have a habit of exporting the transactions occasionally and resetting the initial balances to their real balances. Hijacking the initial amo

[2015-04-20 15:19] vomikan commented on #451
Just an idea...
to add some functionality table credit_v1 has added (for example).
But may be better to create accounts_v2 table. Account_v2 may have more
addition fields like limit, loan percentage, image (logo) etc.

понедельник, 20 апреля 2015 г. пользователь Alen Siljak написал:

[2015-04-20 15:36] AlessandroLazzari commented on #451
I connect to the comment by Nikolay. IMO there is no need to create new
entities, but perhaps it would be easier to modify the table ACCOUNTLIST_V1
by adding the information that we need?
​

[2015-04-21 01:47] guanlisheng commented on #451
I think the existing column is enough.
For the confusion,  we can add comments to scheme and use the different function name in application to distinguish them for different accounts.

For the last rule, my goal is to reduce the under features. I have created some issues to disable the ability to choose the language since the more straightforward way is to determine it automatically.

LiSheng

[2015-04-21 05:35] MisterY commented on #451
I wonder what are the benefits of removing the existing working features. As I've mentioned, I am actively using the initial balance on credit cards. Now you are suggesting to remove the feature. That makes for a defective application, in my view.

As for the language selection, how would you decide which language the user wants to use?

[2015-04-21 11:21] guanlisheng commented on #451
What's the meaning of the initial value for credit card? Normally there is no such concept.

Most of the end users should follow it's OS language setting while the maintenance cost is pretty high

LiSheng

[2015-04-21 11:44] MisterY commented on #451
:)
The meaning of initial balance for credit card is the same as the meaning of initial balance for any other type of account. This is the starting balance of the account.
Since there already is this concept in the application, I would expect it to work for any type of account. This is also one of the reasons why I like this software compared to some others - it allows me to make decisions and do

[2015-04-22 01:36] guanlisheng commented on #451
To be honest, I still think credit card should have zero initial balance

LiSheng

[2015-04-22 05:23] MisterY commented on #451
Fair enough but please don't implement it.

[2015-04-22 09:07] stef145g commented on #451
All Credit Card accounts would start their life with a Zero balance in the real world. In the MMEX world the Credit Card account as for any account, would generally be initialised from an existing real world account.

When a user gets their credit card statement, there is a **Brought Forward** balance. A new MMEX user wanting to track their continuing account using MMEX would need to replicate thi

[2015-04-23 09:06] gabriele-v commented on #451
Credit card implementation it's really poor, it needs also an auto transfer every month that goes ahead of limit.

I think that we need another table to store this credit card settings, like limit, when reconcile, commissions, percentage etc..

[2015-04-25 01:49] stef145g commented on #326
Issue reopened. New solution required.

[2015-04-25 01:50] stef145g commented on #361
Issue reopened. New solution required.

[2015-04-25 01:51] stef145g commented on #336
Pull request closed.
New solution required

[2015-05-07 08:08] joshuader6 opened #471 "Month start"
How about an option to set the period that is displayed on the dashboard.
I for example get my main income at the 15th of a month but the dashboard currently resets on the 1st.

[2015-05-16 10:26] vaxul opened #478 "User interface scaling too tiny on high DPI devices"
Hi,

I'm new to this project. I really like to test this software. Unfortunately, it's hardly usable on my primary device.

Is it possible to help you fixing this issue?

Screenshots from Lenovo Yoga 2 Pro with Money Manager EX v1.1.2 with:
- 3200 x 1800 pixels
- Windows 8.1
- 250% scaling (by default)

![screenshot 8](https://cloud.githubusercontent.com/assets/3798226/7665712/1b82218a-fbc5-11e4-8

[2015-05-16 11:53] vaxul opened #479 "(German) language strings "out of sync"?"
I found wrongly spelled german translations in the "usage statistic" options.
![screenshot 10](https://cloud.githubusercontent.com/assets/3798226/7665998/dca94404-fbd1-11e4-9c12-2ef877821115.png)
It is spelled "Benutzungsstatistik" with an "u" instead of the umlaut "ü".
But it's odd, that this translation is fixed but not merged from the [Launchpad (number 951)](https://translations.launchpad.net/

[2015-05-17 11:11] dwrj87 commented on #478
If you go to Tools>Options>View Options>HTML Scale Factor, and increase it's value

[2015-05-17 11:27] vaxul commented on #478
There is no such option. Only an option for "Report Font Size"

[2015-05-17 11:30] dwrj87 commented on #478
Deleted my comment before you replied because I realised it was wrong :)

[2015-05-17 11:37] vomikan commented on #478
Font scaling feature will be available in v. 1.3.0.
But it's seems icons scaling needed.
17 мая 2015 г. 14:30 пользователь "David Jones" <notifications@github.com>
написал:

[2015-05-17 11:46] dwrj87 commented on #478
Ah, I run off of the development version.

Will the icons scale OK or does the resolution need increasing?

[2015-05-17 12:14] vomikan commented on #478
IMHO scaled icons will be looks bad. But i'll try.
Seems we need more icons 24*24, 32*32 as minimum.
Better to have svg icons then transform them into png -> xpm.
Best solution is used svg icons. Not sure if wxWidgets support it.

N.
17 мая 2015 г. 14:46 пользователь "David Jones" <notifications@github.com>
написал:

[2015-05-17 12:32] dwrj87 commented on #478
Here are the dimensions of the current images

about.xpm	XPM	16x16
accounttree.xpm[1]	XPM	16x16
addacctwiz.xpm[2]	XPM	116x260
appstart.xpm[3]	XPM	16x16
art.xpm[4]	XPM	14x16
assets.xpm[5]	XPM	16x16
attachment.xpm[6]	XPM	16x16
calendar.xpm[7]	XPM	16x16
card_acc_closed.xpm[8]	XPM	16x16
card_acc_favorite.xpm[9]	XPM	16x16
card_acc.xpm[10]	XPM	16x16
car.xpm[11]	XPM	16x16
categoryedit.xpm[12]	XPM	16x16
c

[2015-05-17 13:04] vomikan commented on #478
All small icons are 16*16 (if smaller than 16*16 it should be fixed).

воскресенье, 17 мая 2015 г. пользователь David Jones написал:

[2015-05-17 13:36] vaxul commented on #478
Current version on the main page is 1.1.2:
http://www.moneymanagerex.org/

But sure, I could try the latest git master.

Does this have any effect to the wizard windows (f.e. new transaction) too? Elements like the dropdowns are too small to display the content. (see 2nd screenshot in the initial post)

[2015-05-17 13:56] vomikan commented on #478
Font scaling only for html (reports and homevpage).
I've missed second screenshot. Will investigate this issue for dripdown
menu as well.

воскресенье, 17 мая 2015 г. пользователь vaxul написал:

[2015-05-17 19:44] MisterY opened #481 "Make Payee optional"
We have a request from users to make the Payee an optional field on transactions. The Category is required and that is usually enough.
This would cover simple scenarios where users only want to track spending per category, not going more detailed to provide every Payee.

What would be the consequences?

Linked item:
https://github.com/moneymanagerex/android-money-manager-ex/issues/278

[2015-05-18 14:46] vomikan commented on #478
I think the Panel Icons may be scaled or recreated for 32x32 size.
![32x32](https://cloud.githubusercontent.com/assets/6836805/7683140/c8f05cda-fd85-11e4-8f18-7cae99003c05.png)

[2015-05-19 07:32] Joker2k opened #483 "Decimals in transaction dialog"
Variable m_currency which first inited correctly in mmTransDialog::mmTransDialog constructor get erroneously overwritten in mmTransDialog::onFocusChange (called by mmTransDialog::CreateControls again from constructor). This leads to forcing currency to BaseCurrency in transaction dialog.

[2015-05-19 07:36] Joker2k opened #484 "Same currency in advanced transaction dialog"
textAmount_ and toTextAmount_ transaction dialog fields are using the same currency m_currency, which in fact is not how it suppose to do with advanced option in my opinion.

[2015-05-19 08:58] vomikan commented on #484
It's to avoid different mask usage in one dialogue.
For example
USD->EUR
1.25 -> 1,11

вторник, 19 мая 2015 г. пользователь Joker2k написал:

[2015-05-19 09:04] vomikan commented on #483
I think best solution would be to ignore all currencies setting except base
currency. In that case user will have thecdame input method for all
accounts and all doalogues.

вторник, 19 мая 2015 г. пользователь Joker2k написал:

[2015-05-20 07:17] Jurkis opened #487 "Just part of tooltip is shown"
Open stocks report "Last 30 days".
Move mose over the last day stock price.
Tooltip with date and price is open, but it's hidden behind vertical scrollbar.

![hiddentooltip](https://cloud.githubusercontent.com/assets/8310079/7720699/fb33140e-fed8-11e4-8141-fd08b6306231.png)

[2015-05-20 12:04] guanlisheng commented on #487
Great catch

LiSheng

[2015-05-20 14:37] guanlisheng commented on #481
i think one default payee is enough.

[2015-05-20 17:42] dwrj87 commented on #481
I think the request is more on the lines of not having to enter a payee. At the moment, you have to enter one

[2015-05-20 19:34] MisterY commented on #481
I looked at the technical side. It should not be a big deal to implement. Transfers, for example, have no Payee, so there is already a case like this.
I believe disabling the validation would be all that is needed. The reports already handle empty payee field correctly.

[2015-05-20 20:38] vomikan commented on #481
I vote to disable validation.

среда, 20 мая 2015 г. пользователь Alen Siljak написал:

[2015-05-20 21:48] MisterY opened #488 "Allow notes in Split Category transactions"
We have several requests from the users, and I also believe it can be useful sometimes and is a part of QIF specification, to have separate Notes for each of the Split Categories.

Linked issue in the mobile version: https://github.com/moneymanagerex/android-money-manager-ex/issues/253

[2015-05-21 07:47] Jurkis opened #489 "Account for Bitcoin needed"
Can you add account for bitcoin?

Nice to have: it should be able to map to my wallet (eg blockchain.info),

[2015-05-21 11:04] MisterY opened #490 "Add Tag/Project field to account transactions"
There is a user request to add Project field to the transactions, for easier grouping, reporting, etc.
We might consider adding Tags, for example, that could be used for this or any similar purpose. In this thread we could analyze the consequences.

[2015-05-21 11:33] vomikan commented on #490
I recommend to use the 'number' field for this or the 'notes' field.
But this request is suggested very often.
Seems special table with tags should be added.

четверг, 21 мая 2015 г. пользователь Alen Siljak написал:

[2015-05-21 20:44] dwrj87 opened #491 "Column Issue in Account View"
I right clicked on ID column, went to Hide/Show Columns > and deselected ID

As you can see from this screen shot, the column data is still there and getting screwed up along with the date

If I follow the same steps to re-enable the column, it doesn't work

![mmex column issue](https://cloud.githubusercontent.com/assets/7465843/7758561/6faa00fc-0002-11e5-8b70-013d8b3db5e2.png)

[2015-05-22 07:37] MisterY commented on #455
The initial implementation of this feature could be rather simple - by just adding another account type. What other changes would you foresee?

We are getting more of requests about this from the users. Could the implementation be moved to one of the earlier versions?

[2015-05-23 21:45] vomikan commented on #491
I can't reproduce this.

[2015-05-23 21:46] vomikan commented on #489
What do you mean "able to map"?

[2015-05-24 06:58] Jurkis commented on #489
I mean bitcoin account connect to online  wallet for data to be updated.

[2015-05-24 15:19] dwrj87 commented on #491
I'll see if I can do some digging to find out what is going on

[2015-05-25 05:36] #383 closed

[2015-05-25 10:58] vomikan commented on #487
https://github.com/moneymanagerex/moneymanagerex/pull/493

[2015-05-25 10:58] #487 closed

[2015-05-25 11:05] vomikan commented on #479
We just include translation from the forum: http://forum.moneymanagerex.org/viewforum.php?f=6&sid=8f449bd5c260f449ba508f76a7443a62. In future will used web interface like Crowdin.

[2015-05-25 11:05] #479 closed

[2015-05-30 14:21] vomikan commented on #422
Closed?

[2015-05-31 00:59] stef145g commented on #422
This issue is now fixed in both master and v1.2.x branch

[2015-05-31 00:59] #422 closed

[2015-06-01 07:11] pluk77 commented on #396
you can have a look here for another gui example.

http://www.mechcad.net/products/acemoney/tutorial.shtml

ps, this is probably the only feature thats stops me from using this application as it will take way too long to import all my bank statements.

[2015-06-08 17:47] MisterY opened #501 "CSV import does not populate the same fields as a manual entry"
Wondering what is the correct solution here:
https://github.com/moneymanagerex/android-money-manager-ex/issues/344

[2015-06-15 20:14] thePanz commented on #483
I can confirm this bug (see also: http://sourceforge.net/p/moneymanagerex/bugs/682/)

[2015-06-18 14:05] MisterY commented on #461
I agree it is difficult to explain the concept to someone who is not exposed to it.

The most common scenario, for example in Australia, is to withdraw some cash in the supermarket while paying for groceries with a bank card. The split will be indicated on the supermarket receipt, while the bank statement will show only one transaction.

The above example is a mix of Withdrawal and Transfer (bank

[2015-06-20 05:35] gabriele-v commented on #306
Working on it in next weeks

[2015-06-25 20:14] sliwowitz opened #509 "Typo in src/mmframe.cpp, line 86"
On Linux, this line fails due to case-sensitivie filesystem. The include should be model/Model_CurrencyHistory.h (the capital H)

./src/mmframe.cpp:86:41: fatal error: model/Model_Currencyhistory.h: No such file or directory
 #include "model/Model_Currencyhistory.h"

[2015-06-25 23:09] dwrj87 commented on #491
Closing this as while I can reproduce on my computer, I can't work out what is going on and I can't reproduce it elsewhere

[2015-06-25 23:09] #491 closed

[2015-06-28 03:28] guanlisheng commented on #509
Please help to fix the typo

[2015-06-28 06:48] gabriele-v commented on #509
Already fixed by another developer

[2015-06-28 06:48] #509 closed

[2015-07-03 07:40] artkrz commented on #396
Please make this happen. :+1:

[2015-07-05 15:38] siena123 commented on #310
Sorry about taking so long but I have successfully compiled a 32-bit windows version using wxWebViewChromium. I will rebase my version (1.2.0-Beta.2) to the master branch and push it to my branch for everyone to look at. I will also put together something telling everyone how I build it for Windows. The Mac and Linux builds will be similar to the steps for Windows although I don't have a current s

[2015-07-06 04:20] guanlisheng commented on #310
great to provide unified behavior cross all platforms and it would be the big step for the 2h of 2015

[2015-07-07 12:44] siena123 commented on #310
Code is branch "feat/310" in my repository "https://github.com/siena123/moneymanagerex.git".

Steps to build mmex using wxWebViewChromium:
1. Get chromium embedded using one of the following methods. Tested using release branch 2357.
    (https://bitbucket.org/chromiumembedded/cef/wiki/BranchesAndBuilding)
        A. Download released branch for required OS.
        B. Build from source code.

[2015-07-07 16:04] dwrj87 commented on #310
I can do some testing on Ubuntu and Fedora if needed.

1 problem I can see is that it's been put in to the Visual Studio project files, but not in to the Bakefiles. This means that if the project files are regenerated then it will all get removed from them, and I don't think it will build at all on Linux or OSX without it being in the makefiles

[2015-07-08 04:18] siena123 commented on #310
I just updated the bakefiles.

I also found a stashed copy of the changes that I thought I lost and did not see anything different so the one known issue is likely related to getting the latest of everything. I will continue to work on the known issue.

[2015-07-12 17:02] siena123 commented on #310
I have fixed the issues that I was seeing on Windows. If everything looks ok for other platforms (OS X, Linux) then I will send pull request to merge with master.

[2015-07-12 20:10] gabriele-v commented on #310
I haven't time to test, but how much will it increase MMEX binary files?
If I remember correctly, Chromium was quite big..

[2015-07-13 04:30] siena123 commented on #310
For 32-bit Windows: about 68 MB
Extra Files: 68 MB
mmex.exe: 0.12 MB (10 MB with ;9.88 MB without)

[2015-07-13 11:39] gabriele-v commented on #310
Do we justify 70MB (about 7x size increase) for this? Personally I don't know..

[2015-07-13 16:14] pentix commented on #304
+1 for other cloud storages than Dropbox

As I see, Dropbox Sync is already implemented, how about Owncloud or an FTP-Server?
I'd like to host my financial data myself...

[2015-07-14 03:38] guanlisheng commented on #304
Hi @pentix , Android version has implemented Dropbox sync while desktop is not yet.

[2015-07-14 03:39] guanlisheng commented on #310
I do have concern here for such size increase. maybe we have to pause the processing

[2015-07-14 03:52] siena123 commented on #310
Using the version 1.2.1 of the 32-bit Windows release as a base line the total install size of mmex is 16 MB so the extra 68 MB would only be about 4.25 times increase in total install size for the application. The size of mmex.exe is 2.34 MB in the released version. The 10 MB that I gave above is not the compressed version that gets distributed nor the full install package size.

[2015-07-14 03:56] gabriele-v commented on #310
Maybe it's possible to compress Chromium files too?

[2015-07-14 07:22] pentix commented on #304
Oh yes, thank you for your answer! I figured out a small workaround
so I'm independent of other cloud services:

1. Create a 2-way-sync using "FolderShare Lite" on Android
2. Creating a 1-way-sync for each direction using rsync on my Linux desktop

On-the-go entered accounting details are synced up to my SFTP-Server and I can
easily pull them down using rsync. After paying bills and stuff on my de

[2015-07-15 06:01] #484 closed

[2015-07-15 06:03] guanlisheng commented on #471
@joshuader6 , we have fiscal year here while we don't think a fiscal month would be normal case.

[2015-07-15 06:05] #457 closed

[2015-07-15 06:08] guanlisheng opened #528 "Pagination support for all item list"

[2015-07-15 15:10] MisterY opened #529 "Introduce Asset Classes in Investments"
Hi,

Here is a proposal for the introduction of Asset Classes, related to investments.
Asset Classes would be a simple user-editable list and would contain items like: international shares, domestic shares, value, small-cap, government bonds, etc. Each user can customize the list but we could also suggest some basic list initially.

Asset Allocation items (in the list above) contain basically just

[2015-07-16 08:35] MisterY opened #530 "Add transaction type to categories"
This is originally a [user request in Android app](https://github.com/moneymanagerex/android-money-manager-ex/issues/409) but it refers to the application in general.

The request makes sense in terms of grouping. It should not, however, prevent entering a Withdrawal for an Income category as there would be no way to create "offset" transactions in that case.

[2015-07-16 10:19] vomikan commented on #530
I don't remember for what exactly this request was.... May be for QIF
import... I've created function to detect if category withdrawal or deposit
by total summary of the category.
I think it useless request.

Regards,
Nikolay
16 июля 2015 г. 11:36 пользователь "Alen Siljak" <notifications@github.com>
написал:

[2015-07-16 15:50] guanlisheng commented on #529
@stef145g and @moneymanagerex/desktop-mmex-team, what's your thought?

[2015-07-19 10:00] MisterY opened #531 "Bring back the Net Worth report"
A request from a user via Google Play:

[2015-07-19 13:08] siena123 commented on #531
I think the report that you are referring to is the Account Summary Report which was moved to General Reports (https://github.com/moneymanagerex/general-reports). It can be added back using the General Report Manager.

[2015-07-23 11:29] MisterY commented on #488
More requests from the users.

[2015-07-31 23:02] AgentB1 opened #536 "assertion failed (datetime)"
There have been several of these transient issues open and closed.  #256 was one example.

Today 31st July on starting mmex I received the same errors on startup

assert "IsValid()" failed in SetDay(): invalid wxDateTime

All previous issues have been logged on 31st day of the month,

Restarting at midnight 1 August - the errors disappear.

This should help address the issue.

Ubuntu 14.04
MMEX 1.

[2015-07-31 23:20] AgentB1 opened #537 "Enhancement request for Transaction Filters"
Date Range has drop down pre-selections to be

This month
Last month
This Year
Last Year
This Financial Year
Last Financial Year

[2015-07-31 23:23] dwrj87 commented on #536
I've had these messages suddenly pop up today as well

[2015-07-31 23:43] AgentB1 opened #538 "Reconciled Statement Date on Accounts"
Most accounts are dynamic (changing) in the last month and older transactions never change.

Each month the bank statements need reconciling.

It would be helpful to have a "Latest Reconciled Statement Date" or "Statement Date" on each account.

If enabled and a date set, no transactions can be removed, altered or added, up to to and including that date.

If disabled, all transactions can be modif

[2015-08-07 02:48] N6REJ opened #542 "Savings Account missing."
There is no savings account category in 1.2.2

[2015-08-07 19:20] tiker opened #543 "Error SUBCATEGORY_V1: ## not found"
I've found a way to create the following error with the latest version of MoneyMangerEX:
SUBCATEGORY_V1: ## not found

This error eventually prevents using MoneyManagerEX and requires terminating the application from the task manager.  It will re-occur under certain conditions when re-opening the database file.

To reproduce the error, do the following:
- Create a new test database, default settin

[2015-08-10 14:29] guanlisheng commented on #543
@vomikan what do you think?

[2015-08-10 20:18] vomikan commented on #543
Seems a bug. I'll check later how to fix.

2015-08-10 17:29 GMT+03:00 Lisheng <notifications@github.com>:

[2015-08-11 09:12] MisterY opened #544 "Request for additional account types - Assets/Liabilities"
We have a user request. Please post your comments.
While we do have Assets, this seems a bit different. I assume the goal is to have a more accounting-oriented approach and is targetting businesses more than individuals. See below.

1. Bank accounts
2. Credit card accounts
3. Investment accounts
4. Fixed deposit accounts

1. Debtor (or Other assets 其它资产)
2. Creditor (or Other liabilities 其它负债)
The

[2015-08-12 14:18] MisterY opened #545 ".qif import stores negative amount in ToTransAmount"
Hi, we have a report from a user who exported and imported the data via .qif file:

Qif file available here: http://pastebin.com/8vvB4R0x

Should you need the .mmb files, I can share/send. However, this should be obvious.

Transactions created via MMEX application use positive numbers in the ToTransAmount column. Transactions created via Qif import have negative amounts. Please synchronize so that

[2015-08-13 23:58] siena123 commented on #543
I have an idea what is going on with this issue. Nikolay, I will try to post something soon.
- James
----- Original Message -----
From: Nikolay <notifications@github.com>
To: moneymanagerex/moneymanagerex <moneymanagerex@noreply.github.com>
Sent: Mon, 10 Aug 2015 16:18:02 -0400 (EDT)
Subject: Re: [moneymanagerex] Error SUBCATEGORY_V1: ## not found (#543)

Seems a bug. I'll check later how to fix.

[2015-08-14 18:35] jicho opened #547 "Web App API update?"
Hi,

I'm trying out MMEX, looks good and I like the web app connection... Talking about the app, after installing it I get the message that the API version of the app is out of date. What are the changes? Maybe it isn't a big fix and I can change it to see it work...

I also added an issue about the API here:
https://github.com/moneymanagerex/web-money-manager-ex/issues/3

Thanks for the reaction

[2015-08-15 10:48] MisterY opened #548 "Prevent setting a Category on Transfers"
I am wondering what is the view on this issue.
Currently it is possible to assign a Category on Transfers. My suggestion is to disable category selection on these transaction but am wondering what are the benefits of having it as is currently.
Most other systems will simply use the destination account in the Category field so the question is do we need to have both?
Selecting the Transfer transact

[2015-08-16 01:23] stef145g commented on #548
Personally, I think this proposal is a bad move.

There is a great benefit to enable the user to set a category for transfers. It gives greater scope to track income and expenses from different sources. From a savings account, we could transfer money to several other accounts for different reasons. The category provides a reason for the transfer. We can now filter the category to see how much we h

[2015-08-16 09:05] MisterY commented on #548
I see your point, Stefano. In principle, I also agree that more information is better, as opposite to less information. One thing that still somehow does not fit for me is the following. As Transfers are simply moving money between one's own accounts, and are neither Deposits nor Withdrawals so there is no in/out-flow of money from the total balance, I do not understand why they would need to be c

[2015-08-16 16:37] MisterY opened #549 "Add Savings account type"
Similar to Cash, this is a relatively minor technical change but is a significant distinction for the users. Behaviour is identical to Checking account.

This request comes from end-users. I see a benefit in that the accounts can be grouped by type easier.

[2015-08-16 16:55] MisterY commented on #549
Oops, there is already #542

[2015-08-16 16:59] MisterY commented on #304
Just additional reference so we can synchronize efforts:
https://github.com/moneymanagerex/android-money-manager-ex/issues/265

[2015-08-16 21:57] stef145g commented on #542
The account types when setting up an account are now: Checking, Term, Credit Card, Investment.
While the types **Term** and **Credit Card** align up with the home page item separation, the others don't.

A simple solution is to change the type **Checking** to its original label of **Checking/Savings** leaving everything else as is.

To rectify the home page alignment problem would require the chan

[2015-08-17 19:12] MisterY commented on #542
Perhaps it is technically warranted to have bank accounts together. From a user perspective, though, there is a significant difference. Savings accounts can usually transfer funds only to a checking account, they earn a higher rate of interest, etc. So there is a practical difference between the two.
The question we have is whether we want to accommodate people who are looking for more categorisat

[2015-08-17 23:51] stef145g commented on #542
If you want to do this, then that is fine but the real questions become:
* How complicated do we want MMEX to be?
* What is the purpose for having and using MMEX?

What you say is completely true, but this belongs in the real world.

For me, I want MMEX to replicate real accounts that I maintain in a financial institution generally being a bank. These can be from the same or different banks. These

[2015-08-18 03:19] MisterY commented on #542
That is correct and this requires more discussion on what scenarios do we want to support. My main point is the following: if we offer (hypothetically) 10 different account types then most people will be able to set up their accounts the way they want them. If we offer only two then the usage is much more limited.

Even if there are 30 different account types, your scenario would fit or one could

[2015-08-18 09:53] joshuader6 opened #550 "Reports: Category Total"
How about the ability to only show the Top level groups as a sum of all the subgroups in the Categories Reports?

[2015-08-18 10:17] joshuader6 opened #551 "Archive Accounts"
It would be nice if we could archive accounts. So the account won't be shown in the overwiew.

[2015-08-18 17:36] jicho commented on #547
See comment in link in the previous post. No problems anymore at this side :)

[2015-08-18 17:36] #547 closed

[2015-08-19 01:26] stef145g commented on #544
I basically agree.
I refer to my 2nd posting I made on a similar issue: **Savings Account missing** https://github.com/moneymanagerex/moneymanagerex/issues/542

A few months ago I posted a pull request that basically did a similar thing, which has since been withdrawn. It added subsections: Share Accounts, Asset Accounts, and Loan Accounts. I stopped working on this functionality to add further re

[2015-08-21 09:26] vomikan commented on #550
It's quite easy to build GRM report. As help on the forum.
http://forum.moneymanagerex.org/viewforum.php?f=16

[2015-08-21 09:26] #550 closed

[2015-08-21 09:35] vomikan commented on #548
We can sutisfy this demand but in future will have others with revert this feature. I suggest to do nothing.

[2015-08-24 01:49] lightonflux opened #553 "FinTS/HBCI funtionality?"
Hi,

after searching several sites related to the project i couldn't find if moneymanagerex supports HBCI/FinTS. Does it?

https://en.wikipedia.org/wiki/HBCI

[2015-08-24 04:57] vomikan commented on #553
It does not supported.

[2015-08-24 20:25] MisterY commented on #529
I'm more than happy to implement this in the Android version. How should we go about the database upgrade?

[2015-08-26 01:55] siena123 commented on #551
Account Status (open, closed) does what you are asking and can be accessed in account settings.

[2015-08-28 10:44] MisterY commented on #336
Looking at other financial software packages, I'm only familiar with the way Quicken works and it covers many scenarios.
I think they are hiding some layers on the surface (UI), while the base for investments are two accounts - one for cash transactions and one for portfolio. This is pretty much what we have now.

Adding a linked cash account to an investment account covers the scenarios for trans

[2015-08-28 11:03] MisterY commented on #336
Some common scenarios here.
Account identifier, type, notes:

1. MyBank, Bank
2. MyBroker, Bank, (hidden ?)
3. MyPortfolio, Investment

# Scenario 1: Transfers to/from investment account

Regular Transfer transaction from MyBank to MyBroker. Both accounts are of Bank type. The bank account for investment cash (MyBroker) should have the name synchronized with the actual portfolio account of Investm

[2015-08-28 11:29] MisterY commented on #336
I hope this explains the concept graphically:

![investments](https://cloud.githubusercontent.com/assets/462445/9545329/c21663c0-4d88-11e5-8ad7-e187d266ff3d.png)

[2015-08-28 12:24] MisterY commented on #326
Please see https://github.com/moneymanagerex/moneymanagerex/issues/336#issuecomment-135741409 for my suggestion. It is very simple yet effective. And we have almost all the infrastructure to support it.

[2015-08-28 12:46] MisterY commented on #336
# New Concepts:

- <strong>Securities</strong> (watchlist) with symbols, name, price
- <strong>Lots</strong> for managing each purchased lot of securities (not all securities are stocks as we could also be buying bonds or ETFs or whatever else). Lots are a virtual concept, solved by linking to the specific purchase record. Please see below for graphical explanation.
Lots share the same Id, usually

[2015-08-28 13:37] MisterY commented on #501
Solved!

[2015-08-28 13:37] #501 closed

[2015-08-28 14:11] MisterY commented on #336
I see that this solution is quite similar to the one proposed earlier by @stef145g. And the Assets could also be implemented using the same underlying tables.
The only thing different would be the set of Operations allowed on those. The UI would handle Lots for stocks while the concept of Lots would not exist for Assets. Still not sure if it is worth mixing the two (stocks and assets) in the same

[2015-08-29 01:37] stef145g commented on #336
@MisterY , I like your analysis of this which is very similar to the analysis I originally did. The difference being the naming terminology.

My implementation required a connection to be made from the checkingaccount_v1 table to the stock_v1 table, to include the missing fields. This modifies the functionality of the stock_v1 table to represent a unified portfolio view, as this would contain all

[2015-08-29 02:37] stef145g commented on #336
Using my implementation, here are some screen shots of a test stock/shares transactions.

This is a newly created database using a stock broker.
![stock_broker_jim](https://cloud.githubusercontent.com/assets/6927151/9560081/18484e80-4e46-11e5-99f8-dfa131e219de.png)

Here we gave added some bank accounts and share accounts. The share accounts have also been added to the Broker Jim portfolio
![broke

[2015-08-29 23:47] Dialga opened #556 "Set transferred date"
Transfers are not immediate between two different banks, if I were to transfer money from an account on Friday the money will would not show up into my other account until Tuesday, which messes with the history if I made any transactions on the weekend.

[2015-08-30 05:20] vomikan commented on #556
That is true. But in many cases we can ignore this fact to have simple UI.

[2015-08-31 00:43] tiker opened #557 "Copy & Paste into "Amount" field with "$" in the pasting data causes crash"
Copying money amounts which include the $ and pasting into a new transaction causes the program to crash.  Also tested with characters such as "dfasdfsd".

While these are not valid characters to add to the "Amount" field, there should be something that validates the data to prevent the application from crashing.

[2015-08-31 11:28] dwrj87 commented on #536
31st again today and they've popped up

[2015-09-03 07:21] MisterY commented on #490
Tags can be extremely helpful if one is doing anything but the very straightforward scenarios. I'm getting this request often from people who want to migrate from other apps.
Not having this pretty much excludes MMEX from their list of choices, which is unfortunate considering how simple this concept really is.
Examples of situations that requires tagging would be tracking income from the same Pay

[2015-09-09 09:21] MisterY opened #558 "Add "All Time" period for Category reports"
A request via email from users to add "All Time" period to the desktop version.

[2015-09-09 19:14] vomikan opened #559 "Tmp folder permissions"
If mmex on linux host started for one user then tmp/mmex_rep folder will be created.
If mmex started for other user theare are no write permissions for mmex_rep folder.

Решил я запустить mmex у себя на машине под другим пользователем (дома у всех пользователей машины свой аккаунт). Но ничего у меня из этого не получилось. В tmp директории создается папка mmex_rep, которая уже существует с правами

[2015-09-10 15:47] dwrj87 commented on #559
Can confirm this

It might be an idea to create a different temp folder for each user, instead of making the it world readable, as otherwise another user might be able to get access to some details (everything that is displayed in HTML shows up in that folder

[2015-09-11 15:06] #536 closed

[2015-09-11 15:13] #471 closed

[2015-09-11 15:21] guanlisheng commented on #556
will close it soon if there is no additional discussion.

[2015-09-11 15:23] #553 closed

[2015-09-11 15:23] #551 closed

[2015-09-11 15:25] #530 closed

[2015-09-12 11:52] #556 closed

[2015-09-12 11:52] guanlisheng commented on #543
any update about this ticket @siena123 @vomikan

[2015-09-13 16:12] pjsoni opened #560 "Auto linking of transfers"
I'd like to have a feature for automatic linking of transactions for transfers.

For example, you have multiple transactions with transfer to/from accounts. currently, you need to manually edit transaction and MMEX creates duplicate transaction for the same. I'd suggest to have automatically link those transactions (transfers). Also it would be nice to have a context menu item for navigating the m

[2015-09-14 00:33] siena123 commented on #543
This fix has already been merged in to the main trunk.
        https://github.com/moneymanagerex/moneymanagerex/pull/546----- Original Message -----
From: Lisheng <notifications@github.com>
To: moneymanagerex/moneymanagerex <moneymanagerex@noreply.github.com>
Cc: siena123 <siena123@mstar.net>
Sent: Sat, 12 Sep 2015 07:52:49 -0400 (EDT)
Subject: Re: [moneymanagerex] Error SUBCATEGORY_V1: ## not fou

[2015-09-15 09:35] Stonyjohn opened #561 "Recurring Transactions transfer date"
MoneyManagerEx 1.2.2.
The date shown on the listing when a Recurring Transaction is transfered always reverts to the current date. Also there is general confusion between "Payment Date" and "Due Date".I have detailed the problem here:
http://forum.moneymanagerex.org/viewtopic.php?f=5&t=6045&start=10#p12687

[2015-09-18 13:04] avma opened #562 "reoccurring transaction error"
Hi,

in new reoccurring transaction screen, while selecting the account, an error message pops up :"CURRANCYFORMATS_V1:  47 not found".
see attached image
My regards
Avi
![capture](https://cloud.githubusercontent.com/assets/7680483/9954906/718c0cfc-5df5-11e5-80ad-a2a434713f37.PNG)

[2015-09-22 09:31] MisterY opened #563 "Disable different amounts for the transfers in the same currency"
Users report that the desktop application allows "Advanced" mode for transfers, where amounts in the same currency can differ.
This is either a bug or financial alchemy as I do not understand how is it possible to transfer funds by debiting €5 from one account and crediting only €3 to another. What would happen to the missing €2?
Thanks

[2015-09-22 20:28] thePanz commented on #483
Any news on this issue? Using two credit accounts with different currencies is problematic now!

[2015-09-25 09:41] sempiternum opened #564 "Negative zero balance"
I noticed that recenlty i get a "negative" zero balance, instead of a normal 0.00[currency] balance.

Screenshot provided

![2015-09-25_11-38-37](https://cloud.githubusercontent.com/assets/5978745/10097586/42bc9ea2-637a-11e5-9467-fcec9a486cb3.png)

[2015-09-25 11:45] pjsoni opened #565 "Add closing date for credit card account"
Add option to specify statement closing date for credit card accounts which can be used to create reminders for the payment.

[2015-09-28 10:56] MisterY opened #566 "Can't read database in Linux version"
Please see
https://github.com/moneymanagerex/android-money-manager-ex/issues/536
and
https://github.com/moneymanagerex/android-money-manager-ex/issues/517

[2015-09-29 18:37] gabriele-v commented on #563
Consider example where your bank take 2€ for operation, personally I'll create two operations but there are some people that prefer to have all in one transaction.

[2015-09-29 18:41] gabriele-v commented on #560
It's an interesting idea that could be expanded to all transactions type.
When click "liked transactions" it will be opened a small window with related transactions and vice-versa.
Unfortunately currently I have no time to develop it, maybe someone could help.

[2015-09-29 18:42] gabriele-v commented on #562
Seems that currency of that account don't exist.. Try to re-set the currency for that account.

[2015-09-29 18:44] #549 closed

[2015-09-30 05:16] MisterY commented on #563
Whether some prefer it or not, the calculations will still be incorrect. The real solution to that is the support for split transfers. That way there would be one transaction that would include both the transfer and the bank charge. Let's not debilitate the program just because some find it easier that way. Who would remember that it was the bank that took those 2 Euros? There is no record of that

[2015-09-30 09:36] MisterY opened #567 "Minimum account balance"
A request from the users for implementation of the minimum account balance. The user is notified if the new transaction would bring the balance below the set minimum.
This would require a new field, so I'm adding a request here. Related issue for Android - https://github.com/moneymanagerex/android-money-manager-ex/issues/547.

it could be works as reserve for checking a/c's.
if a checking A/c havi

[2015-10-01 14:58] guanlisheng commented on #563
@stef145g @vomikan any thought ?

[2015-10-01 17:43] avma commented on #562
I have checked of course that the account mentioned (as well as all my other accounts) is properly set and has a default currency assigned to it.This error happens with another account too "CURRANCYFORMATS_V1: 29 not found".
Some more information: I have checked of course that the account mentioned (as well as all my other accounts) is properly set and has a default currency assigned to it.This er

[2015-10-01 17:47] gabriele-v commented on #562
Could you provide a sample DB with accounts only (renamed if you want) and cleaned from any transaction?

Send it to moneymanagerex@gmail.com

Thanks

[2015-10-01 18:05] avma opened #568 "Reoccurring transaction strange behavior"
Hi,

Poking around 'Reoccurring Transaction' i noticed a strange behavior: While editing an existing Reoccurring Transaction (see attachment #1),  after selecting an account from the drop down box and pushing the OK button (see attachment #2), the transaction amount changes as well as the numbers format from #,###.00 to #.###,00 (see attachment #3).

My best regards
Avi
![recurr_1](https://cloud.g

[2015-10-02 00:51] stef145g commented on #563
As a transfer is not accounted as income or expense, corrections to balances can be made using the Advanced Transfer feature such as currency transfers, or advanced circumstances.

Same currency transfers, would only be used by some user for special circumstances, such is the case where we need to record actual income and expense for tax purposes, but we don't want to record income or expenses tha

[2015-10-02 10:52] vomikan opened #569 "Can't delete any currency"
Subj.

[2015-10-02 10:57] vomikan commented on #569
https://github.com/moneymanagerex/moneymanagerex/commit/73df5c708e9165d1fa617221e084d13377e57b69

[2015-10-02 10:57] #569 closed

[2015-10-02 11:55] avma commented on #562
sure can...on its way

[2015-10-02 14:22] vomikan opened #571 "Transaction Statistics table has no contents"
Subj

[2015-10-02 15:01] gabriele-v commented on #562
Fixed, will be ok in next version.
This fixes also #568

https://github.com/moneymanagerex/moneymanagerex/pull/573

[2015-10-02 15:01] #562 closed

[2015-10-02 15:01] gabriele-v commented on #568
Fixed PR #573

[2015-10-02 15:01] #568 closed

[2015-10-02 15:03] gabriele-v commented on #567
I think that we have finally to decide a common and simple way to patch DB adding\removing\updating filelds.

@guanlisheng what do you think? We already spoken about it but without any decision

[2015-10-02 15:10] MisterY commented on #567
I would contribute some thoughts from this issue - https://github.com/moneymanagerex/database/issues/4

As Android provides a convenient way to upgrade a database, by providing an onUpgrade method that gets executed when the database needs to be upgraded and provides both old and new version numbers, it is very easy to upgrade by calling only the migration scripts for the missing versions.

Each m

[2015-10-02 15:44] guanlisheng commented on #567
@gabriele-v  i'm fine if we could find a easy way to patch database.

[2015-10-03 12:21] avma commented on #562
great thanks

[2015-10-10 08:16] vomikan opened #575 "DEB package needed"
http://forum.moneymanagerex.org/viewtopic.php?f=25&t=6157

[2015-10-10 14:54] dwrj87 commented on #575
I think the best option would be to update the PPA, and then you can just copy that from there to the website. I can try and figure it out and make a script if you want

[2015-10-11 13:00] vomikan commented on #575
I agree that PPA would be best option. But DEB pkg for v1.2.2 is OK becouse
it may be prepared quickly.

суббота, 10 октября 2015 г. пользователь David Jones написал:

[2015-10-11 16:44] dwrj87 commented on #575
Compiled a deb package on my computer and uploaded it here - http://s000.tinyupload.com/index.php?file_id=00321309975761478300

If it doesn't work, give me a shout and I'll try and do better

[2015-10-11 20:46] nasko commented on #575
Thank you guys for bothering!

I just installed the DEB package without any problems. However, when I try to run the program, I get an error:

[code]

If I can get you a more detailed debug data, please give me a hint on how to acquire it.

[2015-10-11 20:57] nasko commented on #575
I installed `libwxgtk-webview3.0-0`, but now I get a different error:

[code]

[2015-10-11 22:04] dwrj87 commented on #575
I think that the easiest way would be to get a PPA working, as that can take in to account different library versions on different versions of Ubuntu. I shall attempt it tomorrow

[2015-10-19 20:18] dwrj87 commented on #575
I'm afraid that I haven't been able to figure this out, and I don't think I'll have the time to do it sorry

[2015-10-22 13:28] #571 closed

[2015-10-22 13:34] vomikan opened #576 "Closed account transaction edit"
If account closed on edit transaction account field became empty.

[2015-10-22 13:37] vomikan opened #577 "EOL lost while export from or import to CSV file."
http://forum.moneymanagerex.org/viewtopic.php?f=23&t=6233

I noticed in the desktop version (Windows 7) 1.2.2 that I cannot import or export line breaks in the note field.
My delimiter character is a {TAB}. Neither a line break using the {ENTER}-key or escaping them using "\n" did work.

If I create a note like this:
a
b

in the CSV-file it gets outputted as
a b

[2015-10-27 15:18] otheus commented on #455
LOL, I must be stupid, because this is the first "show stopper" I came across when using this otherwise nice-looking project.  Oh look! IT's been filed as a feature request! Oh look, it's been removed as a feature request and put on hold?

I don't know how YOU guys manage your money, but ... some of us actually still use cash and would like to track expenses as such.

So, please treat my gripe as

[2015-10-27 15:32] vomikan commented on #577
https://github.com/moneymanagerex/moneymanagerex/commit/a5ca9dcc223436cfe87491ec781161871e169c6e

[2015-10-27 15:32] #577 closed

[2015-10-27 15:36] vomikan opened #579 "CSV date with time"
I can't import this csv file provided by "Tinkoff" bank
[code]

[2015-10-28 02:21] stef145g commented on #455
@otheus, What is the purpose of a grouping "Cash Account Type", and what specifications would you believe it should have?

To my understanding, an investment account such as a bond or term deposit accounts would be grouped under Term Accounts. Accounts such as wallet, would actually be a Bank/General account.

My wallet account is a cash account, where I make expenditures and transfer money from g

[2015-10-29 12:49] otheus commented on #455
I am using version 1.2.2 as provided by PAF (portable apps framework); application update marks it as "latest available".  I see no way of keeping track of cash that I have on hand and spend. The use-case you describe is similar to what I expect in general. When I withdraw money from an ATM or cash a cheque from my checking account, that should count as a transfer from that Cheque account to the C

[2015-10-29 13:30] vomikan commented on #455
@Otheus

I've created account "My Bank" and second one "My Cash" (all accounts type
is Checking).
Then I transfer a lot of money at the same time from "My Bank" to "My
Cash". Then spend real money (cash) from account "My Cash" and categorize
it.

Regards,
Nikolay

2015-10-29 15:49 GMT+03:00 Otheus <notifications@github.com>:

[2015-10-29 15:21] otheus commented on #455
Thanks @vomikan . I had taken an extra large dose of "Stupid pills" yesterday.

I still highly recommend a "Cash account" that is like a "checking account" with automatically cleared transactions.

[2015-10-29 15:24] MisterY commented on #455
I believe this feature is technically simple to implement and rather common in the finance applications. For example, Cash accounts do not have institutions, account number, interest rate, etc. Everything else is almost the same as for Bank accounts. Therefore I think adding the new type can be implemented quickly.
Later we can see what practical issues may appear.

[2015-11-03 09:39] MisterY opened #584 "App crashes when opening a database"
There is a case linked to opening the db on certain Android devices. Can anyone try to debug and let me know what causes the MMEX desktop (tested on Windows) crash when opening testdbPhone.mmb:
http://forum.moneymanagerex.org/viewtopic.php?f=20&t=6229&p=12865#p12865

I've compared the database files in binary mode and the testdbPhone has zz_ZZ vs en_GB somewhere in the file. It is possible that so

[2015-11-03 09:44] MisterY commented on #584
OK, I got it. It's the base currency being set to -1. I guess the system returns a weird locale with no currency.

[2015-11-03 09:54] MisterY commented on #584
In any case, this has been handled in the Android app to always use a defined currency in case the system does not provide a valid one.
You can, perhaps, just add some defensive checking in case a currency is not found, just in case.

[2015-11-07 20:25] RodrigoBalest commented on #565
I agree.
+1.

[2015-11-08 12:29] #579 closed

[2015-11-08 13:45] vomikan commented on #565
It's no sense to keep this request open.
If DB structure will be changes it will has somthing like expire date.
I recommedn to use Recurring transactions for reminder.

[2015-11-08 13:45] #565 closed

[2015-11-08 14:04] vomikan commented on #564
we used wxNumberFormatter::ToString function. Seems the bug outside of mmex.

[2015-11-08 14:08] vomikan commented on #560
I don't understand the issue explanation.

[2015-11-08 14:10] vomikan commented on #559
https://github.com/moneymanagerex/moneymanagerex/commit/d00fd1cd8f176247401087d01c13cccb1905c800

[2015-11-08 14:10] #559 closed

[2015-11-08 14:11] vomikan commented on #548
I leave it as is.

[2015-11-08 14:11] #548 closed

[2015-11-08 14:12] #543 closed

[2015-11-08 14:13] #564 closed

[2015-11-08 14:16] vomikan commented on #537
Only 3 last items are missing

[2015-11-08 14:20] vomikan commented on #478
Now it looking
![UI](https://pbs.twimg.com/media/CRw5ooFUkAAqyjm.png)

Still need idea how to increase wx fonts.

[2015-11-10 12:47] crayxt opened #591 "rpmlint warning: missing-call-to-setgroups-before-setuid"
Hi,
Trying to package for Fedora, I noticed that rpmlint generates following warning
[code]
Grepping inside source I see that only setgid call could be found in your fork on mongoose located at
[code]
while in original mongoose it couldn't be found, seems like fixed or reworked already. And since in your fork of mongoose reporting issues are disabled, I decided to report here.
Thanks,

[2015-11-11 04:00] crayxt opened #592 "use system version of wxsqlite"
Hi, it would be useful to be able to link mmex to system version of wxsqlite, instead of using own one.
Useful for packagers, I mean.

[2015-11-11 04:33] crayxt opened #594 "issue compiling git trunk under Linux"
Compiling in Fedora 23 64-bit chroot current git trunk
[code]
If I go ahead and add
[code]

what I see is
[code]

[2015-11-11 06:52] crayxt commented on #594
Ok I see it is in PR https://github.com/moneymanagerex/moneymanagerex/pull/590

Closing this one

[2015-11-11 06:52] #594 closed

[2015-11-14 18:10] josh-egan opened #596 "Keyboard Shortcuts"
Is there a list of keyboard shortcuts anywhere? I've looked through the help file, the website, and this repo and haven't found anything yet. I would love to see a single page that lists all of the keyboard shortcuts available in the various contexts.

[2015-11-15 14:52] vomikan commented on #592
I am sure that we does not use own one. Submodules are used.

[2015-11-15 14:58] crayxt commented on #592
I meant, is there a way to specify in bakefile to use system-wide wxsqlite instead of one from submodule?

[2015-11-18 12:45] howff opened #597 "Building on linux"
Hi
There have been no ubuntu packages for over a year now so I'm trying to build mmex on ubuntu-14.04-x64 but it fails here:

moneymanagerex/release/bk-deps g++ -c -o mmex_general_report_manager.o -I../lib/wxsqlite3/sqlite3/secure/src -I../lib/wxsqlite3/include -I../lib/lua/src -I../lib -I../3rd -I../3rd/LuaGlue/include -I../3rd/cgitemplate -I../3rd/csv-parser/include -I../src -DNOPCH -I/usr/lib/x

[2015-11-19 08:42] vomikan commented on #597
Please discuss any Linux issues here
http://forum.moneymanagerex.org/viewforum.php?f=25

2015-11-18 18:45 GMT+06:00 howff <notifications@github.com>:

[2015-11-19 08:44] vomikan commented on #597
I hope this help http://forum.moneymanagerex.org/viewtopic.php?f=25&t=6143

2015-11-19 14:42 GMT+06:00 Nikolay Akimov <nikolay.akimov@gmail.com>:

[2015-11-19 16:37] dwrj87 commented on #597
I shall take another look at the instructions and scripts for building on Linux

[2015-11-21 03:44] Dialga opened #599 "Unable to capitalize category"
Attempting to change the capitalization of a category from 'tax' to 'Tax' is not possible as it says the category already exists.

[2015-11-23 12:58] vomikan commented on #599
Try to change it to 'Tax+' then to 'Tax'.

2015-11-21 6:44 GMT+03:00 Dialga <notifications@github.com>:

[2015-11-23 17:14] howff commented on #597
Updating the build instructions is very much appreciated.
However they seem to be targeted at ubuntu 15.10 which has only been available for a few weeks so basically nobody is using it at the moment. It would be much appreciated by the wider linux user base if you could target your build instructions at the oldest version which is still on Long Term Support, i.e. 12.04. That way your efforts will

[2015-11-24 06:55] vomikan commented on #597
@howff  Are you sure that LTS is 14.04 not 15.04?

[2015-11-24 12:46] howff commented on #597
Yes, see https://wiki.ubuntu.com/LTS

[2015-11-24 14:33] dwrj87 commented on #597
As it says, further versions to follow. The reason for it only being 15.10 at the moment is because that's the version I'm using

I've got to create a virtual machine with each version to be able to work it out, test it and write it down

[2015-11-24 15:48] dwrj87 commented on #597
Instructions for 14.04 & 15.04 added to the pull request

[2015-11-29 18:26] morphiumdeus commented on #386
The parser doesn't seem difficult, it's the same method as qif import, you just have to check if the line starts with any of those xml elements:
<ACCTTYPE> or <ACCTTYPE2> (= qifLineType AcctType, but only once in my bank ofx file)
<DTPOSTED> (= Date)
<TRNAMT> (= Amount)
<FITID> (=TransNumber)
<NAME> (=Memo)
There are more elements like <CURDEF> (currency) and depending on the bank probably element

[2015-11-30 06:31] bernique opened #601 "Error "invalid map<K, T> key" since v 1.2.3"
Trying to import QIF files, I get the fatal error "invalid map<K, T> key" since I am on v 1.2.3. Going back to v 1.2.2 solves the problem.
Thanks for your support.
Loïc

[2015-11-30 07:13] vomikan commented on #601
Hi,

It was minor changes since 1.2.2
https://github.com/moneymanagerex/moneymanagerex/commit/20ebb209db39cd850a99b283e4e621e480a3a99d

Could you provide QIF file for I can reproduce the problem?

[2015-11-30 07:27] bernique commented on #601
Hi,
It is not that easy, because the files I have are full of my personal
bank data. I can try to download other files with minor information,
just 1-2 days, but I need to reinstall v 1.2.3 for testing. I don't
really want on this computer, so I will try on another computer at home.
I will keep you informed, I hope for tomorrow evening.
Thank you for your help.
Loïc

Le 30/11/2015 08:13, Nikolay a

[2015-11-30 07:32] bernique commented on #601
Finally, I have one qif file from an almost sleeping account. I got the
same error with it, but I could import it with v 1.2.2. Dates are in
French format dd/mm/yy.
Thanks again.
Lo{ic

Le 30/11/2015 08:13, Nikolay a écrit :

!Type:Bank
D11/10/15
T-19.61
NVirement
PPRLV SEPA EDF clients particul
^

[2015-11-30 10:51] #601 closed

[2015-11-30 15:17] vomikan opened #604 "Panel refresh after OnAutoRepeatTransactionsTimer"
refreshPanelData() should be done if wx_Cancel pressed on auto repeate dialog.

[2015-12-04 20:33] dwrj87 commented on #575
https://launchpad.net/~dwrj87/+archive/ubuntu/mmex-test

[2015-12-04 20:33] dwrj87 commented on #597
https://launchpad.net/~dwrj87/+archive/ubuntu/mmex-test

[2015-12-04 21:46] nasko commented on #575
I can confirm that I've successfully installed mmex using this ppa and it's running fine so far.
Thanks indeed for your efforts, David!

[2015-12-06 03:49] stef145g commented on #561
I will have time to re look at this issue in January 2016

[2015-12-08 10:01] vomikan commented on #597
Some user from http://forum.ubuntu.ru/index.php?topic=143753.270 reported this issues:
[code]

[code]

[2015-12-08 13:49] dwrj87 commented on #597
Hmmm, I've updated the PPA to put them in to the right place, but it's gzipping the files. Am doing some Googling and asking some questions to try and get it sorted

[2015-12-08 19:54] dwrj87 commented on #597
Fixed

[2015-12-10 09:56] howff commented on #575
On 4 December 2015 at 21:46, Atanas Vasilev <notifications@github.com>
wrote:

Indeed, thanks very much.  I've spent literally days of my life trying to
compile mmex for ubuntu.
Never suceeded. Not even in a fresh 14.04 VM. The latest compile errors
were:
 ../src/mmhomepagepanel.cpp: In member function ‘void
mmHomePagePanel::CreateControls()’:
../src/mmhomepagepanel.cpp:531:60: error: expected pri

[2015-12-10 17:03] dwrj87 commented on #575
To be honest, I'm not sure why you haven't been able to compile with the updated instructions. I tested them in virtual machines running fresh installs and wrote it down as I was doing it, and I've just tested them again now.

[2015-12-11 20:32] caironboy commented on #457
I also vote for timestamp with all my 10 fingers :) Please, please, please.
May be as an option, so those that do not want it can turn it off?
Thank you!

[2015-12-15 15:24] vomikan opened #610 "Monthly Summary of Accounts"
The report
- slow
- does not show today stats
- does not use currency rates history?

has no sense in current realization.

[2015-12-24 02:51] guanlisheng commented on #610
Let's remove this @moneymanagerex/desktop-mmex-team

[2015-12-26 14:35] guanlisheng commented on #610
Done.

[2015-12-26 14:35] #610 closed

[2015-12-27 06:16] vomikan commented on #599
Minor bug, I don't want  fix.

[2015-12-27 06:16] #599 closed

[2015-12-27 06:17] vomikan commented on #597
Thanks

[2015-12-27 06:17] #597 closed

[2015-12-27 06:20] #576 closed

[2015-12-27 06:22] vomikan commented on #575
https://launchpad.net/~dwrj87/+archive/ubuntu/mmex-test/

[2015-12-27 06:22] #575 closed

[2015-12-27 06:27] vomikan commented on #489
Is it actual yet?

[2015-12-27 06:30] vomikan opened #611 "Transaction Filter report currency"
Transaction Filter report shows the data in base currency even if some account selected.
If the account with non base currency selected please show data in the account currency.

[2015-12-29 05:57] guanlisheng commented on #592
@crayxt it's doable while we prefer to use the one from submodule since there are many customized features. i will close this ticket and feel free to reopen it.

[2015-12-29 05:57] #592 closed

[2015-12-29 05:58] guanlisheng commented on #531
@MisterY thought?

[2015-12-29 21:00] MisterY commented on #531
I will try to find the user who requested this via comment on Play Store and contact them.

[2015-12-30 02:40] chaitan94 opened #615 "Unable to run on Arch Linux"
I'm using moneymanagerex 1.2.4-1 on Linux 4.1.8-1-lts x86_64.
I've installed moneymanagerex using pacman.
This is what I get when I try to run it:
[code]
Let me know if any more details are needed.

[2015-12-30 13:29] Skeletorjus opened #616 ".QIF import: special characters not handled"
If a payee contains special characters (like æøå), it breaks the string at that character.

[2015-12-30 13:41] Skeletorjus opened #617 ".QIF import doesn't handle same name with different letter cases"
If a QIF has transactions to/from a payee where the name of the payee is written in different cases (ie GitHub and Github), it throws an error and leaves the payee field blank.

[2015-12-30 13:51] Skeletorjus opened #618 ".QIF import: wrong amount used"
When importing a QIF-file, some of the transfers between accounts operate with the wrong amount.
This of course messes up the balance in the account.
If I edit the transaction, the leftmost cell will show the correct value, while the right one shows a totally unrelated one. If i deselect "Advanced" (which for some reason is already ticked), the correct value will be used and everything is OK again

[2015-12-31 07:50] dwrj87 commented on #536
This happened again today on MMEX compiled from GIT

[2015-12-31 16:16] aquirin opened #619 "Bug: Wrong balance in filtered mode"
When filtering the account view, the balance show the original balance, not the balance recomputed using the filtered view.

[2015-12-31 16:17] aquirin opened #620 "Bug: Last used date not working"
If in Tools, Options, Others, Default date = last used, when we add another operation the date shown is the current date not the last used date.

[2015-12-31 16:19] aquirin opened #621 "New feature: possibility to select several operations in the account view"

[2015-12-31 16:20] aquirin opened #622 "New feature: copy (CTRL+C) + paste in Excel in Account view"
It would be nice to be able to select several operations in the account view, copy them easily with CTRL+C and paste them in Excel, with the header column being the title of the column.

[2015-12-31 16:22] aquirin opened #623 "Bug: Error when changing the language"
- change the language
- re-open the previous database
- try to generate a report

I got the error "Can't open file ".../tmp/index.html", the system cannot find the file specified"

[2015-12-31 16:24] aquirin opened #624 "New feature: using the filters before the reports"
The filters should be a general feature able to generate a new view of the data, view which can be later used to export the data, view them in the account view or generate the report. Now, when we use the filters and go to a report, all the data are used and when we go back to the account view, the filter has been reseted.

[2015-12-31 16:26] aquirin opened #625 "Bug: exporting with UTF8 not working"
When we export data in CSV with URF8 (accentued characters, etc), these characters does not show properly in Excel.

[2015-12-31 16:27] aquirin opened #626 "New feature: be able to remove unused reports"
It would be nice to be able to customize the list of reports, by removing some reports if not used

[2015-12-31 16:27] aquirin opened #627 "New feature: default payee"
Currently in the option we can configure the payee as the last one used. It would be nice if we can directly set this default payee for new operations just after opening the DB

[2015-12-31 16:28] aquirin opened #628 "New feature: insert new operations directly"
Be able to input new operations without closing the dialog, like in HomeBank

[2015-12-31 16:31] aquirin opened #629 "New feature: trend/evolution of the account should be a standard report"
Currently we have to download and install a report from the repository to see the evolution of the account, which is a standard feature for other money managers.

[2015-12-31 16:35] aquirin opened #630 "New feature: re-assign labels in another category"
Right now, to change a label from/to another category we have to delete them and create them again which is painful if labels are used in many operations. It would be nice to change them directly in the Tools, Categories, Edit button.

[2015-12-31 16:36] aquirin commented on #481
Same for me, I vote to disable validation or have an option to always use the same default payee, configurable in the options.

[2015-12-31 16:46] aquirin opened #631 "Bug: montly recurring operation set on 31/1 goes on 28/2 then 28/3"
- setup a recurring operation
- date = 31/1/2015, period = monthly
- after february, all due date are the 28th of each month

[2016-01-01 10:21] vomikan commented on #619
That is a feature, not a bug.

[2016-01-01 10:24] vomikan commented on #625
Did you try data import?

[2016-01-01 10:25] vomikan commented on #626
+1

[2016-01-01 11:25] vomikan commented on #630
I disagree. It possible to change the label directly.

[2016-01-01 11:33] stef145g commented on #619
When filtering is active you should be able to see the **Displayed Bal:** on the top right which is the what you are looking for I think. No Bug. If you agree, please close this issue.

[2016-01-01 12:28] aquirin commented on #630
The label yes but not its category.
On 1 Jan 2016 12:25, "Nikolay" <notifications@github.com> wrote:

[2016-01-01 12:30] aquirin commented on #619
Ok but it would be nice to see the total sum of the filtered view, for
instance the total money spent in food for a given range of dates.

Can we let it open as a feature?
On 1 Jan 2016 12:33, "Stefano" <notifications@github.com> wrote:

[2016-01-01 16:02] stef145g commented on #619
@aquirin, I can do this now by setting the filter on my date range, and select category as Food:Groceries  The displayed balance displays the total sum for this specific range.

If you are talking about the actual balances in the balance column, then this would reflect the bank statement balances on that date provided the date sequence matches the bank statement. If they don't, it means that there

[2016-01-01 16:29] aquirin commented on #625
The import is working fine and editing the file with another text editor is
showing properly the characters. I guess it is a problem with Excel then.
We can close this ;-)

2016-01-01 11:24 GMT+01:00 Nikolay <notifications@github.com>:

[2016-01-01 16:33] aquirin commented on #619
Ok you are right, balance is already shown in the top right. And the
balance column should be viewed as you said, as a copy of the original
balance column when data is not filtered. It was just a bit surprising for
me as I would first expect a cummulated sum of the current data here, but
if other users are OK with that I'm fine with it too, I will get used to.

Thanks,

2016-01-01 17:02 GMT+01:00

[2016-01-01 16:43] #625 closed

[2016-01-01 17:01] aquirin opened #633 "Bug: Categories reports show wrong incomes/expenses"
Is this a feature or a bug? I have the impression the "incomes" line show values when the total is positive and "expenses" line show values when the total is negative, in the categories report.

Steps:

(1) Create a new database

(2) Add an operation to withdraw 10€

![capt1](https://cloud.githubusercontent.com/assets/11461466/12071510/a43a4f5c-b0b0-11e5-9420-6f0a6cf3ca51.PNG)

(3) Categories repo

[2016-01-01 17:01] #619 closed

[2016-01-01 17:25] aquirin commented on #630
Sorry, i did not see the button "Reassign all categories..." in the Tools/Organize categories dialog. I am closing this issue.

[2016-01-01 17:25] #630 closed

[2016-01-01 17:33] aquirin commented on #623
I was not able to re-produce this bug today. I am closing this issue.

[2016-01-01 17:33] #623 closed

[2016-01-01 17:44] aquirin commented on #633
I checked on the forums and I found this:
http://forum.moneymanagerex.org/viewtopic.php?f=10&t=6239

Is this related to this "bug"? So we cannot use the same categories for withdrawals and deposits?

[2016-01-02 01:52] stef145g commented on #633
The forum comments explains it perfectly. It depends on how you wish to use MMEX.

This is not a bug or a feature, but a design dilemma. Using categories, how do we determine if a category is income or expense? Let the user decide. While the category reports give a general overview, the Transaction Report allows the user to be more specific, so if you use the same category for income and expenses,

[2016-01-02 09:59] guanlisheng commented on #620
@stef145g would you mind to have a check here?

[2016-01-02 10:00] guanlisheng commented on #631
@vomikan would you mind to take a look here?

[2016-01-02 10:01] guanlisheng commented on #628
@vomikan it should be a cool feature

[2016-01-02 12:11] guanlisheng commented on #536
Interesting but i have no idea here.

[2016-01-02 15:04] aquirin commented on #633
Actually the table view of the category report is what I was looking for,
not the full list of transaction. About income/expense, it is easy to
determine: just sum all operations marked as "deposit" and as "withdrawal"
in two separated variables and report them in the "expenses" or the
"income" line. I have included a customized report based on the Category
Trend which achieve this (see attachment

[2016-01-03 10:19] stef145g commented on #633
@aquirin I don't appear to be able to download without having to sign up to the page. Suggest you create a pull request to the General Reports for MMEX: https://github.com/moneymanagerex/general-reports.git

Here you will also find a range or other reports created for MMEX. Also makes it easier to access.

[2016-01-03 11:29] stef145g commented on #620
It appears this only occurs when an account has a single entry. Investigating further...

[2016-01-03 13:47] aquirin commented on #633
Ok I will create a pull request as far as I have access to a computer, (I
am with my phone now).

You can also download the file by clicking the small cloud after the name
of the file without registering.
On 3 Jan 2016 11:20, "Stefano" <notifications@github.com> wrote:

[2016-01-03 14:38] apintocr commented on #616
Hello @Skeletorjus
Try to open the .qif file on Notepad++ (or other text editor of your choice) and convert the encoding to UTF-8 (with BOM), this fixed the issue for me.

I would suggest to verify the encoding before starting the import and prompt the user to attempt to convert to UTF-8.

[2016-01-03 21:27] Skeletorjus commented on #616
@apintocr
Thank you, that did the trick! This boils down to some sort of user error, but I agree that a check should be in place since the workaround isn't necessarily obvious.

[2016-01-05 14:22] guanlisheng commented on #621
@vomikan help to take a look?

[2016-01-05 14:23] guanlisheng commented on #622
@siena123 help to take a look?
wxTheClipboard from the following link may help here
http://docs.wxwidgets.org/3.0/classwx_clipboard.html

[2016-01-05 14:24] guanlisheng commented on #626
any guy @moneymanagerex/desktop-mmex-team

[2016-01-05 14:25] guanlisheng commented on #627
@vomikan thought?

[2016-01-06 00:05] #616 closed

[2016-01-06 00:06] vomikan opened #637 "Remove Historic Items without disturbing Current Balances"
http://forum.moneymanagerex.org/viewtopic.php?f=10&t=6305

[2016-01-06 10:39] stef145g commented on #620
Last date of a transfer transaction in a B side account was not being recognised. A fix has been provided and pull requests generated.

[2016-01-07 01:28] vomikan commented on #628
I like this idea.
But it's quite difficult to implement.
I can't realized how to refresh parent transaction list (+ play sound) on every new transaction.

[2016-01-07 17:45] gabriele-v commented on #628
Maybe we could simply close and reopen existing transaction dialog? It will flash a bit but it's quite simple to realize..

Normal OK button will behave like now, closing dialog, new button "OK and new" will close dialog, play sound, refresh panel and open new transaction dialog..

Or maybe considering that transdialog is modal, we could consider to simply cleanup form and some variables without s

[2016-01-07 19:39] aquirin commented on #628
Thank you for your feedback,

I am not an expert in the code of this project, but the easiest way would
be to make this dialog non-modal and keep a pointer to the list item in the
panel to refresh it. It is is not possible or too complex, the second
solution of Gabriele to avoid flashing looks nice to me: keep the data
internally without noise or refresh, and send it at once when user press
"OK".

[2016-01-07 20:19] vomikan commented on #628
I've tested this metod: on new transaction if OK button pressed the transaction saved then used as template for next transaction with the same date, type, status, account.
If dialogue will be closed the mentioned data will be lost. In that case the idea lost sence.

[2016-01-07 20:26] gabriele-v commented on #628
Up to me it's fine in the way that you have implemented.

I only dubt if will be better to add a third button or at least an option to control if press ok will close or will leave open, I don't want that other users will ask to behave like in current version..

Surely we cannot change transaction to non-modal because there are too many variables and changes outside that could cause problems to tra

[2016-01-07 22:07] vomikan commented on #628
I suggest to postpone this request...

[2016-01-08 13:59] MisterY commented on #531
Unfortunately, I can to get any contact data from a Play Store review. Here is the original review, though, and that is the only piece of information we have atm:

[2016-01-08 14:35] #620 closed

[2016-01-08 14:40] vomikan commented on #596
Ctrl + 1... 7 to change transaction color
R - Reconcile
U - Unreconcile
D - Duplicate
F - Fllowup

F9 - new transaction
F1 Help pages

Ctrl +N -newDB
Ctrl+O Open DB file

If Atl pressed some letters of buttons and main menu items became underscored. If underscored button pressed the appropriate button will pressed.

[2016-01-08 14:40] #596 closed

[2016-01-08 14:43] vomikan commented on #557
I can't reproduce this issue.

[2016-01-08 14:51] vomikan opened #641 "Foreign currency conversion issue"
I have GBP as the base rate but need to setup a bank account with VND - the exchange rate is 0.000030 but it would appear the system can only handle a maximum of 4 decimal places.

Is there anyway I can change this?

http://forum.moneymanagerex.org/viewtopic.php?f=10&t=6312

[2016-01-08 14:58] tiker commented on #557
I just tried it again with the latest version 1.2.4 on Win7 x64 (portable version) and the problem still occurs.

I created a new mmb file
New account named test
Currency = CAD
In notepad, I typed $1234.42
Copied the notepad content to the clipboard
Created a new transaction in MMEX
Pasted the clipboard to the withdrawal value
Click OK
Got the following results:
http://imgur.com/5YsWdaH

[2016-01-08 17:38] vomikan commented on #557
Can't reproduce it anyway
![sample](https://cloud.githubusercontent.com/assets/6836805/12204816/b2296354-b647-11e5-90b5-375e70923c15.png)

[2016-01-08 17:49] dwrj87 commented on #557
I can't reproduce this either

[2016-01-08 21:48] vomikan commented on #631
minor issue - wont fix

[2016-01-08 21:48] #631 closed

[2016-01-08 23:03] vomikan commented on #627
I suggest to add "Unknown" payee on DB initialization.
Add the option like "Payee Mandatory".

[2016-01-09 00:18] vomikan commented on #627
https://github.com/vomikan/moneymanagerex/commit/646ab4bb6970d9e70bb2252b53f1b78baf58b0d4

[2016-01-09 00:26] #611 closed

[2016-01-09 13:04] svetlemodry commented on #615
I ran some tests on the same setup and cannot replicate this. moneymanager starts for me on the latest regular, latest lts and even on 4.1.8-1-lts kernel.

[2016-01-11 08:06] vomikan opened #646 "Home Page Stock Totals are Not Correct"
On the home page under stocks, the total dollar amounts are not correct. The individual accounts and reports are, but all total account amounts do not add up.

https://sourceforge.net/p/moneymanagerex/bugs/795/

[2016-01-11 11:43] vomikan commented on #646
Investigating this problem, I found the following problems:
- The same issue for all accounts not only investments;
- In the table CURRENCIES_V1 all the values BASECONVRATE = 1 but should be equal the currency rate;

[2016-01-11 13:33] vomikan opened #647 "Currency history performance issue"
To update currencies history used big data from here: www.ecb.europa.eu/stats/eurofxref/eurofxref-hist.xml

I suggest to use several times link like this one:
http://finance.yahoo.com/connection/currency-converter-cache?date=20160101

or using  [YQL](https://developer.yahoo.com/yql/) and this query

[code]

[Result](https://query.yahooapis.com/v1/public/yql?q=SELECT%20*%20FROM%20yahoo.finance.hist

[2016-01-13 07:13] vomikan commented on #647
This demo code update RUB rates for  2015 year (This code worked for one second = fast)
[code]

[2016-01-13 07:21] vomikan opened #648 "Modifing Amount on existing Split transaction not allowed ENTER Key or ARITMETIC EXPRESSIONS"
1.-Open a Existing Split Transaction
2.-Open Split Transaction Dialog
3.-Select One of the split Transactions
4.-Click "Edit" Button
5.-Modify the amount fiel with: 50/2 expresion. or simply 40 (different amount)
6.Hit "ENTER" Key
7.The amount IS NOT MODIFIED.

https://sourceforge.net/p/moneymanagerex/bugs/801/

[2016-01-13 19:33] alex-gee opened #649 "Window "Currency rate updated" to big, no scroll (Mac)"
If I update the currency rates the resulting window is to big and has no scroll.

![mmex_report](https://cloud.githubusercontent.com/assets/1726021/12305372/bd60a6ce-ba34-11e5-9b22-12f22db7cf96.png)

[2016-01-13 20:38] MisterY commented on #455
Or, rather, let's pose another question - what is the benefit of *not* having the Cash account type?

[2016-01-13 21:41] Geoplace opened #650 "Notes Field display doesn't auto wrap text lineas too long"
Desktop Ver.1.2.4
1.- Enter this dummy character line in notes field:
1111111111111111111111111111111111111111111222222222222222222222222222333333333333333333333333333333334444444444444444444444444444444555555555555555555555555555555555555555556666666666666666677777777777.
2.- Save the transaction.
3.- The bottom view of the account view window trunk the line. I don't auto wrap the excess into new

[2016-01-13 22:49] stef145g commented on #455
Assuming we can create an account type "Cash".
- How do we handle it as the account records would still be stored in the existing database table?
- Would this account type have less fields, thus we can reuse existing fields for new functionality?
- How is this handled on the Home page and the Navigation panel?
- Would there be balance separation?
- How does this affect other reports?
- Would some

[2016-01-14 12:51] vomikan commented on #618
Sample QIF file will helpful.

[2016-01-14 12:53] vomikan commented on #545
fix
[code]

[2016-01-14 14:35] vomikan opened #651 "date parsing"
it's QIF date filed
D01/10/2016
parsing returns 2 appropriate mask:
DD/MM/YYYY
MM/DD/YYYY
For mask DD/MM/YYYY the date will be in future.
Should I accept this mask?
Seems I can set the state or quality of being efficient.

[2016-01-14 16:01] vomikan commented on #651
https://github.com/moneymanagerex/moneymanagerex/commit/393648ba53a5bffbe9ae397b7cd4b1abe069cc17

[2016-01-14 16:01] #651 closed

[2016-01-15 19:43] MisterY commented on #548
Just had a brief discussion (again) about categories and transfers. Reading the comments here, I can see that using categories on transfer transactions is basically trying to simulate budgeting. Categories are usually used to track income and expenses, money coming into or leaving our accounts. Therefore the cash flow can be monitored.
Trying to track the **intention** is something completely diff

[2016-01-16 17:29] callmenemo491 commented on #641
https://en.wikipedia.org/wiki/Exchange_rate
The fourth decimal place is usually referred to as a "pip"). An exception to this was exchange rates with a value of less than 1.000 which were usually quoted to five or six decimal places

so we should have the rule.
if x-rate is above 1.000  then we display the x-rate to 4 decimal places, e.g.  1.0264  or 153.1234

if x-rate is below 1.0000,  then we g

[2016-01-16 23:29] #545 closed

[2016-01-16 23:35] vomikan commented on #618
I've commit changes that should fix this issue.
https://github.com/moneymanagerex/moneymanagerex/commit/7f151c3969ce1080d3d93eb0ccee7b1703df32d4

[2016-01-16 23:36] #618 closed

[2016-01-16 23:39] #627 closed

[2016-01-16 23:45] #489 closed

[2016-01-16 23:46] vomikan commented on #488
In my opinion we can use json in a notes field.

[2016-01-16 23:47] #481 closed

[2016-01-16 23:47] #431 closed

[2016-01-16 23:50] #387 closed

[2016-01-16 23:52] vomikan commented on #306
https://github.com/moneymanagerex/moneymanagerex/issues/647

[2016-01-16 23:52] #306 closed

[2016-01-17 09:14] vomikan commented on #548
I can add an option to skip category for transfers. But a lot of users on PC used outdated versoin of app. They lost a compability.
I recommend to use ' Transfer '  category  by default.

[2016-01-17 12:10] vomikan commented on #650
Practically it can't be so length a text string.

[2016-01-17 12:10] #650 closed

[2016-01-17 12:15] vomikan commented on #617
[code]

[code]

[2016-01-17 12:44] vomikan commented on #478
May be this will help http://docs.wxwidgets.org/trunk/classwx_window.html#acd955418c336e73b3e32cadf1ca46e29

[2016-01-17 21:47] vomikan commented on #617
The same bug is actual for categories.

[2016-01-20 03:49] siena123 commented on #622
That looks like it will work but also need to change the view to multi select instead of single select control / view. I will work on make some changes to support this.

[2016-01-20 06:18] aquirin commented on #622
That's great thank you!
On 20 Jan 2016 04:49, "siena123" <notifications@github.com> wrote:

[2016-01-22 11:55] vomikan commented on #542
https://github.com/moneymanagerex/moneymanagerex/commit/3ae11515ee1ed78e72fd4f70ae308d34499af607

https://github.com/moneymanagerex/moneymanagerex/commit/f2f6a66a09edbce84ef73b1f29550a476bf03f61

https://github.com/moneymanagerex/moneymanagerex/commit/9f1314b5c68b9e18c2b3f673374751cd801369a5

[2016-01-22 12:14] MisterY commented on #542
Link to a related item - #455. I believe these additions refer to Cash type.
Savings Accounts in MMEX are Bank Accounts and can also be Term Accounts.

[2016-01-23 10:18] alex-gee opened #658 "Items in Navigation keep disappearing in Ubuntu and MacOS"
Hi!
I noticed that Items in the Navigation drawer keep disappearing if I click on them.

I recorded a Screencast on both Platforms to show you the effect:
[Demo Ubuntu 14.04 - MMEX 1.2.4](http://sendvid.com/mij5bi88)
[Demo MacOS 10.10.5 - MMEX 1.2.3](http://sendvid.com/q5dknt5c)

greetings!

[2016-01-23 14:06] vomikan opened #659 "amounts can't have symbols (CSV)"
I found the amounts can't have symbols in the column either.
£123 will fail as well.

http://forum.moneymanagerex.org/viewtopic.php?f=10&t=6331&p=13164#p13164

[2016-01-23 15:08] vomikan commented on #658
https://sourceforge.net/p/moneymanagerex/bugs/615/

https://github.com/moneymanagerex/moneymanagerex/pull/516

[2016-01-23 19:17] vomikan commented on #610
https://github.com/moneymanagerex/moneymanagerex/commit/b0f9a9e61f68cf7fb08b257f7d0d606324bb4609

[2016-01-23 21:40] ipa-frm-ag commented on #658
sorry about the duplicate. will research better next time.

[2016-01-23 22:18] vomikan opened #660 "Accounts headers on the Home Page"
Please one style!
![acc](https://cloud.githubusercontent.com/assets/6836805/12533162/5990b66e-c238-11e5-8639-cb7aaf19b9b4.png)

[2016-01-24 02:33] stef145g commented on #660
Noting that the navigation panel has the plural version of Account, will make the home page plurals as well. ie **Accounts**

[2016-01-24 02:49] stef145g commented on #660
This issue was fixed in the cancelled pull request https://github.com/moneymanagerex/moneymanagerex/pull/661

[2016-01-24 12:18] stef145g commented on #660
This is now fixed in pull request: https://github.com/moneymanagerex/moneymanagerex/pull/664

[2016-01-24 19:22] vomikan opened #665 "Single instance"
http://docs.wxwidgets.org/trunk/classwx_single_instance_checker.html

Shoul we use this?

[2016-01-25 01:14] siena123 commented on #622
Pull Request submitted. The account panel showed since of being a multi-select control at one time.

[2016-01-25 07:19] #660 closed

[2016-01-25 07:23] vomikan commented on #633
UP
This issue is still relevant?

[2016-01-26 02:26] stef145g commented on #665
IMHO... NO.

[2016-01-26 04:34] siena123 commented on #665
I don't see a need to use it and would recommend not using it. Doing this would go against the precedent of the portable copy that we post with every release as it is intended to be run as multiple instances without affecting each other. Also I quite often have multiple instances open, either an installed version with a portable version or multiple portable versions.

[2016-01-26 05:33] #665 closed

[2016-01-26 09:22] dmgawel opened #667 "Failing build on Ubuntu 14.04"
I've installed mmex on Ubuntu 14.04 (precisely: ElementaryOS Freya) for mmex-test ppa but after choosing language program doesn't run and took 100% PCU. So I've decided to build it manually, but it fails:

[code]

[2016-01-26 09:41] vomikan commented on #667
A. http://forum.moneymanagerex.org/viewtopic.php?f=25&t=6297
Б. https://sourceforge.net/p/moneymanagerex/wiki/Building%20mmex%20Debian%20%28Ubuntu%29%20Linux/

[2016-01-26 10:14] dmgawel commented on #667
After installing from PPA and running:
[code]
And here it freezes and takes 100% CPU.

Manual building from sourceforge Wiki leads to exact same error as mentioned in original comment.

[2016-01-26 10:47] dwrj87 commented on #667
The instructions on the Sourceforge wiki aren't up to date. Up-to-date and tested ones are here - https://github.com/moneymanagerex/moneymanagerex/blob/master/INSTALL.Ubuntu.md

As for the particular bug that you're getting when building it, I get the same on 15.10. For my own personal use I have made this change, but I'm not entirely sure what the greater consequences are, hence why I haven't sub

[2016-01-26 10:54] vomikan commented on #667
1. Is the same [issue](http://forum.moneymanagerex.org/viewtopic.php?f=25&t=5528&start=20)?
2. Try a debuging https://github.com/moneymanagerex/moneymanagerex/wiki/Debuging-on-Linux-(Debian-Ubuntu)

[2016-01-26 11:07] dwrj87 commented on #667
No, it's different. The diff above is needed for me to be able to build the development version. The issue in the forum post, I've encountered but ignored since it doesn't affect anything for me since I run Linux, it says it won't work on Windows

[2016-01-26 11:11] vomikan commented on #667
Is v. 1 2.5. working on Linux?

[2016-01-26 11:15] dwrj87 commented on #667
Just checked and no. The 1.2 branch needs the Anvil repository which has now been removed alongside https://github.com/moneymanagerex/moneymanagerex/commit/3ef295b5323cfd4da8eb9bbca072dda32656e664

[2016-01-26 11:23] dmgawel commented on #667
After removing SQLITE_ENABLE_EXTFUNC previous error is gone but building stops at this error:
[code]

[2016-01-26 11:24] vomikan commented on #667
In my repo the .gitmodules file contains
[code]
Did you make:
git checkout v1.2.x
But on the other hand the folder 3rd\anvil is missing

[2016-01-26 11:25] dwrj87 commented on #667
Yes, the 3rd/anvil repository got removed alongside that commit which is causing it to fail as it's not there any more

@dmgawel Yes, I'm having this problem too now. It's only cropped up today with https://github.com/moneymanagerex/moneymanagerex/commit/1266df2b666dd7235f990d4d963ea9b5f6416e34

[2016-01-26 11:26] vomikan commented on #667
@dmgawel try to build stable release 1.2.5
git checkout v1.2.x

[2016-01-26 11:32] dmgawel commented on #667
@vomikan building from v1.2.x branch fails at initializing git submodules:
[code]

[2016-01-26 12:37] vomikan commented on #667
as workarround I suggest to add anvil back

[2016-01-26 13:40] vomikan commented on #667
OK try
git submodule deinit 3rd/anvil
git rm 3rd/anvil
git rm --cached 3rd/anvil

[2016-01-26 13:41] vomikan commented on #667
@guanlisheng Could you please recommend somthing here?

[2016-01-26 13:46] dwrj87 commented on #667
This lets me build the 1.2 branch

[2016-01-26 13:48] vomikan commented on #667
It's good news. The fix for master branch will be provided by @siena123

[2016-01-26 14:33] #648 closed

[2016-01-26 14:35] #622 closed

[2016-01-26 14:47] vomikan commented on #538
I suggest to add warning message if some transaction older than last month added or edited.

[2016-01-26 14:51] #455 closed

[2016-01-26 15:08] vomikan commented on #451
Just discovered ... Add additional column into DB is quite easy, for example:
[code]
If some new field will be added for new version of mmex it's not a problem for older release.

[2016-01-26 17:19] dmgawel commented on #667
Same on Ubuntu 14.04: after removing anvil mmex builds successfully and works (branch v1.2.x). Is anvil used anywhere?

I'll test building master branch after providing fix by James.

[2016-01-26 19:11] gabriele-v commented on #451
Yes, but how to concile with existing model?
We need to review model to patch DB at startup, using database version as suggested by android developer..

[2016-01-27 00:51] stef145g commented on #451
Updating an old database version at start-up can be done as this is already being done,
Ref: https://github.com/moneymanagerex/moneymanagerex/blob/master/src/mmframe.cpp#L1707
This would also suggest that MMEX version would need to be Version 2.x.x

The only thing we need to agree to is: what fields need to be added, to maintain a stable database version. We don't want to be continually adding fie

[2016-01-27 02:23] stef145g commented on #646
#805 Grand Total missing stocks on 1.2.5
Ref: http://sourceforge.net/p/moneymanagerex/bugs/805/
Fix committed to 1.2.x

[2016-01-27 05:08] siena123 commented on #420
Pull request submitted.

[2016-01-27 10:00] vomikan commented on #420
Please use #xxx in a Pull request header. In that case the PR will be referenced in the proper issue topic.

[2016-01-27 10:06] #667 closed

[2016-01-27 18:09] dwrj87 commented on #667
Master builds now for me

[2016-01-28 06:34] vomikan commented on #560
Reopen it if needed.

[2016-01-28 06:34] #560 closed

[2016-01-28 06:44] vomikan commented on #615
I reccommend to build mmex from scratch for debuggind to have more info regarding this issue.

https://github.com/moneymanagerex/moneymanagerex/wiki/Debuging-on-Linux-(Debian-Ubuntu)

https://github.com/moneymanagerex/moneymanagerex/blob/master/INSTALL.Ubuntu.md

https://sourceforge.net/p/moneymanagerex/wiki/Building%20mmex%20Debian%20%28Ubuntu%29%20Linux/

[2016-01-28 06:48] vomikan commented on #615
If there are problems with the new release, please reopen the case.

[2016-01-28 06:48] #615 closed

[2016-01-28 06:49] vomikan commented on #561
UP

[2016-01-28 06:50] vomikan commented on #557
Closed as duplicate issue.
https://github.com/moneymanagerex/moneymanagerex/issues/659

[2016-01-28 06:50] #557 closed

[2016-01-28 06:51] vomikan commented on #659
Related issue is: https://github.com/moneymanagerex/moneymanagerex/issues/557

[2016-01-28 06:52] #633 closed

[2016-01-28 07:10] vomikan commented on #584
[code]

[2016-01-28 08:39] vomikan opened #671 "SQLITE_ENABLE_JSON1"
The file wxsqlite.bkl contains 'SQLITE_ENABLE_JSON1' but VS2013 config not.

I can't update config by bootstrap.bat becouse bakefile_gen not available for windows platform.

[2016-01-28 08:48] vomikan commented on #649
Thanks for report this issue. It seems minor bug in case if this window may be close by Esc button.
As workaround here I reccommend to update currencies after DB initialization and only for really used currencies.

[2016-01-28 08:55] vomikan commented on #671
Also this parameter is missing for VS : HAVE_ISBLANK

[2016-01-28 09:00] vomikan commented on #624
This case seems similar to this:
https://github.com/moneymanagerex/moneymanagerex/pull/666

I close this one.

[2016-01-28 09:00] #624 closed

[2016-01-28 09:47] vomikan opened #672 "Demo DB"
Is anybody have some demo DB?
Something like this:
![img](https://a.fsdn.com/con/app/proj/moneymanagerex/screenshots/326091.jpg/182/137)
I want to create new screenshots for our project on [SF](https://sourceforge.net/projects/moneymanagerex/)

[2016-01-28 09:50] vomikan commented on #671
Is there any atomatic method?

[2016-01-28 09:53] vomikan commented on #566
May be it the same issue? https://github.com/moneymanagerex/moneymanagerex/issues/584

[2016-01-28 09:54] vomikan commented on #542
Now PC mmex supports any type of accounts like Bank Account (Checking).

[2016-01-28 09:54] #542 closed

[2016-01-28 09:56] vomikan commented on #490
feat(CustomFields): Add custom fields feature #663

[2016-01-28 09:56] #490 closed

[2016-01-28 09:59] MisterY commented on #566
No, these three cases are quite distinct and unique.
Only #517 remains a mystery. Some files are just not readable with certain SQLite versions.
The other two cases are solved.

[2016-01-28 10:42] MisterY opened #673 "Adjust the "Times Repeated" title in Recurring Transactions"
The label "Times Repeated" might be confusing as the meaning of this wording would be to indicate the number of times the transaction has occurred in the past.
The actual meaning of the field, though, is the number of times the transaction should occur in the future.
The label's title should be adjusted to better convey the meaning of the field.
Perhaps something like "# Left", "Occurs", "Repeats"

[2016-01-28 10:44] MisterY opened #674 "New Account created after Cancelling the creation process"
- Start creating an account
- After second step click Cancel

Result: account is still created.
Expected result: account should not be created.

[2016-01-28 11:54] vomikan commented on #672
[test_mmex_db_2016-01-28.zip](https://github.com/moneymanagerex/moneymanagerex/files/108108/test_mmex_db_2016-01-28.zip)

[2016-01-28 19:10] vomikan commented on #672
[Updated ](https://sourceforge.net/projects/moneymanagerex/)

![0home](https://cloud.githubusercontent.com/assets/6836805/12655841/f4bba78a-c60b-11e5-8f75-a671c60f8fab.png)

[2016-01-28 19:17] vomikan commented on #478
http://forum.moneymanagerex.org/viewtopic.php?f=23&t=6345

Apparently a number of other software applications are also having problem scaling in high DPI displays. The workaround described [here](http://www.danantonielli.com/adobe-app-scaling-on-high-dpi-displays-fix/) worked beautifully for MMEX on the Surface Pro 4. The site also explained what caused the problem. It is a workaround so ultimatel

[2016-01-29 07:38] vomikan opened #675 "Count of transactions monthly"
According the case below I suggest to modify current transaction counter to add an option to count transactions monthly.

Hello!

At my bank in order to reduce the account management fee I need to use my bank card at least 30 times in a month. It is very tiring to count the transactions, because every time you want to know how many transaction you made in the current month you must count it by han

[2016-01-29 08:14] vomikan opened #676 "Please make OK the default when entering a transaction."
80% of my transactions are entered with date, amount and payee only. The other defaults are usually fine. However, at this point, Cancel is still the default button at the bottom of the screen. If you choose the Category then neither button is the default. OK becomes the default after you have added Notes.

Please do not keep changing which button is the default.
Please make OK the default button

[2016-01-29 08:23] vomikan opened #677 "most recent notes issue"
it is not the twenty most recent notes, or even the twenty most common notes. On my PC, I have notes that in that field that have only been used once, but the supermarket that I go to every week does not appear and has to be typed out by hand every time. If I understand the notes correctly, they are supposed to be the most commonly used entries. That is certainly not the case with me.

http://foru

[2016-01-30 00:17] dwrj87 opened #679 "CMake Build System"
Would you be open to switching the build system to CMake?

On the plus side
- It generates both VS projects and Unix makefiles, amongst others
- Travis supports it so it could generate whatever it needs on-the-fly which means
- A lot of build artefacts could be taken out of the repo
- It would simplify the build instructions for Linux and make it a lot easier for me to maintain the PPAs.

On the d

[2016-01-30 01:16] stef145g commented on #679
With reference to issue: https://github.com/moneymanagerex/moneymanagerex/issues/671, there is currently no ability for automatic builds for MSVC.2013 or MSVC.2015 as the current Bakefile 0.2.9 we are using no longer supports this.

**Bakefile 1.2.5** [https://github.com/vslavik/bakefile] requires rebuilding all the files.
Upon investigation it is missing features that does not allow for easy migr

[2016-01-30 08:01] #671 closed

[2016-01-30 08:15] vomikan commented on #591
Could you ask here?
https://github.com/cesanta/mongoose/issues

[2016-01-30 08:18] vomikan commented on #483
As workaround - make used currensies settings the same

[2016-01-30 08:22] vomikan commented on #308
https://github.com/moneymanagerex/moneymanagerex/commit/1266df2b666dd7235f990d4d963ea9b5f6416e34

https://github.com/moneymanagerex/moneymanagerex/issues/622

[2016-01-30 08:22] #308 closed

[2016-01-30 08:26] vomikan commented on #300
Seems like .QIF is the only way to go.

[2016-01-30 08:26] #300 closed

[2016-01-30 08:29] vomikan commented on #296
https://github.com/moneymanagerex/moneymanagerex/commit/3042b1cf83b6f8e20fc22b300cafd24d7a5cca5d

https://github.com/moneymanagerex/moneymanagerex/issues/420

[2016-01-30 08:29] #296 closed

[2016-01-30 08:32] #563 closed

[2016-01-30 14:31] siena123 commented on #679
Pat has also mentioned the mac build is no longer correct from 0.2.9 bakefile being used.

From the little bit of work that I have done on updating to the latest version of bakefile, I completely agree with you Stefano. Lets have David do the work to switch to CMake .

- James

From: "Stefano" <notifications@github.com>
To: "m oneymanagerex/moneymanagerex" <moneymanagerex@noreply.github.com>
Sent:

[2016-01-30 18:02] gabriele-v commented on #340
I don't think that it should be closed, because system language it's still English, this only change MMEX Language.

[2016-01-30 18:23] vomikan commented on #340
Personally I believe that the app language is user choice.
My fix just help to choose the same language as OS language.

What do you mean 'system language it's still English'?

суббота, 30 января 2016 г. пользователь Gabriele-V написал:

[2016-01-30 18:34] gabriele-v commented on #340
Yes, I agree on language.

I refer to this:
    /* Setting Locale causes unexpected problems, so default to English Locale */
    app->getLocale().Init(wxLANGUAGE_ENGLISH);

This will cause to show all wx system messages and errors in English, I don't know what problems comment refers to, but maybe it could be referred to old wx versions, so we should make some tests..

[2016-01-30 23:00] stef145g commented on #561
This issue has been revised as follows:
![recurringtransscreen](https://cloud.githubusercontent.com/assets/6927151/12698950/f09f5a44-c7fe-11e5-833d-a427d2e2f96d.png)

- Labels have been reclassified to better reflect the functionality
- The Date Reset button will now set the calendar and the Date Paid to today in edit mode, and only reset the Date Paid in transaction entry mode.
- On transaction e

[2016-01-30 23:03] stef145g commented on #673
This label has been renamed: **Payments Left**
ref: https://github.com/moneymanagerex/moneymanagerex/issues/561

[2016-01-31 16:21] #676 closed

[2016-01-31 16:23] #641 closed

[2016-01-31 18:29] dwrj87 commented on #679
I have made some progress with this. I've got it compiling on Ubuntu with CMake, but there is still a lot to do so it may take a few weeks

I'll push the changes to https://github.com/dwrj87/moneymanagerex/tree/cmake and put in a pull request when it's more complete so that you guys can test it and pull it apart

[2016-02-01 03:30] crayxt commented on #591
They don't have this issue, probably fixed it already.

[2016-02-01 10:49] #591 closed

[2016-02-02 09:06] #673 closed

[2016-02-02 09:08] vomikan commented on #646
It's referencing with this issue https://github.com/moneymanagerex/moneymanagerex/issues/647

[2016-02-03 16:25] Stonyjohn commented on #561
Thank you for working on this. I can now make manual enrties from the Recurring Transactions list without the transaction date reverting to the current date. However, I'm still confused over the difference between "Date Due" and "Date Paid".

As I explained before, I like to enter the "Next Occurrence" (right-click context menu) of items in the list 30 days before they are due, so I can plan my ac

[2016-02-04 01:32] stef145g commented on #561
@Stonyjohn , I liked your initial request, but the only way to achieve an entry before the due date that would suite everybody was to split the dates. For my usage, I would not want my transactions entered 30 days before, but rather on the day I actually paid the bill. This was the reason for my initial strategy. Changing the strategy again hopefully will satisfy everyone's needs.

The current str

[2016-02-04 07:13] vomikan opened #690 "Fraction part may get lost after opening transaction for edit"
http://forum.moneymanagerex.org/viewtopic.php?f=10&t=6165

https://sourceforge.net/p/moneymanagerex/bugs/808/

Windows 7 x64, system locale settings are set to "Russian Federation", MMEx default currency is set to RUB. One of my accounts uses USD as a default currency. For USD the default is to use dot (".") as a decimal separator. In case I create a new USD transaction having a non-zero fractiona

[2016-02-04 12:35] Stonyjohn commented on #561
Quote: "... the only way to achieve an entry before the due date that would suite everybody was to split the dates."
Surely, separating the dates is what you have done. On version 1.1.2 there is only one date column: "Next Due Date". On version 1.2.3 there are two: "Payment Date" and "Due Date". My policy is to make a payment on the due date - why pay early! However, at any time I want to pay earl

[2016-02-04 21:51] dmgawel commented on #667
Master builds only after removing SQLITE_ENABLE_EXTFUNC. I've informed wxsqlite3 author about issue (https://github.com/utelle/wxsqlite3/issues/1) and he probably resolved it. I'll test with new version and make proper PR if it works.

[2016-02-05 09:46] stef145g commented on #561
What I meant by:
`The standard pre-notification of 14 days on the home page, is set by the "Date Paid".`
 is:
Any transaction that is coming up within 14 days will be displayed on the Home Page under the heading **Upcoming Transactions**. The "Date Paid" field will now be the date which determines when this summary is displayed the home page. In version 1.2.0 this is known as the "Payment Date". B

[2016-02-05 13:55] guanlisheng commented on #667
thanks @dmgawel and all. i believe Anvil removal has nothing to do this building failure.

[2016-02-06 11:29] Stonyjohn commented on #561
Thanks for the explanation.

So, the "Pay Date" item in the Edit Recurring Transaction box refers to the date appearing in the "Payment Date" column on the Recurring Transactions listing, and this is the date the home page notification appears. Is this the date the transaction would be transferred to the account listing if it has been set to "Automatic"? And am I right in thinking that the date of

[2016-02-06 16:19] stef145g commented on #561
I have set up 3 recurring transactions in a test database and created these images.
This is using version 1.2.5: New changes don't exist in this version. Some columns have been hidden.
![v1 2_recurring_trans](https://cloud.githubusercontent.com/assets/6927151/12867131/9a7ac10e-cd39-11e5-8eab-3c6722e6f6ef.png)

Today being the 7th February, you will notice that the home page only displays 2 transac

[2016-02-06 16:54] stef145g commented on #561
@Stonyjohn  Correction... 4 questions not 3
You question:
_Is this the date the transaction would be transferred to the account listing if it has been set to "Automatic?_
The answer is Yes, and No your next question. You would be presented with today's date in semiautomatic mode which you could correct as explained above, but the fully automatic mode transaction, would contain the payment date, wh

[2016-02-07 22:41] Stonyjohn commented on #561
Thanks for that - I think I've got it now.

I think it would be easier to understand if the date the next occurrence of transferring a transaction to the database was labelled "next occurrence" instead of Date Paid, as it wouldn't actually be paid on that date, but a date in the future.

I look forward to seeing the next version.

[2016-02-07 22:41] #561 closed

[2016-02-09 13:34] vomikan opened #694 "GRM Run Report issue"
On SQL syntax error or empty report after the Run button pressed previous report html file become visible.
Some cleanup needed before a report start.

[2016-02-10 11:36] guanlisheng commented on #690
would we close this? @vomikan

[2016-02-10 12:38] #690 closed

[2016-02-10 14:57] guanlisheng opened #698 "sync schema for customxxx"

[2016-02-10 14:59] guanlisheng opened #699 "do we still need all_currencies_template"
Now, all currencies are initialized based on the database, do we still need this redundant function?

[2016-02-10 15:05] vomikan commented on #699
It was good idea to has all currencies in mmex.
It does not metter how to realize it.
You may modify it as you wish.

[2016-02-10 15:17] #698 closed

[2016-02-10 15:39] #699 closed

[2016-02-12 09:22] vomikan opened #701 "QIF transfers all import as expense"
Here you go. I set up a new database with accounts Test1 and Test2. I imported the file below into account Test1. After the import, both Test1 and Test2 show transactions with a debit balance of 10.00. Test2 should have a credit balance of 10.00.
[code]
Thanks!
https://sourceforge.net/p/moneymanagerex/bugs/774/

[2016-02-12 11:16] vomikan opened #703 "help file style"
v.1.2.x
[code]
v.1.3.x
[code]
In that case 'master.css' file should be in the same dir with index.html.
But I am not sure if this true.

[2016-02-13 12:30] guanlisheng commented on #340
hi @moneymanagerex/desktop-mmex-team , how about to roll out this simplification soon?

[2016-02-14 09:40] guanlisheng commented on #677
has this been fixed? @vomikan

[2016-02-14 11:29] vomikan commented on #677
may be only performance issue.

[2016-02-14 11:30] #701 closed

[2016-02-14 11:30] #694 closed

[2016-02-14 12:44] guanlisheng commented on #677
what is the performance issue, is there any data to reproduce the issue?

[2016-02-14 13:01] vomikan commented on #677
Just needed any account with about 10k transactions with notes.

[2016-02-14 15:47] gabriele-v opened #707 "Pre-loaded data translation"
- [ ] For "pre-loaded" categories/subcategories/currencies should be provided a translation during view.
  If user renames a pre-loaded entry, translation will be lost (that's fine).
- [ ] Provide same translation in GRM\SQL reports and standard reports
- [ ] In Currency table only CurrencyName, Unit_Name and Cent_Name must be translated, all other fields must not be into _() or wxTranslate() beca

[2016-02-14 15:50] gabriele-v commented on #707
@moneymanagerex/desktop-mmex-team Other suggestions are welcome

[2016-02-14 16:12] guanlisheng opened #709 "SPLITTRANSACTIONS: add ACCOUNTID and NOTES columns"
existing SPLITTRANSACTIONS_V1 has some performance issues to fetch all split transactions under a given account

The basic goal is to add account id for v2.

[2016-02-14 16:44] gabriele-v commented on #709
Why not simple add new column ACCOUNTID? In that way we won't make any problem to existing reports..

It could be the opportunity to start add in desktop version SQL Updates as suggested by @MisterY

With a .sql file (that we could simply run in Android version too) we will brillant solve the problem:
`ALTER TABLE SPLITTRANSACTIONS_V1 ADD COLUMN ACCOUNTID;`
`CREATE INDEX IDX_SPLITTRANSACTIONS_V1_A

[2016-02-14 17:08] vomikan commented on #707
What about to store translations in DB?

воскресенье, 14 февраля 2016 г. пользователь Gabriele-V написал:

[2016-02-14 17:36] vomikan opened #710 "wxNewId()"
I spied it here:
https://sourceforge.net/p/lenmus/code/HEAD/tree/trunk/src/app/lenmus_welcome_window.cpp#l42

[code]
Should we use subj.?

[2016-02-14 18:02] MisterY commented on #709
Agree. And we could add Notes field at the same time.

[2016-02-14 18:32] gabriele-v commented on #709
@guanlisheng if agree I can take care of add upgrade support to MMEX Desktop, I've already done it for WebApp so I can easily reproduce it..

[2016-02-14 18:36] gabriele-v commented on #710
wxNewId() is deprecated and suggested use of wxID_ANY:
http://docs.wxwidgets.org/trunk/group__group__funcmacro__misc.html#gaa2d93c1680369b4227f7de9de58e5fcb

[2016-02-15 00:15] guanlisheng commented on #709
@gabriele-v there are two reasons to keep an explicit v2 table to replace v1 and thanks for the taking.
* Easy to track the versioning for a given table
* ALTER TABLE has some limitation here which would only appends new columns to the end of the list of existing columns

@MisterY agreed to add notes as well.

Some notes here. this is a try on how to do the table/data migration for future schema c

[2016-02-15 01:24] stef145g commented on #707
As for preloaded user data to the database on database creation, this should set in the language of the user. Additions or changes to the initial data set done by the user, will then match the user's language setting. As user data, I would not expect the program to modify my data added to the database.

The current language implementation for preloaded user data implemented prior to #704 was disco

[2016-02-15 06:35] gabriele-v commented on #709
Personally I don't think that add columns to to the end it's a problem. Maybe stylish won't be optimal, but it's a DB so if you want column with specific order you can choose it during select.
Anyway it's still possible to add a column in the middle, simply create a temp table, populate with data, drop the original, recreate, reinsert and then drop temp table.

Regarding versioning, change a table

[2016-02-15 06:58] guanlisheng commented on #707
@gabriele-v please help to make the finally call here.

[2016-02-15 11:08] #710 closed

[2016-02-15 12:14] vomikan commented on #709
Related issue: https://github.com/moneymanagerex/moneymanagerex/issues/488

[2016-02-15 12:14] vomikan opened #713 "YQL"
We need something like this
https://github.com/tforsberg/yql-yahoo-finance-wrapper/blob/master/ESGI.YahooFinance/Operations.cs

Related issues:
https://github.com/moneymanagerex/moneymanagerex/issues/647
https://github.com/moneymanagerex/android-money-manager-ex/issues/687

[2016-02-15 12:34] guanlisheng commented on #709
schema for v2

[2016-02-15 13:02] guanlisheng commented on #709
@gabriele-v example on how to upgrade the schema from v1 to v2
https://github.com/moneymanagerex/moneymanagerex/compare/master...guanlisheng:master

[2016-02-15 19:46] dwrj87 commented on #679
Just an update - so far, on Linux, I've got it compiling, installing and creating a package, as well as compiling the tests. There are still some things I'm not happy about with the tests however so I'm still working on them

I should be ready to get it working on Windows within the week. I can't test OSX however, so I will do my best and hopefully somebody that can will take it over then to finis

[2016-02-15 20:26] vomikan opened #714 "Reports for selected accounts and transfers"
problem in the construction of reports on individual accounts: take into account only the direct income and expenditure accounts, and transfers to and from it will not be displayed. As a result, the balance does not correspond to the real ...

проблема в построении отчетов по отдельным счетам : учитываются только прямые доходы и расходы счета , а переводы на и с него никак не отображаются . В итог

[2016-02-15 21:04] gabriele-v commented on #709
@moneymanagerex/desktop-mmex-team see pull #715

@guanlisheng it will be really nice if you could create a script sqliteupgrade2cpp.py similar to sqlite2cpp.py in order to automatically generate dbupgrade_query.h searching for existing files like database_version_4.sql, database_version_5.sql etc. in database folder.
I'm not a Python expert but should be quite simple considering work that you have

[2016-02-15 21:14] MisterY commented on #709
Great work, @gabriele-v. :+1: Thanks!

[2016-02-15 21:14] gabriele-v commented on #709
@moneymanagerex/desktop-mmex-team @moneymanagerex/android-mmex-team
Do you think that we need to upgrade BUDGETSPLITTRANSACTIONS_V1 as well?

[2016-02-15 21:15] MisterY commented on #709
I believe so. They are copied 1-to-1 into the split categories of the actual transaction, right?

[2016-02-15 21:35] gabriele-v commented on #709
BUDGETSPLITTRANSACTIONS_V1 updated.

@stef145g could you update code to correctly manage new split fields in recurring transaction? I don't know that code well.. Thanks

[2016-02-17 07:36] vomikan opened #716 "Used currency issue"
If some empty account created the currency of the account not visible in currency manager (if 'Show all' checkbox inactive)

[2016-02-17 07:41] vomikan commented on #716
Sorry, my mistake.

[2016-02-17 07:41] #716 closed

[2016-02-17 15:04] guanlisheng commented on #301
@gabriele-v would you help to enhance the ORM ?

[2016-02-17 15:05] guanlisheng commented on #297
@siena123 how was everything going? would we close this ?

[2016-02-17 15:07] guanlisheng commented on #488
close this since we are planning to fix this via #709

[2016-02-17 15:07] #488 closed

[2016-02-17 15:54] vomikan commented on #714
Should we show transfers in reports for selected accounts?
Or may be add it as option.

[2016-02-18 13:27] siena123 commented on #297
I have not had much time to work on this yet but I am still trying to work on it. I am considering this as the major feature enhancement that I am currently working on. Right now I am focusing my time more on doing bug fixes to v1.3 rather than on staring to code changes for another new feature or enhancement. I am also helping two users at the moment with some custom reports in GRM. So the short

[2016-02-18 15:09] guanlisheng commented on #544
@stef145g would we close this ?

[2016-02-18 18:51] vomikan opened #717 "Transaction Report formatting problem"
mmex version: 1.2.5
os version: Any
http://forum.moneymanagerex.org/viewtopic.php?f=10&t=6380
make sure these boxed are checked before submitting your issue - thank you!
- [x] check your os version (windows, linux, osx)
- [x] check your mmex version

[2016-02-18 18:52] vomikan commented on #717
http://forum.moneymanagerex.org/viewtopic.php?f=10&t=6380

[2016-02-19 05:23] guanlisheng commented on #677
ok. let's use priority queue to process counterMap
http://www.cplusplus.com/reference/queue/priority_queue/

[2016-02-19 14:19] guanlisheng commented on #677
@vomikan here you go

    const auto notes = instance().find(NOTES("", NOT_EQUAL)
        , accountID > 0 ? ACCOUNTID(accountID) : ACCOUNTID(-1, NOT_EQUAL));

    std::map <wxString, size_t> counterMap;
    for (const auto& entry : notes)
        counterMap[entry.NOTES]++;

    std::priority_queue<std::pair<size_t, wxString> > q;
    for (const auto & kv: counterMap)
    {
        q.push(std::make

[2016-02-21 12:43] bob3000 opened #721 "qif import not respecting selected date format"
mmex version: 1.2.5
os version: Max OSX 10.11.3

I tried to import some qif files with the date format like `DD/MM/YYYY`. Even though I selected the correct format mmex would in some cases (I couldn't figure out on what it depends) interpret the format as `YY/MM/DD`.
It even showed up correctly in the preview window but finally when I close the import window in my account I'll have entries e.g. fr

[2016-02-21 13:51] vomikan commented on #721
It looks like already fixed symptom. Try to select date format before import even if already ok.

[2016-02-22 02:17] guanlisheng opened #723 "Views to wrap physical tables"
Now we have following tables and as @vomikan mentioned, better to create a fix view name to point the table. for instance view **ACCOUNTLIST** to **ACCOUNTLIST_V1**

CREATE TABLE ACCOUNTLIST_V1
CREATE TABLE ASSETS_V1
CREATE TABLE BILLSDEPOSITS_V1
CREATE TABLE BUDGETSPLITTRANSACTIONS_V1
CREATE TABLE BUDGETTABLE_V1
CREATE TABLE BUDGETYEAR_V1
CREATE TABLE CATEGORY_V1
CREATE TABLE CHECKINGACCOUNT_V1
C

[2016-02-22 02:17] guanlisheng commented on #723
@moneymanagerex/desktop-mmex-team any volunteer to follow this?

[2016-02-22 05:53] guanlisheng commented on #723
[Create View in SQLite](https://www.sqlite.org/lang_createview.html)

[2016-02-22 06:42] gabriele-v commented on #723
I think it will be better to directly rename tables instead of create views..

Also, both creating views and rename table, could be done only after 2.0.0 using new upgrade process

[2016-02-22 08:05] guanlisheng commented on #713
@moneymanagerex/desktop-mmex-team  Any volunteer here?

[2016-02-22 08:07] guanlisheng commented on #310
@siena123 close this due to big sizing for chromium.

[2016-02-22 08:07] #310 closed

[2016-02-22 08:08] guanlisheng commented on #461
any conclusion here ?

[2016-02-22 08:10] guanlisheng commented on #566
would we close this issue now ?

[2016-02-22 08:11] MisterY commented on #461
This requires setting up Split Categories table in a way similar to transactions, in that they would require the transaction type and account to/from.

[2016-02-22 08:11] guanlisheng commented on #478
@vomikan would you close this ?

[2016-02-22 08:12] MisterY commented on #566
I have not heard from the affected users so I'd say yes. Next time I'd like them to file an issue directly on GitHub and follow up.

[2016-02-22 08:13] guanlisheng commented on #461
So we are planning to support this features in future? for instance, v2.0?

[2016-02-22 08:14] MisterY commented on #461
I believe so. This should be a supported scenario if we have split categories.

[2016-02-22 08:16] guanlisheng commented on #461
@vomikan would you mind to take this?

[2016-02-22 09:14] guanlisheng commented on #566
thanks @MisterY , in this case, I will close this issue soon.

[2016-02-22 10:36] vomikan commented on #478
No. There are a lot of scaling issues. Or it may be closed as 'accepted'.

понедельник, 22 февраля 2016 г. пользователь Lisheng написал:

[2016-02-22 10:41] vomikan commented on #461
Unfortunately, no. I'll prefer to fix bugs for 1.3.
I have no time for develop somthing new.

понедельник, 22 февраля 2016 г. пользователь Lisheng написал:

[2016-02-22 10:47] stef145g commented on #461
@MisterY , it is interesting that you chose this scenario for split transfers

This is a common occurrence for me and the way I handle this, is to transfer the whole amount to "Wallet/Cash" with a category of "Transfer/Shopping" and the actual groceries transaction is in my "Wallet/Cash" account. This records the expense component to the non expense component, a well as providing me with a total w

[2016-02-22 11:02] MisterY commented on #461
@stef145g, I'd support this suggestion. Migrating the two transaction tables into one would make things simpler and easier (hopefully). As you say, the details would need to be worked out.

For example, I would suggest a UUID (text) field for the **Split Id**. All the transactions with the same Split Id would be summarized as one transaction in the transactions list, and each of these records woul

[2016-02-22 11:59] vomikan commented on #677
Here is Trim() needed
[code]

[2016-02-22 13:17] MisterY commented on #461
One more point for simplification might be removal of the Transaction Type field. In this case, the amount would be enough to define whether the transaction is a withdrawal or a deposit. We currently do not distinguish between deposit and withdrawal categories so no effects there. The simplification would be in having no need to check the amount and compare to the transaction type, which is quite

[2016-02-22 16:20] omalleypat commented on #679
Just a quick update - I did get bakefile 0.2.9 working on Mac over this past weekend.

[2016-02-24 08:45] guanlisheng commented on #558
@vomikan will it be done for v1.3 release ?

[2016-02-24 09:11] vomikan commented on #558
Yes. It should be quiet easy.

среда, 24 февраля 2016 г. пользователь Lisheng написал:

[2016-02-26 12:40] #677 closed

[2016-02-26 12:47] vomikan commented on #721
Could you provide sample QIF file to reproduce this issue.

[2016-02-27 00:32] stef145g commented on #461
With reference to #709 _(Introduce table SPLITTRANSACTION_V2)_ and with @MisterY comment above, a proposed modification to the checking account table is presented for an updated database schema for Version 2.0.0:

**Modified table with different fields**:
[code]

**Changes:**
[code]
Also prefer to change the name of the table to **TRANSACTION** or **TRANSACTIONS**

A further proposed field name ch

[2016-02-27 00:47] Pulfer opened #731 "Source code release tarballs miss required submodules"
Source code release tarballs miss required submodules (lib/wxsqlite3 etc). Please ship tarballs with all non-optional modules.

[2016-02-27 02:43] stef145g commented on #461
Extension: Addition of field **TRANSFERTO** to identify where this transfer is going. Most transfers would be to other transactions, but with this extra field, transfers to other entities would be possible and easily identifiable from the transaction.

[code]

[2016-02-27 08:49] vomikan commented on #621
Related issue: https://github.com/moneymanagerex/moneymanagerex/issues/622

[2016-02-27 08:49] #621 closed

[2016-02-27 09:03] vomikan commented on #483
Related issue: https://github.com/moneymanagerex/moneymanagerex/issues/659

[2016-02-27 09:03] #483 closed

[2016-02-27 09:06] vomikan commented on #558
Shoul dbe done in this case: https://github.com/moneymanagerex/moneymanagerex/issues/297

[2016-02-27 09:06] #558 closed

[2016-02-27 09:10] vomikan commented on #721
I can't reproduce this issue with mmex 1.3.0
[code]

[2016-02-27 09:10] #721 closed

[2016-02-27 09:13] #717 closed

[2016-02-27 09:37] vomikan commented on #731
I recomment to use git client and command:
[code]

[2016-02-27 09:37] #731 closed

[2016-02-27 09:43] vomikan commented on #584
Should we do somthing on PC version side?

[2016-02-27 09:46] vomikan commented on #714
We should change multy currency concept. Results should be used with the same currency as account.
Never mix different currencies results even by multiply them to [historical] exchange rate . It distorts result.

[2016-02-27 09:49] vomikan commented on #707
I suggest to postpone this issue and return to it with v 2.0

[2016-02-27 09:51] vomikan commented on #584
This issue is a distraction from the 1.3.0 release

[2016-02-27 09:51] #584 closed

[2016-02-27 14:43] bob3000 commented on #721
I need to correct my bug report. The import itself works. What happens is the following. I set the date to the correct format `DD/MM/YYYY`, then I open the file and when the open-file-dialog closes the date format jumps to `YY/MM/DD`. I didn't noticed that in the first place
So the bug is actually not that problematic but is's still very confusing. My apologies for the wrong former description of

[2016-02-27 14:49] vomikan commented on #721
OK
It wokrs the next way.
When file opening all 'Date' tags analized. If date parsed successfully with some date mask - this mask is valid, if not parsed - the mask is invalid.
I recommend to choose date mask after file opening.

[2016-02-27 15:15] vomikan opened #732 "Transaction posted to category , not reflecting in budget"
mmex 1.3.0 and 1.2.5
https://sourceforge.net/p/moneymanagerex/bugs/815/

- [ ] check your mmex version