[2016-02-27 16:26] vomikan opened #733 "Base currency rate should be always =1"
make sure these boxed are checked before submitting your issue - thank you!
- [ ] check your os version (windows, linux, osx)
- [ ] check your mmex version

[2016-02-27 16:46] vomikan commented on #732
I can reproduce this issue only if base currency rate is 0.00.
I've opened a related issue https://github.com/moneymanagerex/moneymanagerex/issues/733

[2016-02-28 04:39] stef145g commented on #709
Changed Milestone to V2.0
Other proposed changes may impact in the implementation of this namely Split Transfers #461

[2016-02-28 08:34] MisterY commented on #461
Quick question. Since both foreign keys (to transfer and the split group) are listed as NOT NULL, what should be the default values? How do we handle that?
I'd suggest leaving it as NULL unless there are issues.

[2016-02-28 09:48] stef145g commented on #461
The values would be set to -1
If leaving as Null is better then we could do that.

[2016-02-28 20:44] vomikan opened #735 "Backup location"
The issue has been reported on Facebook.
I notice that each time it is used a copy of the data is stored meaning there a a number of files in the chosen folder. It would be nice to have a backup facility to a different drive but this is just a minor problem.

I suggest to use the same settings for backup as for attachments
![screenshot 25](https://cloud.githubusercontent.com/assets/6836805/1338176

[2016-02-28 21:17] gitys opened #736 ""Cancel" button in new DB wizard doesn't work"
make sure these boxed are checked before submitting your issue - thank you!
- [x] windows, debug 32
- [x] 1.3.0-alpha side branch

This is a debug build on my side branch with no significant changes.

There seems to be no way out of the wizard besides the finish button because the X button doesn't work and neither does the cancel button.

[2016-02-28 21:27] gitys opened #737 "It takes "New DB wizard" 35 seconds to open"
After selecting the file name for the new DB, I took 35 seconds for the wizard window to open.
This time can probably be shortened.
If not, there should be a "Please wait..." message open, with a progress bar if possible.

- [x] windows
- [x] 1.3.0-alpha

[2016-02-28 21:47] vomikan opened #738 "date issue"
v. 1.3.0-alpha
Win 7x64

![screenshot 26](https://cloud.githubusercontent.com/assets/6836805/13382137/f11b0816-de7d-11e5-834e-8ac76e2bb36d.jpg)

- [x] check your os version (windows, linux, osx)
- [x] check your mmex version

[2016-02-28 22:02] vomikan commented on #738
[code]

[2016-02-29 00:06] vomikan opened #739 "Currency not Latin fields issue"
![screenshot 29](https://cloud.githubusercontent.com/assets/6836805/13382946/6f54c20e-de91-11e5-8c1d-b20412b1b8b6.jpg)
- [x] Windows 7x64
- [x] 1.3.0-alpha

[2016-02-29 00:07] vomikan commented on #737
Only 5 sec in debug mod for me

[2016-02-29 00:11] vomikan commented on #736
I think it happens after this changes
https://github.com/moneymanagerex/moneymanagerex/commit/1a3b8009c0a6f1d8232905c16d4f499522ca3287

[2016-02-29 00:22] vomikan commented on #738
I suggest this code:
[code]

[2016-02-29 01:43] b-trav commented on #536
I am also getting this error today (29th February 2016). It looks to me like there might be a bug when mmex opens on the last day of the month. I will try and open my files tomorrow ...

[2016-02-29 02:40] siena123 commented on #736
It has nothing to do with those changes.

The problem is that we are specifically telling it to ignore the cancel event in line 94 of the wizard_newdb.cpp file. Was this done to insure that the base currency got set?

void mmNewDatabaseWizard::OnWizardCancel(wxWizardEvent& event)
{
event.Veto();
}

- James

From: "Nikolay" <notifications@github.com>
To: "m oneymanagerex/moneymanagerex" <moneymanag

[2016-02-29 10:00] MisterY commented on #461
Yes, I think NULL would make more sense as I'd prefer SplitId to be GUID/UUID rather than Integer.

[2016-02-29 10:17] stef145g commented on #461
This would make it like this:

[code]
Do you agree with the field name changes, or do you prefer the old name style?
Anything else that may be required that I have not thought about?

[2016-02-29 10:34] MisterY commented on #461
I personally don't mind the variable naming standard as long as we stick to it. :)
Some strictly personal preferences below:
- *ID* is generally enough for the primary key. In queries this requires using the table name or alias (i.e. Transaction.Id), which is generally a good thing.
- Foreign keys generally are named *Table_Id*.
However, there are so many standards that anything you guys agree to

[2016-02-29 13:43] tonnydourado commented on #429
I'm getting a similar error message:

[code]

I tried to take a look at the database with sqliteman, but I realized I'm not sure which table is being accessed, from the backtrace information. As a wild guess, It seems that today being the 29th of February might have something to do with it. This does not happen on the mobile app, by the way.

If you guys want, I'm willing to share my database for

[2016-02-29 14:42] MisterY commented on #461
Whoever does this, please note that a migration is required for the Amounts. Removing TransType field requires that the positive numbers turn to negative for all Withdrawals. Not sure if this needs to be mentioned but better safe than sorry.
I reckon this would be the part of migration where Transfers also get divided into two transaction records.

[2016-02-29 14:45] MisterY commented on #461
An observation regarding the **CurrencyRate** field - can't this value be calculated from the actual amounts in both sides of the transfer? It might be redundant as simple division of the amounts will provide the actual exchange rate in any direction.

[2016-02-29 14:59] #738 closed

[2016-02-29 15:04] guanlisheng commented on #429
@howff would you mind to share your financial year setting here? i am suspect it is caused by incorrect calculation for financial year.

[2016-02-29 17:26] vivimos commented on #429
I'm also getting the same error when using arch linux x86_64, MME version 1.2.5. I checked all of the dates in the database finding one error (year 0016) which was corrected but the assertion continues.

My financial year begins January 1st.

[2016-02-29 20:47] MartinX3 commented on #429
Get the same Error
Linux Mint 17.2 x64 Mate-Edition

MMEX 1.2.4

[2016-03-01 12:22] enasalitis opened #741 "Transactions are empty on 29.02.2016 (Leap Year Bug)"
BUG seems to affect all mmex versions in Windows

You can find a detailed desciption of the problem to the following Support Forum Threads:
http://forum.moneymanagerex.org/viewtopic.php?f=23&t=6394
http://forum.moneymanagerex.org/viewtopic.php?f=23&t=6398
http://forum.moneymanagerex.org/viewtopic.php?f=23&t=6392
http://forum.moneymanagerex.org/viewtopic.php?f=23&t=6399

Copying from the first foru

[2016-03-01 15:07] vomikan commented on #741
Leap Year Bug

If you used MMEX today (Feb 29 - leap year) you've probably noticed all your transactions are not displaying properly. All the data in the database is safe, it is only an issue with displaying items on the screen. Everything will return to normal tomorrow. You can also reset the date on your computer to yesterday and everything should reappear. Sorry for the inconvenience and thanks

[2016-03-02 06:31] vomikan commented on #737
http://docs.wxwidgets.org/3.1.0/classwx_activity_indicator.html

[2016-03-02 12:12] vomikan opened #742 ""Budget Performance Summary" - Enhancement Needed"
Hello MMEX Team,

Regarding this Feature, it is a very good idea for summarizing the whole year's comparison (Actual Vs Estimated) for the year . But I realize that, the way this report is presented is not user friendly to read the report / values.

Please have a look onto my attached proposal for enhancing this feature, which could make the report to be more easily readable.

I believe that, my p

[2016-03-03 06:50] mj1856 commented on #741
According to [issue 837 on SourceForge](https://sourceforge.net/p/moneymanagerex/bugs/837/) there are still issues.

(Why two bug trackers anyway?  :confused: )

[2016-03-03 21:31] gitys opened #744 "Correct currency info for "Israeli new shekel""
- [X] windows
- [X] 1.3.0 alpha

Opening this ticket following Vomikan's instruction from PR #740

There are two fixes that are required to "Israeli new shekel"
1. Change name: use "Shekel" not "Sheqel"
2. Add symbol: symbol is ₪ (\u20AA)
.

[2016-03-03 22:02] gitys opened #745 "Rethink import/export settings templates"
There are several points here I was thinking can be improved and in this issue I'd like to share them with the team and start a discussion about them.

**Primary improvements**
1. Templates should have a name. It will make it easier to find, rather than hopping through numbers 1-9.
2. It is not possible to modify an existing template and save it in a different slot. You need to go to the new slot

[2016-03-03 22:47] vomikan commented on #739
[code]

[2016-03-03 22:47] vomikan commented on #744
Related issue: https://github.com/moneymanagerex/moneymanagerex/issues/739

[2016-03-05 10:46] CloudAloud commented on #745
I like the idea of export/import by right clicking on account.
I regularly import data from one MMEX database to another. Are there any way to do it without import/export directly from source to destination database? It might be very useful from my point of view.

[2016-03-05 22:15] vomikan opened #747 "Account type translation issue"
![acc_type](https://cloud.githubusercontent.com/assets/6836805/13550885/e9d5a79a-e338-11e5-9337-977c663e300d.jpg)

[2016-03-06 10:53] MartinX3 commented on #597
I got this error, after updating from 1.2.4-trusty1 -> 1.2.5, too.

An assertion failed!
../src/common/file.cpp(328): assert "(pBuf != __null) && IsOpened()" failed in Read().

mmex Error
can't open file '/usr/share/doc/mmex/contrib.txt' (error 2: No such file or directory)

Using Linux Mint 17.3 x64 Mate-Edition.
I will unzip the .gz files in this directory, but that error should be fixed.
(And t

[2016-03-06 11:05] MartinX3 opened #749 "Hidden columns in account view still display their values over active columns"
Refrence to this bug.
[https://sourceforge.net/p/moneymanagerex/bugs/809/](https://sourceforge.net/p/moneymanagerex/bugs/809/)
[https://sourceforge.net/p/moneymanagerex/bugs/809/attachment/display-bug.png](https://sourceforge.net/p/moneymanagerex/bugs/809/attachment/display-bug.png)

You can't enable the ID-Column.
Disabled Columns doesn't disappear.
Only the Column Header disappear, not the colum

[2016-03-06 13:51] dwrj87 commented on #597
Yes, I'm having a bit of trouble with the PPA. I will be fixing the bugs (again) and updating to 1.2.6 this week

[2016-03-06 14:56] dwrj87 commented on #749
#491

[2016-03-06 15:23] vomikan commented on #749
I don't beleave that you can't  enable the ID-Column.
There is right click menu should be available on colunms header.

[2016-03-06 15:26] vomikan commented on #741
![screenshot 37](https://cloud.githubusercontent.com/assets/6836805/13555119/f8bbe77a-e3c8-11e5-9b5b-f68290e2b91b.jpg)
I can't reproduce this issue

[2016-03-06 16:46] MartinX3 commented on #749
Yes, there is.
But i can't make a tick at the ID-Column-Option.

[2016-03-06 21:21] gitys commented on #745
Hi @CloudAloud
There is a "duplicate transaction" feature but it only works for a single transaction. It sounds like you are interested in a batch duplication, possibly using multi selection.
Since this issue specifically discusses templates, I recommend you open a separate feature request for batch duplicate.

[2016-03-06 21:51] vomikan commented on #749
Ha. The same issue on Windows PC. Seems becouse the ID column default size is 0.
Try to drag the right size of the first column.

[2016-03-06 21:59] MartinX3 commented on #749
I can't make the column large
if i try to drag the side of the first colum or the second (date) column, i slide only the size of the colum with the date or the column with the tick.
And if i try to enable the ID-Column in the right click menu, there wont be a tick, which would show me, that the column got activated.

[2016-03-06 22:00] #732 closed

[2016-03-07 05:08] guanlisheng commented on #739
it works fine for mac

[2016-03-07 08:19] guanlisheng opened #750 "Deprecate class mmOptions & mmIniOptions"
As part of code cleanup & system simplification, i believe this class would be deprecated and removed in near future and we can retrieve the data directly from database.

[2016-03-07 17:45] gabriele-v commented on #750
They are also used to improve performance storing in memory some common and widely used variables. We could have some performance issues fetching them every time from db

[2016-03-07 21:34] #741 closed

[2016-03-07 21:48] gitys commented on #744
I'm a bit confused now since this fix looks very similar to my fix PR #740 that was rejected by @vomikan
In any case, I think placing the unicode char in the source file is problematic. At least in visual studio I got a warning about this, and indeed when opening the currency dialog, the symbol was gibberish. Has this worked for you on windows? Using \u20AA worked for me.

[2016-03-07 22:13] vomikan commented on #744
I'm a bit confused as well.

2016-03-08 0:48 GMT+03:00 yshatsky <notifications@github.com>:

[2016-03-07 23:18] guanlisheng commented on #744
the major difference is that my patch generated from database repo

[2016-03-08 07:01] guanlisheng commented on #750
I don't see any performance here and it should be handled in model level.

[2016-03-08 07:02] guanlisheng commented on #742
@stef145g what's your opinion ?

[2016-03-08 09:14] stef145g commented on #750
I would have thought that the preferred method would be to keep the class/objects for options and even combining the two classes into one class.

This means that the only call we make is to the class method and the class/object does the rest. This way the class can determine if the option requires memory buffering for performance purposes or not, and if the data needs to be stored in the database

[2016-03-08 09:29] stef145g commented on #744
@gitys The changes made to the DB_TABLE_xxx.h would have been destroyed when the database schema was updated.
Refer to PR: https://github.com/stef145g/moneymanagerex/commit/0e1e78435eb024d9d233be5311c4740b4d95f736
This should help explain the process.

[2016-03-08 09:40] stef145g commented on #742
Looks good, and should be achievable.

[2016-03-08 10:24] #747 closed

[2016-03-08 10:31] vomikan commented on #742
It should be c++ JSON html template IS solution.

[2016-03-08 10:32] stef145g commented on #742
I agree

[2016-03-09 01:32] stef145g commented on #544
Although a Loan Account has been added, this needs further refinements, therefore leaving this open.

[2016-03-09 20:30] gitys commented on #744
Hi @stef145g
Thank you for that link!
1) I think I might still be missing something though. Based on the link and base on @vomikan's comment from #740, I would expect the commit to include a change to tables_v1.sql. Looking in this file, the currency info has not been updated:
`INSERT INTO "CURRENCYFORMATS_V1" VALUES(71,'Israeli new sheqel','','','.',' ','','',100,1,'ILS');`
Can you please explain

[2016-03-10 07:55] #733 closed

[2016-03-10 11:11] stef145g commented on #744
@gitys

The change and push is actually done in the submodule: database. Once you have executed a
**git.exe pull -v --progress "upstream"**  you must also do a
**git.exe submodule update --init**
( Personally I use Windows and TortoiseGit. I extracted the git commands from TortoiseGit for explanation)

If you treat the submodule **database** like a regular Git repository, you can show the Git log

[2016-03-10 11:23] vomikan commented on #739
On INSERT for all currencies the result incorrect if non ASCII symbols used
![screenshot 37](https://cloud.githubusercontent.com/assets/6836805/13668088/72c97230-e6cb-11e5-995f-2eef00ccc3e8.jpg)

[2016-03-10 12:15] vomikan commented on #739
Also incorrect code
[code]
wxTRANSLATE(...) only for name needed. Should be
[code]

[2016-03-10 21:57] gitys commented on #744
@stef145g
1) Thanks for that explanation. I updated submodules as you instructed and indeed I see the changes in tables_v1.sql
2) It is a bit strange that what you are describing is what I am getting when I have the ₪ symbol in the code. But for me using "\u20AA" works perfectly. I updated tables_v1.sql
`INSERT INTO CURRENCYFORMATS_V1 VALUES(71,'Israeli new shekel','\u20AA','','.',' ','','',100,1,

[2016-03-11 03:43] guanlisheng commented on #744
@stef145g would you help here to reproduce the issue in windows platform?

[2016-03-11 08:36] vomikan commented on #739
I've discovered that the code:
[code]
Working fine if placed, for example, in maincurrencydialog.cpp
![screenshot 39](https://cloud.githubusercontent.com/assets/6836805/13697091/32161ef8-e77c-11e5-978f-1538dadc452f.jpg)

But this code in DB_Table_Currencyformats_V1.h provide another result:
![screenshot 40](https://cloud.githubusercontent.com/assets/6836805/13697267/632a2736-e77d-11e5-8ae5-77835f0

[2016-03-11 13:40] vomikan opened #755 "db files structure"
@guanlisheng
Could you refactor (split)
DB_Table_Currencyformats_V1.h to h and cpp files
DB_Table_Currencyformats_V1.cpp (may be rename it to db_table_currencyformats_v1.cpp)

[code]

DB_Table_Currencyformats_V1.h

[code]

[2016-03-11 15:11] guanlisheng commented on #755
i wanted to understand why we need this change ?

[2016-03-11 15:15] vomikan commented on #755
If any changes has done in header file it takes a lot of time to compile a project.
No any other reasons.
You can close the issue if the alteration takes a lot of time.

[2016-03-12 00:03] stef145g commented on #755
I totally agree with @vomikan

@guanlisheng  to answer your question:

1. When a .cpp file is compiled, all .h files referenced are also compiled. This means that if a .h file is referenced by 20 files, the same .h file is compiled 20 times. The bigger it is, the longer it takes.

2. When the code is contained in a .cpp file, the .h file is still referenced but the actual code is only compiled onc

[2016-03-12 04:50] stef145g commented on #744
I have tried this using Win7 & msvc,2013, Win10, msvc.2013, and msvc.2015 and I could not get the correct Unicode characters.

I have now discovered that using  , **L"\u20AA"** or **wxTRANSLATE(L"\u20AA")** will return the correct Unicode character. In my opinion, wxTRANSLATE(...) is not needed in this case.

- The table_v1.sql file needs the Unicode symbol: **'₪'**
- The code generated from table

[2016-03-12 05:36] vomikan commented on #739
@stef145g could you reproduce this issue?

[2016-03-12 11:46] vomikan commented on #744
Related issue https://github.com/moneymanagerex/moneymanagerex/issues/739

[2016-03-12 12:37] dmgawel opened #756 "Convert comma to decimal point while inserting value"
Many European countries use the comma (,) as a decimal point. In case such a keyboard layout is used also decimal point on numpad is treated as comma. It makes inserting values into MMEX uncomfortable (it ignores commas). Maybe it would be a good idea to automatically change commas to decimal points while inserting values?

[2016-03-12 13:36] guanlisheng commented on #744
@stef145g @vomikan would you mind have a try on

[2016-03-12 13:41] stef145g commented on #739
I have now tested this and it works to some degree but this is not the solution.

I have created a temporary branch: https://github.com/stef145g/moneymanagerex/tree/test_only_non_functional
to allow others to experiment with it.

1. I have created **DB_Table_Currencyformats_V1.cpp with a few methods moved to the this file.
2. I have modified the euro currency Unicode character in the .cpp file
3.

[2016-03-13 09:07] vomikan commented on #737
[code]
 It should help

[2016-03-13 10:40] vomikan opened #757 "some strings start with space(s)"
Found some weird strings start with space(s).. Any guy help to fix them from source code.
[code]

[2016-03-13 12:16] dwrj87 commented on #757
I'll fix them now

[2016-03-14 07:50] vomikan commented on #756
It's already there.

[2016-03-14 15:15] #757 closed

[2016-03-15 07:01] vomikan commented on #544
Related issue: https://sourceforge.net/p/moneymanagerex/feature-requests/396/

[2016-03-15 07:03] vomikan commented on #326
Related issue: https://sourceforge.net/p/moneymanagerex/feature-requests/397/

[2016-03-15 08:26] vomikan commented on #744
Let's continue with https://github.com/moneymanagerex/moneymanagerex/issues/739

[2016-03-15 08:26] #744 closed

[2016-03-15 08:31] vomikan commented on #739
FYI
http://www.w3schools.com/charsets/ref_utf_currency.asp

https://forums.wxwidgets.org/viewtopic.php?f=23&t=41968

[2016-03-15 09:29] vomikan commented on #739
I've converted DB_Table_Currencyformats_V1.h file to UTF-8
![screenshot 46](https://cloud.githubusercontent.com/assets/6836805/13773191/1b8b4ade-eaa9-11e5-877b-e7bbd4459f76.jpg)
It started to work fine.

Now there are a lot of warnings appears:
[code]
But
[code]
helps to fix this warnings.

[2016-03-15 09:48] #737 closed

[2016-03-15 09:50] vomikan commented on #739
Related links:
http://www.skorkin.com/2012/07/how-to-set-the-default-encoding-for-all-files-saved-in-visual-studio/#.VufZ7OKLSM8

[2016-03-15 09:55] guanlisheng commented on #739
it's already UTF-8...
`src/db/DB_Table_Currencyformats_V1.h:         UTF-8 Unicode C++ program text, with very long lines
`

[2016-03-15 09:57] guanlisheng commented on #755
i think it's not the time yet.

[2016-03-15 12:06] vomikan commented on #739
There are two UTF-8 with BOM and without

[2016-03-15 12:09] vomikan commented on #739
How to implement this changes?
[code]

[2016-03-15 12:15] vomikan commented on #739
It's vital to note that
[code]
unacceptable to use.

[2016-03-15 12:39] guanlisheng commented on #739
@vomikan does this issue happen on Linux version?
it works pretty fine on Mac and i am suspecting it is a platform specific issue. @moneymanagerex/desktop-mmex-team

[2016-03-15 16:17] vomikan opened #760 "Budget performance report"
Amount colors is incorrect.

[2016-03-15 23:37] dwrj87 commented on #597
PPA has been updated to 1.2.6 and the "can't open file '/usr/share/doc/mmex/contrib.txt' (error 2: No such file or directory)" error should be gone

[2016-03-16 09:36] vomikan commented on #760
Sample for the Salary category
![screenshot 48](https://cloud.githubusercontent.com/assets/6836805/13807730/b38a7b3c-eb73-11e5-8b0b-2dc111cd7035.jpg)

[2016-03-16 10:12] vomikan commented on #739
Workaround for VS is:
![screenshot 48](https://cloud.githubusercontent.com/assets/6836805/13808599/f9c16828-eb77-11e5-9890-973942feadd2.jpg)

![screenshot 47](https://cloud.githubusercontent.com/assets/6836805/13808606/ff4c0780-eb77-11e5-9182-992f2035b773.jpg)

[2016-03-16 10:58] vomikan commented on #739
Final call here:
The file should be converted to UTF-8 with signature;
Pragma should be added:
[code]
L prefix should be added to all non Latin strings
[code]

[2016-03-16 11:10] vomikan commented on #739
Personally, I believe that all non Latin symbols should go away from source files.

[2016-03-16 12:54] vomikan commented on #703
https://github.com/moneymanagerex/moneymanagerex/commit/cdf5eee9a23986896fed337a91fbbea72abed8d1

[2016-03-16 13:06] #760 closed

[2016-03-16 13:53] vomikan opened #763 "Copyright info"
There are some outdated strings in help files and about diaog:

[code]

[code]

How to fix?

[2016-03-16 14:21] #703 closed

[2016-03-16 14:50] vomikan commented on #739
Related fixes: https://github.com/moneymanagerex/database/pull/13/commits/618281a59ff6379ab3b62ddb79b7b516c42663a3

[2016-03-17 08:54] #659 closed

[2016-03-17 10:31] vomikan commented on #763
Example:
[code]

[2016-03-17 14:07] vomikan opened #766 "Help file localization"
I suggest to create one help file and translate in using js.
Somthing like this: http://www.ab-weblog.com/en/internationalization-how-to-localize-html5-projects/

[2016-03-17 14:08] omalleypat commented on #649
There is a similar issue for stock prices update.

[2016-03-17 14:09] omalleypat commented on #658
This will stop if you turn off the News option in the Preferences.

[2016-03-17 14:19] vomikan commented on #658
It should be nonsense for 1.3.0 because news downloaded only at startup onece.

[2016-03-17 14:20] omalleypat commented on #658
Correct - this is not an issue in master branch right now.

On Thu, Mar 17, 2016 at 9:19 AM, Nikolay <notifications@github.com> wrote:

[2016-03-18 11:51] vomikan opened #767 "Account Creating"
An Account type should be chosen before enter an account name.

[2016-03-18 18:20] MartinX3 commented on #597
Thank you, it worked! :)

[2016-03-18 18:35] MartinX3 commented on #749
Thank you for the fix!
In which Version will it be?
1.2.6-trusty1 is not fixed.
I want to test it.

[2016-03-18 19:06] vomikan commented on #749
The developer way is build mmex from  scratch https://sourceforge.net/p/moneymanagerex/wiki/Building%20mmex%20Debian%20%28Ubuntu%29%20Linux/
It will help to check if the problem gone before relese.

Another options is waiting 1.2.7 release. But no garanty that my changes fix the problem. I've fixed only the I'D column sizing.

[2016-03-20 02:58] siena123 commented on #297
I want to make a few more changes but I have this to a point others can look look at the changes before I submit a pull request.

[2016-03-20 10:39] gabriele-v opened #768 "[summary.cpp] dateStart re-declaration"
Ln 300 and 403

@giuseppepaoletti
Could you check if code it's correct or you are overriding something?
If it's ok please rename the variable.

Thanks

[2016-03-21 11:02] MisterY opened #770 "Add Tags on transactions"
Ref: https://github.com/moneymanagerex/android-money-manager-ex/issues/735

For a start, we can add a Tags table with Id, TxId, and Name.
Users should be able to utilize tags in custom reports for now.

[2016-03-21 12:08] vomikan commented on #766
https://github.com/vomikan/mmex_help

[2016-03-22 23:29] siena123 commented on #742
I also agree that the proposal looks better. I think the view selection could be implemented similar to the way date range is done on the reports panel and could also be provided to the other budget report as well.

[2016-03-22 23:34] #674 closed

[2016-03-22 23:37] #420 closed

[2016-03-22 23:38] #531 closed

[2016-03-22 23:39] #297 closed

[2016-03-23 10:15] ul opened #773 "Unexpected character in NUMBER token: ,"
This error appears when I try to open “My Usage” report. Other reports are opened fine. I use USD, RUB and UAH accounts.

Linux cybercraft 4.3.6-1-ck #1 SMP PREEMPT Fri Feb 19 20:05:29 EST 2016 x86_64 GNU/Linux
MMEX 1.2.6

[2016-03-23 13:48] #768 closed

[2016-03-23 13:49] guanlisheng commented on #755
will close it soon if there is no objection ...

[2016-03-23 13:52] guanlisheng commented on #739
would we close it right now?

[2016-03-23 13:55] guanlisheng commented on #750
more details please and i don't quite understand your point here.

[2016-03-23 13:56] guanlisheng commented on #637
more details please.

[2016-03-23 15:04] vomikan commented on #739
It's still a mess

[2016-03-24 15:57] omalleypat opened #774 "mmFileHistory::~mmFileHistory() crashes on MacOS"
[code]

Issue present in MMEX v1.2.6 and current 1.2.x branch.
MacOSX 10.11.3

[2016-03-24 22:09] stef145g commented on #750
I will create an example and post it in a branch

[2016-03-25 03:06] stef145g commented on #750
New branch posted:[class_mmoptions_update](https://github.com/stef145g/moneymanagerex/tree/class_mmoptions_update)

[2016-03-25 09:43] Zorg2409 commented on #336
Hello,
I am just testing MMEx, and i am very interested in stock/asset management. The solution shown here seems to be a good one to complete my needs (by the way, it's the only one). How could i test it ?
Thanks

[2016-03-25 11:28] stef145g commented on #336
@Zorg2409, Since the original posted branch was out of date, it was removed.
I have reposted the branch under a different name: [stock_asset_transfers](https://github.com/stef145g/moneymanagerex/tree/stock_asset_transfers) so you can review it.

This was originally set up to test the underlying infrastructure for this solution, with the user interface needing refinements. No real changes have been

[2016-03-25 13:36] Zorg2409 commented on #336
Thanks for answering Stef145g, as i am only a user i am not able to compile a new specific version, my aim was only to test your solution, can you send me (or tell me where i can download) an executable windows file ?

[2016-03-25 23:19] stef145g commented on #336
@Zorg2409, I have now created a pre-release:  [Test of Stock Asset Transfers](https://github.com/stef145g/moneymanagerex/releases) where you should be able to get the executable files.
Regards, Stefano

[2016-03-26 10:24] Zorg2409 commented on #336
Many thanks Stefano, it seems to work, i'll see how and be back to you with my comments.

Nice WE and best regards

[2016-03-26 13:13] dmgawel commented on #756
Unfortunately it's not working.

My setup:
* MMEX v1.2.6
* Windows 8.1 (64bit)
* Keyboard layout: polish (programmers)

[2016-03-26 17:07] Zorg2409 commented on #336
@stef145g, please have a look on the attached .pdf and tell me where i am wrong.

[MMEX 1.3 Test.pdf](https://github.com/moneymanagerex/moneymanagerex/files/190550/MMEX.1.3.Test.pdf)

[2016-03-27 07:53] stef145g commented on #336
@Zorg2409, Setting up a stocks and shares account is a 2 stage process. First you need to set up the portfolio view, then you need to add the first entry to the shares account via the portfolio view.
This will correctly set up the number of shares in the portfolio view, and also add this to the shares account view.

Hopefully the help file explains how this works.
This is located in the help file

[2016-03-27 10:05] Zorg2409 commented on #336
@stef145g, So nice !

**"Therefore you need to associate the first entry in the portfolio view to the Shares Account Bidon." **this was the trick i didn't catch, despite the fact i rod carefully the help file i didn't see this point and i was wondering how to set a correct first transaction !

Now it works and i have a question: for each transaction you can select an account, in my case Bidon or a

[2016-03-27 12:25] stef145g commented on #336
When I originally worked out a solution for Assets and Shares, I was thinking of how to link the transactions of assets and/or shares to the regular accounts maintained in the transaction list (CHECKINGACCOUNT_V1). The user interface was initially developed to test out this process.

You will notice that Assets work in a very similar way, as explained in the technical description above.
Being able

[2016-03-28 08:38] vomikan commented on #750
@guanlisheng please look at this

[2016-03-28 08:41] guanlisheng commented on #750
is there a pull request to see the code difference?

[2016-03-28 08:43] guanlisheng commented on #750
i had a quick glance via https://github.com/moneymanagerex/moneymanagerex/compare/master...stef145g:class_mmoptions_update?expand=1

i am wondering why we still need this wrapper for model_infotable and model_setting?

[2016-03-28 10:16] vomikan commented on #770
Gabriele already has done somthing like this:
https://github.com/moneymanagerex/moneymanagerex/commit/392000f4d1a8adf3317e3e7f83ed21c99b3e509b

[2016-03-28 16:29] Zorg2409 commented on #336
I went further in testing your solution with no problem, it works nice for stocks and assets in the same way.

Definitively i think, from a user point of view, that it is a good implementation that can fullfill all the need for assets and stock management.

My today comments:
- In the share accounts : "ShareX window"
--> it would be nice to have those more informations : number of share @ purchase

[2016-03-28 20:49] MisterY commented on #770
Ah, great! That seems to be about the same concept. That way we can say we have even better feature than Projects.
When is this expected to be released? I don't see the table in my databases at the moment.

[2016-03-28 20:58] gabriele-v commented on #770
You are right, I haven't added tables in DB Upgrade..
On desktop it works because all tables are created if not exist.  I'll add them in v5 and 1.3.0

[2016-03-29 11:38] vomikan commented on #763
Hello, You can just use

Copyright 2005-2009 Madhan Kanagavel

Best Regards,
Madhan Kanagavel

[2016-03-29 11:38] #763 closed

[2016-03-29 11:56] stef145g commented on #750
@guanlisheng The pull request is #775

1. The wrapper simplifies calls to the appropriate table ("Model") unless the same calls are provided in the Model_xx class
2. It keeps all options together and ensures these are buffered. Improves performance
3. Improves code readability.

The class mmIniOptions should be merged into mmOptions class as these are options regardless of where they reside. The o

[2016-03-29 12:28] vomikan opened #776 "Help files in different languages differ from the original"
Help files in different languages differ from the original.
I suggest to have one file and translate it to oter languages by JS.

Prototype:
https://github.com/vomikan/mmex_help

[2016-03-30 08:03] CarloLucibello opened #778 "Feature suggestion: Loans and Debts"
Hi,
and thanks everyone for this nice open source software.

There is thing I miss from mmex compared to other softwares I tried: the possibility to keep track of how much money you owe and to who, and viceversa.

Bye,
Carlo

[2016-03-31 07:41] vomikan opened #780 "Navigation tree header translation"
![screenshot 47](https://cloud.githubusercontent.com/assets/6836805/14168824/1d26a1fa-f72d-11e5-82d6-810f3e087557.jpg)

[2016-03-31 11:19] siena123 commented on #778
If you enter your debts as an account with a negative initial balance you can keep track who and how much on the home page.

[2016-03-31 11:19] #767 closed

[2016-03-31 12:42] #770 closed

[2016-03-31 12:47] vomikan commented on #739
@guanlisheng please remove all entries of wxTRANSLATE("") from py file then update the code and po files. There are many helpless string present now (about 500 like "." ","  "$U" "Céntimo" "دج" etc).

[2016-03-31 22:05] AgentB1 commented on #536
Again on 31 March
mmex v1.2.6 from "Ubuntu" repo

ASSERT INFO:
../include/wx/datetime.h(1702): assert "tm.IsValid()" failed in Set(): invalid broken down date/time

BACKTRACE:
[1] wxDateTime::SetMonth(wxDateTime::Month)
[2] wxWizardPage::~wxWizardPage()
[3] wxWizardPage::~wxWizardPage()
[4] wxWizardPage::~wxWizardPage()
[5] wxSharedPtr<wxSQLite3Database>::get() const
[6] wxSharedPtr<wxSQLite3Datab

[2016-03-31 22:09] AgentB1 opened #782 "assertion failed (datetime) - endof month fail to start"
Repeat of
[https://github.com/moneymanagerex/moneymanagerex/issues/536](url)

OS version ubuntu 14.04 lts, mmex 1.2.6.
March 31
ASSERT INFO:
../include/wx/datetime.h(1702): assert "tm.IsValid()" failed in Set(): invalid broken down date/time

BACKTRACE:
[1] wxDateTime::SetMonth(wxDateTime::Month)
[2] wxWizardPage::~wxWizardPage()
[3] wxWizardPage::~wxWizardPage()
[4] wxWizardPage::~wxWizardPage()

[2016-04-01 07:22] vomikan commented on #536
@dwrj87 Could you check this issue using debugge?
https://github.com/moneymanagerex/moneymanagerex/wiki/Debuging-on-Linux-(Debian-Ubuntu)

[2016-04-01 21:49] dwrj87 commented on #536
I can, but probably not until Sunday

[2016-04-02 07:12] #780 closed

[2016-04-03 01:02] stef145g commented on #750
Continue with pull request #783

[2016-04-03 02:28] stef145g commented on #336
@Zorg2409, at this stage I would suggest that you do NOT use this test version for your mainstream. Because of your interest, I am planning to update this feature which will modify the underlying table structure. Depending on the views of @guanlisheng  and @vomikan will be the decider of weather it will be incorporated in MMEX or not. When I have updated the implementation, I will post a new test

[2016-04-03 12:33] Zorg2409 commented on #336
@stef145g , thank you for your implication in giving an answer to my need, i'll wait with interest your new test release.
By the way, the lost of original date and digits when editing stock transaction lead to a very difficult everyday use of the solution. I didn't found other problem.

@guanlisheng  and @vomikan , I understand your technical needs and your responsability in MMex development, but

[2016-04-03 12:48] MisterY commented on #336
@Zorg2409, thanks for the comments. We are all painfully aware of the missing bits in terms of Portfolio management. One thing to keep in mind, though, is that the solution be sound from the start in order to avoid restructuring and data migration at a later stage. What I mean here, is that all the scenarios from [this comment](https://github.com/moneymanagerex/moneymanagerex/issues/336#issuecomme

[2016-04-03 15:43] Zorg2409 commented on #336
@MisterY, Thanks for your explanations. As i am interested in portfolio management, i can test, as an user, any solution that the MMex team will bring forward. Waiting for it, the stef145g solution is usable and useful for me.

[2016-04-03 19:08] dwrj87 commented on #536
Hmm, I've compiled it with those flags, set my system date to the 29th Feb, and run the debugger. Nothing.....

The bug is there. I'll keep trying to get it to trigger, but if I can't, it will be triggered on the 30th April, so I shall get it done then

[2016-04-04 03:19] stef145g commented on #336
The [Asset Allocation](https://github.com/moneymanagerex/android-money-manager-ex/wiki/Asset%20Allocation#related) procedure as described is all and fine if I want to review my Superannuation Investments. This is not what I want.

**My scenario is this:**
I want to purchase shares directly from an organisation from a Shares Prospectus The I know the offer will be as a in packages of $1000, and the

[2016-04-04 06:47] MisterY commented on #336
@stef145g, I do not have an answer to that. Please read a bit more on Asset Allocation and see if it fits your needs. I do not see a relation between what you are asking and Asset Allocation.
Some introductory articles [here](https://en.wikipedia.org/wiki/Asset_allocation) and [here](http://www.investopedia.com/terms/a/assetallocation.asp). There are whole books written on the topic.

[2016-04-05 06:31] CarloLucibello commented on #778
thanks @siena123, it kinda works, but is not as I like it. Let's say Alice rents an apartment to Bob, so each month Alice adds a withdrawal transaction in the Debts account, indicating Bob as payee. Then, when B actually gives the money to A, A adds a deposit transaction in the Debt account, so that he can keep an eye on the evolution of the debt. Also A can see the net debt of B in the Payee sect

[2016-04-05 11:02] siena123 commented on #778
The way I have handled something similar is to have two databases one for each person. In one account I just do deposits and withdraws having payee being the name of the other person. In the other database I have an account with the other persons name which shows the debt between the two.

So in your case you outlined I would have databases Alice and Bob. In database Bob, I would just have normal

[2016-04-05 11:32] stef145g commented on #778
@CarloLucibello, In the scenario you have pointed out I would create an account for **Bob** as the tenant, and an account for the **Apartment**. Set the account types to suit.

- Rent for the apartment would be a transfer from Apartment to Bob. Set up as an auto payment in repeating transactions for the rent. This is not registered as income or expense.
- Payment from Bob would be a deposit in Bob

[2016-04-05 22:18] dmgawel commented on #756
I've achived it by changing decimal point in PLN to ",". Works fine. Maybe should be default for PLN?

[2016-04-05 22:18] #756 closed

[2016-04-06 04:54] guanlisheng commented on #739
how is everything going after some wxTRANSLATE removal?

[2016-04-06 15:19] #380 closed

[2016-04-10 02:08] lexa2 opened #788 "Transactions color tag is lost in some specific case"
**MMEx v.1.2.6** on **Win7 x64.**

**Workflow:**
1. Add new transaction by pressing F9 and entering transaction details.
2. Press Ctrl+1 (or any other Ctrl+Digit combo) to add a color tag to the created transaction.
3. Press F9 again and add yet another transaction.

**Expected results:**
Color tag will stay attached to the transaction added at p.1.

**Actual results:**
Color tag gets lost and I h

[2016-04-10 03:51] lexa2 opened #789 "Custom dates for reports"
I'm using MMEx 1.2.6 on Win7 x64.

While it is possible to produce a semi-decent reports using GRF framework and some SQL magic handling some cases is troublesome. A good example would be "ExpenditureHistory" report as available from reports collection git. This report is extremely useful to get a general idea on where had  money go but it produces wrong results in case database contains accounts

[2016-04-10 08:25] vomikan commented on #789
Дрертрпгргрсеекееепсммииилргоогг

[2016-04-10 13:07] #750 closed

[2016-04-12 07:24] sethuv23 opened #791 "Charts for monthly budget performance"
make sure these boxed are checked before submitting your issue - thank you!
- [OSX ] check your os version (windows, linux, osx)
- [1.2.5 ] check your mmex version
  It would be great if the budget performance for a month is displayed in a graphical format.

[2016-04-12 09:51] Zorg2409 commented on #336
And what's next now ? The subject is pending for a long time now and do not seems to go forward.

@stef145g I would add 2 items to your scenario:
10. i want to do a stock arbitration inside a portfolio (sales some stocks and buy other ones)
11 I have to pay the company that manage my portfolio, it's to be done in subtracting a few part of some stock regularly.

[2016-04-12 14:02] stef145g commented on #336
@Zorg2409, yes progress is slow because I only work on MMEX when I am not working in my regular job. Had this proposal been accepted when I put forward the last pull request 12 months ago, we would have had a more refined solution by now.

I have investigated the proposal that @MisterY has proposed and have come to the conclusion that Asset Allocation is not a solution for the above scenario.

I a

[2016-04-12 14:23] MisterY commented on #336
Hi, @stef145g, just to clarify that the proposal I added here bears no relation to Asset Allocation. Asset Allocation is a separate component that works pretty much autonomously and links to the securities only via Symbol. Based on how Investments are stored, Asset Allocation might be adjusted in the future to correctly fetch and add the total balance of securities per Asset Class.

The proposal I

[2016-04-12 14:28] MisterY commented on #336
@stef145g, based on your solution, how does one track the short- vs long-term holdings? Different tax rates apply if the stocks are sold within 12 months. How do you track which lot of shares was sold in each sale transaction?

Let's do a hypothetical scenario:
2014-10-01 Buy 100 BHP @ $10
2015-07-06 Buy 100 BHP @ $20
2016-03-01 Sell 150 BHP @ $30

Could you please describe which records get creat

[2016-04-12 15:29] guanlisheng commented on #336
@stef145g i have no clear idea yet for this request and actually there is #301 to track the enhancement.

[2016-04-12 15:37] MisterY commented on #336
As I believe this is quite an important feature, I will summarize the proposal in a [document](https://docs.google.com/document/d/1t19q4K5TOvh-pHQClDXno4zOTNNBPJi8jhuthSmjpd4/edit?usp=sharing) so that we can work on it collaboratively. Somehow it offers a better visualization. Please feel free to participate.

[2016-04-12 16:12] Zorg2409 commented on #336
@stef145g , you were not especially targeted by my previous comment, i understand how hard and slow it is to work on that type of project apart his everyday job. I just want to give a chance to the portfolio management to be a new important feature in MMex and save all the efforts and consumed time by all of you. We are certainly not so far of finding the right solution.

[2016-04-13 07:46] Zorg2409 commented on #336
@MisterY, i read carefully your documents and my comments are as follow:
- scenario 5 & 7 seem to be the same ie a conversion is a kind of transfer,
- what you call a Lot is a single transaction identifier, am I right ?
- I think that this document has to describe the main reports we need as they can add some more fields in the tables.

[2016-04-13 07:57] MisterY commented on #336
@Zorg2409, sure, you can even leave comments in the document itself, I think. Anyway, that was the intention.
Please feel free to contribute use cases or whatever else. This is just a skeleton where I put things I can think of right now.
If the fields are calculated, they might not need to be stored. What did you have in mind specifically?

The main purpose of the Lot concept is to track how many

[2016-04-13 08:46] Zorg2409 commented on #336
Yes I understood that the document was made to add comments inside of it but as it is in read only mode I do not know how to proceed.

As a portfolio has to be followed with care, we need to have some indicators of its health, one of them for example is the rentability of items you purchased calculated on a specific duration (year), compared day by day with the others shares in portfolio.

OK, I u

[2016-04-13 09:07] MisterY commented on #336
Thanks, I've enabled commenting. Missed that setting initially.
I've also added the Date field to the spec. Initially the structure of the Portfolio table was just to display the additional fields to the current Stock table in MMEX, which already includes the main fields like Date.

I fully agree about the need to have various values calculated for the portfolio. The one I like, which is not offer

[2016-04-13 09:28] stef145g commented on #336
I am in the process of creating a document that fully describes my approach. Not completed yet but is a start. [Stocks and Shares - Portfolio Management
](https://docs.google.com/document/d/1dg4RpIZyHuK6p2cd7nCtZwk_m0QTlFbCrZg9yeRjqI0/edit?usp=sharing)
I will refine the details in next few days.

[2016-04-13 10:11] MisterY commented on #336
@Zorg2409, to answer "scenario 5 & 7 seem to be the same ie a conversion is a kind of transfer" - conversion (scenario 7) is technically not a transfer like the scenario 5.
In Transfer (scenario 5), we move share holdings from one broker to another.
In Conversion (scenario 7), the company replaces convertible notes securities (symbol XYZ) for appropriate amount of regular shares (symbol ABC). This

[2016-04-13 10:19] MisterY commented on #336
@stef145g, I'll maintain the list of my comments to your proposal in this post, as I can't comments in the document directly.

- What would be the purpose of the PurchaseDate field if the stocks are purchased over a period of 10 years?
- The field for price is always called PurchasePrice even though the operations involve selling.
- Is it possible to identify long- vs. short-term holdings, i.e. th

[2016-04-13 12:12] stef145g commented on #336
I have changed the settings and hopefully have them correct in the document to allow comments. Not sure if I should set as Edit.

The purchase price field in the Stock table effectively becomes redundant, because the date field in the transaction table is used instead, as the date of the transaction.

I have also added a How it works section.

[2016-04-14 16:33] Zorg2409 commented on #336
@MisterY, I am thinking about 2 reports that would be useful:

From a starting date (SD) to a ending date (ED) and for each account:
- security name | SD & value | ED & value | difference between the 2 values (+ dividends if some during the period) | growth in % | annualized growth in %,
- security name | SD & total value | part in the account (%) | ED & total value | part in the account (%) | dif

[2016-04-15 07:01] MisterY commented on #336
Thanks, @Zorg2409. It seems that all of these can be calculated from the suggested schema. The basic values are stored date, price, and amount. From these, all the derived values can be calculated.
There is the question of performance for portfolios with many records. Whether caching these calculated values is of benefit, remains an open question.

[2016-04-18 08:19] vomikan opened #793 "Base Currency change"
It appears that could be a bug when changing base currency.
Reproduce as follows:
1. Options – Base currency
2. Select currency line
3. Press Add Button
4. Close currency dialog
..... result: system crash
[code]
This occurs in Master branch only.

[2016-04-21 22:12] stef145g commented on #793
Problem found. I will fix this later.

[2016-04-22 03:22] stef145g commented on #793
Pull request #796 created.

[2016-04-22 15:10] RustyNomad opened #798 "Bitcoin - Decimal places & Transfers Fiat > Bitcoin"
1) Currencies are at present only calculated up to the 6th decimal. Bitcoin works with **8** decimals. The rounding of the last two decimals is not a major problem but will lead to inaccurate balances.

2) When making a transfer from a fiat account to a bitcoin account the bitcoin amount is rounded to the 2nd decimal instead of all the way to the 8th. I made a transfer from my bank account to a bi

[2016-04-24 21:49] gitys commented on #745
I've finally been able to make some progress on this. I will give a preview in order to get comments from the team.
The main change is that the 0-9 radio button selection is replaced with a new custom control. The control (squared below in red) contains the list of templates on the left and action buttons to the right. Templates are now identified by name not number (internally the number is still

[2016-04-25 06:01] stef145g commented on #336
@Zorg2409, I have now ported the Stocks and Shares across from the old programs so they will work with the master branch. I have not ported the Assets portion at present as there is still work to be done on this. I have also made some minor improvements, in the navigation panel. I have changed the underlying database schema, so it won't work with the old program. I do not foresee any database chan

[2016-04-25 07:20] vomikan commented on #745
Actually users are using 1-3 templates. I suggest to move all this staff

[image: Встроенное изображение 1]
to separate dialog.

And leave only pull down menu with non empty templates and [Edit
(templates)] button.

Regards,
Nikolay

2016-04-25 0:49 GMT+03:00 yshatsky <notifications@github.com>:

[2016-04-25 08:01] vomikan commented on #793
[This](https://github.com/vomikan/moneymanagerex/commit/9e466c9deb087375dfad0590dd9c37ce77d076c4) changes did not fix the problem.

How to reproduce a crash:
1. Options – Base currency
2. Select currency line
3. Press Add Button
4. Cancel
5. Enter the currency name: "test"
6. OK

[2016-04-25 10:59] stef145g commented on #793
You are correct. Previous fix delayed this crash, but fixed other issues as well.

[2016-04-25 14:07] vomikan commented on #793
https://github.com/moneymanagerex/moneymanagerex/commit/8ac7cecb03e30b84d517a8542fc095edcf7d3aa0

[2016-04-25 14:07] #793 closed

[2016-04-25 16:27] Zorg2409 commented on #336
Many thanks Sfefano,it seems you did a hard work this WE and the result smells very good, i'll test and come back for comments.

[2016-04-26 21:59] tiker opened #806 "Bugs with file attachments on recurring transactions that do not repeat"
I may not be using the recurring transactions as expected but I found an issue that probably shouldn't be an issue.  When creating an entry under recurring transactions that does not repeat with an attachment, that attachment carries over to the next recurring transaction entry.

Here's how to recreate the problem I'm trying to explain:
* Create a new .mmb database, account, currency, etc. doesn't

[2016-04-27 06:28] gabriele-v commented on #806
Regarding attachments copy on new transaction it's in this way by design, because there could be an attachment on recurring transaction that hasn't to be copied on normal transaction, also you will have lots of normal transaction with the same attachment.

Regarding attachments moved to newly created recurring transaction after execution, I know the problem and I'll fix it.

[2016-04-27 12:18] tiker commented on #806
For the first item (moving the attachment over with the transaction part) I'm OK with that.  That's part of the unusual way I'm using this feature.  Perhaps an option to move the attachment with the final transaction if a limited number of recurrences were defined but that'll be for a different thread.

For now, the main issue was the attachment appearing in a new recurring entry which you've reco

[2016-04-27 18:34] gitys commented on #745
Hi @vomikan
So I think there are two points here
1) Display only used templates in drop down.
2) Move command s to another dialog.

I think the first point should be quite simple, I would need to add a "New template" button and have the code use an internally stored ID instead of the index of the selected item.
The second point I am not very clear about. I can see something along the line of a "te

[2016-04-28 11:06] vomikan commented on #745
I mead this frame should be moved out the dialog to child one
![screenshot 59](https://cloud.githubusercontent.com/assets/6836805/14883954/57772464-0d4a-11e6-9a41-c8b3d0807e45.jpg)

[2016-04-28 20:05] dmbr0 opened #808 "Processor #3 at 100%"
MMEX uses 100% of 3rd processor.

Linux version 3.19.0-32-generic (buildd@lgw01-43) (gcc version 4.8.2 (Ubuntu 4.8.2-19ubuntu1) ) #37~14.04.1-Ubuntu SMP Thu Oct 22 09:41:40 UTC 2015

I get this error at startup:

ASSERT INFO:
../src/generic/imaglist.cpp(66): assert "(bitmap.GetWidth() >= m_width && bitmap.GetHeight() == m_height) || (m_width == 0 && m_height == 0)" failed in Add(): invalid bitmap

[2016-04-29 10:02] Zorg2409 commented on #336
@stef145g,  Stocks and Shares seems to work as you described it.
For the moment i only find a bug in the add/edit transaction window: as i told you previously, when you edited a transaction date was lost and significant decimal digits where lost for amount and price, now it's OK for the date and price but not for amount, there is no decimal digit at all, so it's nearly unusable.

The changes in re

[2016-04-29 18:22] guanlisheng commented on #808
is it always on 100% ?

[2016-04-30 07:55] stef145g commented on #336
@Zorg2409, I have now updated this so hopefully you can try the  [latest build (916)](https://ci.appveyor.com/project/stef145g/moneymanagerex/build/job/fk67ne0cgu8tugn2/artifacts)
Not too sure what amount field you are describing, but in the Add Shares transaction dialog, the amount field is controlled by the share unit and share price fields. This is automatically updated as the other fields are

[2016-04-30 13:16] dmbr0 commented on #808
Yes. Right at startup and the whole time it is running.

[2016-04-30 20:52] dwrj87 commented on #536
Hmmm, last day of the month today, and it hasn't triggered for for me..... I'll change clock to end of every month tomorrow and see what happens then

[2016-05-02 22:19] guanlisheng commented on #808
@vomikan would you mind to take a look for linux platform?

[2016-05-11 09:09] MisterY opened #811 "MMEX Windows keeps sending zombie network requests"
make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [x] Windows
  - [ ] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [ ] 1.3.x
  - [x] 1.2.x
  - [ ] 1.1 or older

Running MMEx on a network with a proxy/firewall results in startup taking ~15 seconds. For this reason, I've blocked MMEx at a Windows Firewall level. Unfortunately, now MMEx.exe keeps issuing ne

[2016-05-11 10:35] vomikan opened #812 "Lost Transaction Link to account"
https://sourceforge.net/p/moneymanagerex/bugs/844/
- Check OS
  - [x] Windows
  - [ ] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [x] 1.3.x
  - [x] 1.2.x

If a transaction is made beteen accounts and the account from which the £ has come from is subsequently closed (and no longer a favourite) the link is lost between the accounts when the transaction is opened in the remaining 'open'a/c.......

[2016-05-14 21:53] stef145g commented on #336
Thanks to the efforts of @Zorg2409 with his assistance by testing PR #810 using the [latest test build](https://ci.appveyor.com/project/stef145g/moneymanagerex)

[2016-05-15 17:18] J316 opened #813 "Can't import QIF correctly"
I tried to import a QIF format file exported from AnMoney Android app, but something goes wrong and I get wrong results/balances

[2016-05-20 00:54] dwrj87 commented on #679
I have now successfully compiled on Windows as well as Linux. I will do some tidying up over the next week or so and reopen a pull request

[2016-05-20 06:44] vomikan commented on #679
I like the progress you've done.

[2016-05-22 08:48] stef145g opened #815 "Option: Last Used Payee has no effect."
- OS = Windows [?] Mac OSX  [?] Linux
- MMEX version  - 1.3.x

Option setting: **Last Used Payee** setting set to **None** still brings up an unwanted payee in the transaction dialog and therefore a unwanted category. Attempting to set a different category often confuses the category selection process.

[2016-05-23 13:18] vomikan commented on #789
Are you looking something like this?
http://forum.moneymanagerex.org/viewtopic.php?f=16&t=6673

[2016-05-23 16:39] Stonyjohn commented on #561
Following this correspondence back in February, I find that I still need
to click the "Reset date" button to get the desired effect. Setting the
transaction to "Automatic" stilL puts the transaction in showing the Due
Date, when I need it to show the Payment Date.

On 04/02/2016 01:32, Stefano wrote:

[2016-05-24 04:06] lexa2 commented on #789
@vomikan Hi Nikolay, thanks for hint but that is not exactly what I've been looking for. Trouble with GRF is that there's one SQL query to work with so you have to fetch all the data possible at once and then perform additional work with in in JS in case you want to handle user-defined constraints on the fly. It'd be much more capable in case we would have something like traditional client/server

[2016-05-24 11:06] stef145g commented on #561
I don't quite understand what you are trying to achieve.

The logic behind this is as follows:
1. Having a single date, means that there is only 1 ability. That is, when to set a payment date.
2. Having 2 dates allows us to set a range of dates. This range is the possible dates that this bill is actually paid.

Having the start date, tells us when we need to activate this event.
Setting the start

[2016-05-24 13:39] vomikan commented on #789
@lexa2 I hope you had time to get acquainted with the city, and perhaps love it. Unfortunatly, the weather is not the strongest side in our area.

Back to the original feature request, I think using my idea (one SQL query to work with so you have to fetch all the data possible at once and then perform additional work with it in JS) it possible to group transactions by currency then select only one

[2016-06-05 08:43] stef145g commented on #361
@josh-egan You may be interested in testing this feature about assets:
Available in the [Artifacts section of the Windows Platform](https://ci.appveyor.com/project/guanlisheng/moneymanagerex)

Similar to Stocks and Shares management, an Asset can now access its own account having the same name as the asset name. This account allows normal transactions to transfer money to assets and vice versa. Tr

[2016-06-05 10:35] stef145g commented on #544
With the addition of the feature that an Asset is related to an Asset account, combined with Loan Accounts gives MMEX the ability to maintain assets and loans.

[2016-06-05 10:35] #544 closed

[2016-06-05 10:58] stef145g commented on #778
No further activity required. Closing this issue.

[2016-06-05 10:58] #778 closed

[2016-06-05 11:09] stef145g commented on #326
Closing this issue as this feature is incorporated in the new feature provided by #336

[2016-06-05 11:09] #326 closed

[2016-06-09 11:36] RustyNomad opened #824 "Assets Module - Version 1.3.0-Alpha (DB v.6)"
**OS:** Windows 10
**MMEX Version:** Version 1.3.0-Alpha (DB v.6)

I know the above release is the latest build and was not sure whether bugs must be posted here or not. The following were found while working with the Assets module:

1) When creating a new Asset from the top menu only the screen to setup the Asset account comes up, there is no option to set the appreciation/depreciation etc.. like

[2016-06-09 17:31] guanlisheng commented on #824
@stef145g would you mind to take a look here since you are on this area recently. thanks

[2016-06-10 05:36] sanj339 commented on #336
@stef145g , I tried testing your beta version, and found that you are creating a new account for each share we buy, I believe that would be difficult on a long run usage because so many accounts would be piled up and it would be difficult to track the accounts. Still my testing is not complete, I will try to share you my results in coming days.

[2016-06-10 11:04] stef145g commented on #336
@sanj339 Quote:

I am not quite sure of your terminology. Accounts are created for the company I refer to as Stock, and each quantity of shares belonging to the company are purchased or sold for the company as transactions of the stock account.

The new interface is an extension of the old interface in the attempt to allow transactions to affect Stocks. Before we had an investment account, in whic

[2016-06-10 14:23] ttamttam opened #826 "Can't open a database (saved with 0.9.9.0 mmex) with 1.2.7 mmex"
make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [ ] Windows
  - [ ] Mac OSX
  - [X] Linux
-  Check MMEX version
  - [ ] 1.3.x
  - [X] 1.2.x
  - [ ] 1.1 or older

Hello,

we have been working on one mmex database for years, with a Window 0.9.7.0 and a linux 0.9.9.0 mmex desktop apps (2 different users exchanging the database).

The linux box was upgraded r

[2016-06-10 14:39] ttamttam commented on #826
Mmm. Seems similar to #782

[2016-06-10 16:18] guanlisheng commented on #811
It would be fixed via v1.3.0 release after we switched to Google Analytics.

[2016-06-10 16:18] #811 closed

[2016-06-10 16:18] guanlisheng commented on #788
i am closing this since it will be fixed via 1.3.0 release.

[2016-06-10 16:21] guanlisheng commented on #537
i'm closing this as we will release it in 1.3.0

[2016-06-10 16:23] guanlisheng commented on #647
would we close this one?

[2016-06-10 16:23] #815 closed

[2016-06-10 16:24] #806 closed

[2016-06-10 16:27] guanlisheng commented on #298
i am closing this since we are choosing another approach: web app based on RESTFul APIs

[2016-06-10 16:27] #298 closed

[2016-06-10 16:46] #812 closed

[2016-06-10 16:47] guanlisheng commented on #647
i am closing this and feel free to reopen or create another one.

[2016-06-10 16:47] #647 closed

[2016-06-10 18:40] guanlisheng commented on #826
Thank you for the feedback.
It should be an issue during parsing the date string.

[2016-06-11 02:38] stef145g commented on #824
@RustyNomad Asset management has been expanded from the previous version. The creation of Asset accounts is an extension to Assets. **An Asset account maintains Asset Transactions**. The only way to create an Asset transaction is via the asset itself. The reason for this is that the accounts structure revolves around normal style accounts of whatever type they are.

**Old style Asset Management:**

[2016-06-11 12:09] ttamttam commented on #826
Hello!

I tried the windows 1.2.7 version: it opens the database successfully.

I also tested the master branch of the repository on my ubuntu 14.04.

I'm not sure I did it correctly. Here is the script I used in order to compile.

[code]

And my patch:

[code]

This version opens our old database without complaining.

But:
- it his not a stable version;
- and there is an assertion failure when mm

[2016-06-11 13:00] ttamttam commented on #826
Well. I finally had the 1.2.7 working, but I extremely suspicious, because I did not modify the code, and had to disable assertions checking…

Any comment?

compile_mmex.sh:
[code]

moneymanagerex.patch:
[code]

[2016-06-13 17:55] guanlisheng commented on #826
thanks @ttamttam and i have the similar issue as well for the image list.

BTW, would you mind to official join the team to focus on the Linux platform?

[2016-06-14 05:49] ttamttam commented on #826
Thanks for your proposition Lisheng!

But I'm note sure I could help a lot, because I'm not myself a mmex user,
and I know nothing about C++ (my main programming language is OCaml).

If you think I could be of any help anyway, I may try.

About the problems:
- I'm not sure where those assertions are coming from (I did not found the
corresponding source files)?
- Is it safe to have them disabled (I

[2016-06-14 23:04] guanlisheng commented on #826
hi @ttamttam actually c++ is just major language we are using.  today we can contribute html/js/css/lua code as well.

if you are not a mmex user, why you use it these days.

[2016-06-15 05:59] ttamttam commented on #826
I'm member of a paragliding club. In this club, I'm dealing with computer
related affairs. This is why i've been asked to help with this mmex.

There  are not a lot of people knowing what github, debian or a package are…

Have a nice day

[2016-06-18 00:48] Twintop opened #832 ""Today's Date" in reports does not respect user's date format"
For reports, "Today's Date" in the upper left is always formatted DD/MM/YYYY and does not respect a user's selected date format.

make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [X] Windows
  - [ ] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [ ] 1.3.x
  - [X] 1.2.x
  - [ ] 1.1 or older

[2016-06-18 03:10] guanlisheng commented on #832
Thank you for the feedback!

@vomikan would you mind to take a look

[2016-06-19 08:44] vomikan commented on #832
It (htmlbuilder.cpp:116) should be
[code]

[2016-06-19 08:51] vomikan commented on #832
I'll fix it at next Monday.

[2016-06-19 18:50] AgentB1 commented on #538
Yes that would be helpful, or even "older than most recent reconciled transaction".

[2016-06-19 19:03] AgentB1 commented on #537
I have had a quick look at v1.3.0-alpha and i don't see the last 3,
namely

[2016-06-19 22:07] #832 closed

[2016-06-20 04:54] mailagentrus opened #834 "CMake support"
- Check OS
  - [x] Windows
  - [x] Mac OSX
  - [x] Linux
-  Check MMEX version
  - [x] 1.3.x
  - [ ] 1.2.x
  - [ ] 1.1 or older

Can we add CMake support to build Money Manager EX for Win, Mac, Linux. In this case:
- "build" folder can be dropped;
- User can manualy specify "wxwidgets" folder without using WXWIN Environment variables for windows (for example);
- Developers can add various compiler

[2016-06-20 06:47] vomikan commented on #834
@dwrj87 is working on it
https://github.com/dwrj87/moneymanagerex/tree/cmake

[2016-06-20 08:53] vomikan commented on #766
http://desktop.moneymanagerex.org/
https://github.com/moneymanagerex/moneymanagerex/tree/gh-pages

[2016-06-20 10:36] stef145g commented on #537
When referring to transaction filters now there is one in reports where these exist:
![report_trans_list](https://cloud.githubusercontent.com/assets/6927151/16191052/af2b2f3e-3725-11e6-872b-f783adfcd903.png)

And there is one in the Normal Transactions where they don't:
![trans_list](https://cloud.githubusercontent.com/assets/6927151/16191079/d6ac0f38-3725-11e6-8a2f-c9d5c93fc7e9.png)

@AgentB1, I

[2016-06-20 13:12] stef145g commented on #537
This has been implemented in #835
![trans_list_upd](https://cloud.githubusercontent.com/assets/6927151/16195283/312bf8fe-373c-11e6-9a96-730f14de1dc0.png)

[2016-06-20 21:03] AgentB1 commented on #537
Thanks Stefano i will test this later this week.

[2016-06-20 22:19] guanlisheng commented on #537
Thanks. I had merged this pull request and you can test it on master now.

Thanks
Lisheng

Sent from mobile

[2016-06-23 11:42] vomikan opened #836 "web server"
The latest build (1.3.0 alpha) on Windows 10 x64 stop its execution due to an invalid certificate. Then I force to execute it, but the process stucks and does not start (it remains pending into the process list).
- Check OS
  - [X] Windows 10
-  Check MMEX version
  - [X] 1.3.x

Seems the problem if ip port 8080 (by default) is already used.

[2016-06-23 12:32] vomikan commented on #836
Original bug here: https://sourceforge.net/p/moneymanagerex/bugs/886/

[2016-06-23 13:16] DareDevil73 commented on #836
Thank you, I'll wait for a solution.
Antonio

[2016-06-23 15:36] DareDevil73 commented on #836
Hi, I downloaded and installed the mmex_1.3.0-alpha_x64_portable_build240.zip, but it is not yet working.

Same issue, it stucks!

I'll add the dump to SF ticket.

[2016-06-24 05:37] #834 closed

[2016-06-24 11:37] DareDevil73 commented on #836
Hi, the build 242 does not start as the previous releases.

Is it possibile to sign the executable with a development certificate in order to avoid the block by Windows 10?

[2016-06-27 12:14] RustyNomad opened #839 "[BUG/IMPROVEMENT] Decimal places in Stock Portfolio Module"
Just tested the Stock Portfolio in the latest build. Works perfectly for all my Bitcoin accounts but have one problem namely the number of decimal places allowed for the number of shares.

When entering the the number of shares (coins) purchased it rounds the value off to the 4th decimal. Bitcoins works up to the 8th decimal and this rounding leads to several inaccuracies in the balances especiall

[2016-06-27 12:44] stef145g commented on #839
@RustyNomad , @Zorg2409 helped me to test this implementation and suggested it would be good if the precision was made user definable. I originally set it to 6 digits, and found the display to be confusing, so the precision was reverted back to 4 digits.

I will investigate the possibility of add this feature, keeping the precision in reports as 4 digit, while the storage and calculations have a u

[2016-06-27 13:43] RustyNomad commented on #839
@stef145g Your solution should work just fine as it will resolve possible longer term rounding errors while still keeping reports nice and tidy.

[2016-06-27 14:22] RustyNomad opened #840 "{BUG] Stock Portfolio/Share Account/Bank Account - Multi currency problems"
There is a bug in the Stock Portfolio/Share Account section in regards to the conversion between different currencies.

To recreate:

1) Create a new database with say ZAR (South African Rand) as the base currency,
2) Create a new bank account (Bank1) with ZAR currency,
3) Create new Investment account (Gold1) with US$ as currency,
4) Select the Gold1 account and select 'New' to add new share,
5)

[2016-06-28 07:47] vomikan opened #841 "deprecated function markSelectedTransaction"
mmCheckingPanel::markSelectedTransaction is useless.

[2016-06-28 07:49] vomikan commented on #788
It still actual for 1.3.0

[2016-06-28 18:07] guanlisheng commented on #841
great and i like such code review and cleanup.

[2016-06-28 21:19] guanlisheng opened #842 "User agent refine"
Since we are switching to GA officially soon while the user agent support is pretty limited
`User-Agent: Mac OS X (Darwin 15.5.0 x86_64)`

we may consider how to pass more proper information via this
http://www.useragentstring.com/

[2016-06-28 21:22] guanlisheng opened #843 "Methodology to check network connection status"
currently, the GA will black the program a while if there is no connection between MMEX and google server.

[2016-06-29 01:10] stef145g commented on #788
It appears that fix #788 has not been added to master. @vomikan could you check this please.

[2016-06-29 08:02] vomikan commented on #788
@stef145g this fixes are useless. In 1.3.0 is multyline selection present.

[2016-06-29 09:29] stef145g commented on #788
@vomikan, I originally noticed that this fix was not stopped because of branch sycn issues, and then it was closed. Not sure why. Thanks for pointing this out.

[2016-06-29 10:57] stef145g commented on #840
Thanks for the detailed description as I have now replicated the problem.
I will report back when I have a solution for you to test.

[2016-06-29 10:59] stef145g commented on #840
@RustyNomad, Thanks for the detailed description as I have now replicated the problem.
 I will report back when I have a solution for you to test.

[2016-06-29 21:43] guanlisheng commented on #773
i am closing this issue since i can not reproduce it.

[2016-06-29 21:44] #566 closed

[2016-07-01 10:36] stef145g commented on #840
@RustyNomad, You can download an updated version for Windows from [AppVeyor](https://ci.appveyor.com/project/stef145g/moneymanagerex)
Please check it in case I have missed something.

[2016-07-02 01:59] stef145g commented on #839
@RustyNomad, @zorg2409, I have now set the Shares Precision as an option with a default value of 4, but can be set between 2 and 10. This option is set in the database, so the option will need to be set for each database. You can download an updated version for Windows from [Appveyor](https://ci.appveyor.com/project/stef145g/moneymanagerex)

[2016-07-02 09:57] RustyNomad commented on #840
@stef145g Just did a quick test and seems to be working fine now. Will later this afternoon do a proper test with multi accounts/shares/currencies and post feedback.

[2016-07-02 13:23] RustyNomad commented on #840
@stef145g Did some more testing and all seems to be fine now. Everything I tried seems to be working as it should. Did multiple stock purchases/sales including the relevant transfers from bank accounts (in various currencies) to and from the share account etc.. and all seems fine.

One problem I did notice though were in the reports. On the stock summary report the totals are not converted to the

[2016-07-02 15:22] RustyNomad opened #846 "[BUG] Asset interest calculation"
It seems like there might be an error in the interest calculation used in the Assets module. The interest calculated on MMEX comes out a little lower than my own calculations. Example:

a) Setup a new asset with following parameters: Initial balance of 1,000, Start date one year back i.e. 1 July 2015 (today is the 2nd of July 2016), Appreciation of 10%.
b) In the Assets window the Current Value fo

[2016-07-02 15:27] RustyNomad commented on #824
@stef145g Did quite a number of tests on the Asset module today and it works very well. I guess this issue can be closed.

[2016-07-02 16:20] RustyNomad opened #847 "Expanded Assets section on Home screen, similar to Stocks"
Currently the Assets section on the home screen only shows the word 'Assets' as a link together with the balance in the base currency. It would be nice if it could be expanded similar to the Stocks section so that a person could see a list of the assets in the assets section.

In the Stocks section you have 2 columns namely 'Gains/Loss' and 'Total', in the Assets section it could be made to be 'In

[2016-07-03 01:27] stef145g commented on #824
@RustyNomad Thanks for testing this feature, and now closing this issue.

[2016-07-03 01:27] #824 closed

[2016-07-03 02:34] stef145g commented on #847
While there are some similarities between Stocks and Assets, the home page should not display Stocks the same as Assets for the following reason.
1. The Assets heading is similar to a single Stock Portfolio in the Stocks section.
2. The Stocks section displays many Stock Portfolio's.

As a user may have a many assets, the Assets view is the place to list the actual asset accounts if an asset accou

[2016-07-03 17:47] valsaven opened #850 "Belarus to have denomination, but the currency has old values"
Greetings! "Organize currency" update it to new values (BYR/USD for example), but in the program BYR still in thousands.

- Check OS
  - [x] Windows
  - [ ] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [ ] 1.3.x
  - [x] 1.2.7
  - [ ] 1.1 or older

[2016-07-04 03:52] stef145g commented on #840
@RustyNomad , I have readjusted the report in pr #851
Now the report will display the currency of the portfolio. This means that the portfolio and subsequent share accounts should be in the same currency as is set up by default.

The the internal reports, use the standard database access methods, and sometimes goes beyond the scope of the SQL access used by the General Reports Manager. You may fin

[2016-07-04 03:59] stef145g commented on #839
Closing this issue as this should be fixed. Can be reopened if other issues are found.

[2016-07-04 03:59] #839 closed

[2016-07-04 04:04] stef145g commented on #798
@RustyNomad Please check if this has been fixed with issue #839

[2016-07-04 04:14] stef145g commented on #361
Closing as this should now be handled by the new Asset Management improvements.

[2016-07-04 04:14] #361 closed

[2016-07-04 04:17] stef145g commented on #336
Closing this as this feature has now been implemented.

[2016-07-04 04:17] #336 closed

[2016-07-04 06:17] RustyNomad commented on #798
@stef145g Yes this has been resolved.

[2016-07-04 06:19] RustyNomad commented on #840
@stef145g Thanks for the fix and the reports.

[2016-07-04 07:13] #798 closed

[2016-07-04 07:15] #840 closed

[2016-07-04 08:11] vomikan commented on #850
New Belarusian Ruble is BYN
Just add new currency BYN then check if currency exchange rates working.

[2016-07-04 08:13] vomikan opened #852 "Base currency"
Base currency change working only through a right click context menu.
I can't select any currency by Options - General - Currency - Select
- Check OS
  - [x] Windows
  - [ ] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [x] 1.3.x
  - [ ] 1.2.x
  - [ ] 1.1 or older

[2016-07-04 08:20] vomikan opened #853 "Currency update - Invalid value issue"
Bug.

![screenshot 108](https://cloud.githubusercontent.com/assets/6836805/16554727/469ba4bc-41d9-11e6-945e-d1a740a6cefe.jpg)

- Check OS
  - [x] Windows
  - [ ] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [x] 1.3.x
  - [ ] 1.2.x
  - [ ] 1.1 or older

[2016-07-04 09:56] vomikan commented on #853
FYI
http://kx.cloudingenium.com/content-providers/how-to-obtain-stock-quotes-from-yahoo-finance-you-can-query-them-via-excel-too/

[2016-07-04 12:13] vomikan commented on #852
https://github.com/moneymanagerex/moneymanagerex/blob/master/src/optionsettingsgeneral.cpp#L240
 Handled only inside MainCurrencyDialog to better manage CurrencyHistory changes
I am not agree.

[2016-07-04 12:26] vomikan commented on #852
![screenshot 109](https://cloud.githubusercontent.com/assets/6836805/16560372/9c2d6d1c-41fb-11e6-986b-b2fef93acd3b.jpg)

[2016-07-04 12:26] #852 closed

[2016-07-05 05:57] guanlisheng commented on #853
fixed? @vomikan

[2016-07-05 07:00] vomikan commented on #853
Yes

[2016-07-05 07:00] #853 closed

[2016-07-07 21:13] omalleypat commented on #409
Any idea how to resolve for mac?

[code]

[2016-07-08 01:07] lakeuk opened #856 "Download Stock Price history - mismatch to currency format"
Add a UK stock (ie LLOY.L) as a price GBP £0.70, when you come to 'Download Stock Price history' from yahoo all the UK stock prices are provide in pence so our stock will show as 70p (pence price need converting to pounds)

Enhancement to have a setting to allow an multiple/divide adjustment to downloaded prices so they can align the currency.
- Check OS
  - [X] Windows
  - [ ] Mac OSX
  - [ ] Lin

[2016-07-08 10:14] valsaven commented on #850
I see, thank you.

[2016-07-08 10:14] #850 closed

[2016-07-09 11:45] ul commented on #773
I believe it's a locale-specific issue. But I can't figure out what specific locale setting interfere MMEX expectancy: my system locale is en_US, but in KDE Russian language is set.

[2016-07-09 14:31] omalleypat commented on #409
`-lwx_osx_cocoau_webview-3.0` needs to be added to Makefile

[2016-07-09 18:42] omalleypat opened #857 "Bakefile not handling platfdep.cpp correctly"
The section of common.bkl where the platfdep.cpp is chosen is not working correctly.

[code]

This evaluates to `unix` on mac.

mmex v1.3.0

[2016-07-09 19:36] omalleypat commented on #857
[code]
Results in no platfdef.cpp file in Makefile.

[code]
works fine

[2016-07-09 21:16] omalleypat commented on #857
Workaround: after generating Makefile, run:
`sed -i '' 's|/src/unix|/src/mac|' Makefile`

[2016-07-09 23:52] omalleypat commented on #409
or run `make LDFLAGS_GUI="-lwx_osx_cocoau_webview-3.1"` instead of just `make` with mmex.

[2016-07-10 08:21] gabriele-v commented on #856
Unfortunately it's a Yahoo problem with specific stocks:
https://sourceforge.net/p/moneymanagerex/bugs/448/
https://sourceforge.net/p/moneymanagerex/bugs/729/

[2016-07-10 10:10] lakeuk commented on #856
I wouldn't say it's a yahoo problem just as it's not a MMEx problem as such, GBp is a standard that all UK publications follow for reporting london stock exchange shares, it's often referred to in the UK as GBX (exchange quoted price) and yahoo follows this standard.  Are there any london stock exchange (.L) shares that yahoo reports in GBP as opposed GBp - I've not found any yet.

I see that the

[2016-07-10 10:27] gabriele-v commented on #856
Sorry, I thought it was related to actual value, not history.

I'll try find a workaround for it, maybe I could download a sample actual value just to check currency..

[2016-07-13 02:08] omalleypat commented on #409
It seems like the error is in the MMEX configure script. See http://forum.moneymanagerex.org/viewtopic.php?f=5&t=6143#p12822

[2016-07-13 06:41] dwrj87 commented on #409
@omalleypat Could you try out my CMake branch please? https://github.com/dwrj87/moneymanagerex/tree/cmake

Got it doing everything perfectly on *nix and building on Windows, don't have a Mac to test with however

[2016-07-13 14:59] omalleypat commented on #679
@dwrj87 - can you provide instructions for using cmake? I'll fork your branch, but I don't know what to do to compile. Thanks.

[2016-07-13 20:01] dwrj87 commented on #679
On Linux and I presume Mac, I do. I've got it all set up to make debs and rpms for Linux, and it can do dmgs for Mac and nsis for Windows as well, but no point working on them until I know that it's building OK

- git clone https://github.com/dwrj87/moneymanagerex/tree/cmake
- cd moneymanagerex
- git checkout cmake
- git submodule update --init
- cmake .
- make

[2016-07-13 23:25] omalleypat commented on #679
I need to be able to specify the path for my wxWidgets library. How would I do that?
(cmake is telling me wxWidgets is not found, but I haven't told it where to look).

[2016-07-14 00:12] omalleypat commented on #679
OK - I just modified the $PATH variable, seemed to work. I got up to:

[code]

[2016-07-14 02:18] dwrj87 commented on #679
Try now :) And what did you do to the $PATH?

[2016-07-14 12:53] omalleypat commented on #679
Ok - I have a binary that opens now. I got the error that it can't find `bin/home_page.htt`. We will also need to get cmake to create an app bundle. Here was the structure with the old system (the binary is at mmex.app/Contents/MacOS/mmex - it looks like some of the stuff got duplicated though so this isn't 100% correct):

[code]

[2016-07-14 13:32] dwrj87 commented on #679
Yes, this only compiles, it doesn't put anything in the correct place. The make install and make package targets do this. Now I know it actually compiles on Mac I'll work on that next

[2016-07-16 03:12] stef145g commented on #538
This feature has now been completed using a 'json store'.

Extra account data is stored for each account in the table: INFOTABLE_V1 using json string variables.

Edit the account to set the initial values for that account.

[2016-07-16 03:16] stef145g commented on #567
This feature has now been completed. Edit the account to set the initial values.

Extra account data is stored for each account in the table: INFOTABLE_V1 using json string variables.
The implementation contains: Credit Limit and Minimum value. The difference is that the Credit limit will be used as a negative value.

[2016-07-16 03:18] stef145g commented on #451
This feature has now been set up using a 'json store'.

Extra account data is stored for each account in the table: INFOTABLE_V1 using json string variables.
The implementation contains: Credit Limit and Minimum value. The difference is that the Credit limit will be used as a negative value. Extra info under the Credit tab is not used at this stage.

Edit the account to set the initial values.

[2016-07-16 06:06] stef145g commented on #679
@dwrj87 I have installed CMake 3.6.0 which provides me with a user interface.
I have attempted to use CMake to generate the make files with the following results:
When I attempted to configure the build, I got:
<
-- Build Type =
-- Building Tests = OFF
-- Compiler = MSVC
CMake Error at C:/Applications/cmake/share/cmake-3.6/Modules/FindPackageHandleStandardArgs.cmake:148 (message):
  Could NOT find

[2016-07-16 10:04] MisterY commented on #713
YQL has been unreliable for me lately. Sometimes the whole service is down.
The prices are also unreliable. The last known price, for example, for a host of Australian ETFs gets reset to the values as of June 9th approximately one hour after trading hours. This makes the values unusable if one is updating prices outside that window.
Hence I also added Morningstar as the price source. They don't ha

[2016-07-16 10:07] MisterY commented on #304
I think a major improvement could be in releasing the file lock on the database, i.e. closing the db connection once it is not needed any more. Keeping the lock on the database file prevents the desktop storage client from synchronizing the file.
If that is solved, we could simply rely on desktop clients for these various providers to keep the file(s) in sync.
Android now supports Dropbox, Google

[2016-07-21 00:03] stef145g commented on #567
Completed. The extra account information has been added to the accounts table, without JSON data.

[2016-07-21 00:03] #567 closed

[2016-07-21 00:05] stef145g commented on #538
Completed. Extra account info added to account table without JSON data

[2016-07-21 00:05] #538 closed

[2016-07-21 00:26] stef145g commented on #451
New fields have been added to the account table:
, CREDITLIMIT numeric
, INTERESTRATE numeric
, PAYMENTDUEDATE text
, MINIMUMPAYMENT numeric

The field CREDITLIMIT is used and is set as a positive value, but is used as a negative value. 0 to disable it. This is used to warn the user if a payment will exceed the credit limit.
Example: If a Credit limit of $2000 is set, then when a withdrawal is mad

[2016-07-21 00:26] #451 closed

[2016-07-21 09:33] MisterY commented on #451
Great work, thanks! I'll follow these guidelines in implementing the limit (and the debt progress bar) in the mobile app.

[2016-07-21 09:36] MisterY commented on #567
Great. I've updated the db schema to v7 in the mobile app.

[2016-07-21 12:02] tmgstevens opened #861 "QIF Import: transfers in recorded as debits"
QIF Import - transfers that should be transfers into an account are entered as debits instead of credits.

See http://forum.moneymanagerex.org/viewtopic.php?f=5&t=6156 for further details.

Request fix in v1.2.x branch please.

- Check OS
  - [X] Windows
  - [ ] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [ ] 1.3.x
  - [X] 1.2.x
  - [ ] 1.1 or older

[2016-07-26 11:39] RustyNomad opened #866 "[BUG] Issue with transactions on bitcoin based account"
Unable to enter an initial balance (lower than 0) and or new transactions on an account set with bitcoin as the currency. To recreate:

a) Create new account (I selected current) and set currency to Bitcoin.
b) Enter a new deposit transaction, enter amount as say 0.0035555
c) Press tab after entering value and the value returns to 0.00

If you edit the account and set the initial value to 0.003555

[2016-07-26 11:44] RustyNomad opened #867 "[BUG] Duplicate transaction not working anymore"
I used to be able to right click on any old transaction and select the 'Duplicate Transaction' from the menu, enter a new date and or value and then accept the transaction. This would create a new transaction with the new details without affecting the old transaction.

In the latest version no new transaction is created, the old transaction is edited with the new details. So instead of duplicating

[2016-07-27 07:58] stef145g commented on #867
Thanks for reporting this as a fix has now been found. Fixed file available in Appveyor

[2016-07-27 08:17] stef145g commented on #866
@RustyNomad I assume that this has not worked for Bitcoin at all. You state that you set currency to Bitcoin. I also assume you have created this currency as an addition to the preloaded currencies.

Does Bitcoins belong only to Shares or do they belong to ordinary transactions as well?
Wondering if this is a bug or a new feature.

[2016-07-27 08:46] guanlisheng commented on #867
Will release another beta release to fix this issue

[2016-07-27 08:46] #867 closed

[2016-07-27 08:51] RustyNomad commented on #866
@stef145g I guess the way in which Bitcoin is setup will depend on the user. Some buy into bitcoin as an investment and for that the shares work perfectly. Others might use Bitcoin just like any other currency so might setup a 'current' account with bitcoin as the currency and then use it just like any other bank account. In my case I use both as I have some bitcoin holdings for the longer term bu

[2016-07-28 12:33] stef145g commented on #866
@RustyNomad I was trying to determine which currency it was by the name and or currency symbol.
I ended up creating a currency called BitCoin (BIT) and setting the scale to 8 for this purpose.

I have modified the transaction dialog to accept my created bitcoin currency to allow precision settings up to 9 max. You can get the built files from here for testing: https://ci.appveyor.com/project/stef1

[2016-07-28 12:54] RustyNomad commented on #866
@stef145g Tested and all seems to be working 100%.

The currency I used was Bitcoin BTC which is one of the preloaded currencies.

[2016-07-29 15:36] stef145g commented on #866
@RustyNomad Could you test the latest code as I have updated the code.

I have also discovered that the discrepancy about the Bitcoin currency.
The currency BitCoin (BTC) is preloaded in 1.2.x but not in 1.3.x
This will be fixed as a separate issue.

[2016-07-30 08:53] RustyNomad commented on #866
@stef145g Just tested everything again on the latest build (281) and all seems to be perfect now. Thanks for the updates.

[2016-07-30 12:38] stef145g commented on #866
Thanks for testing out this feature.

[2016-07-30 12:38] #866 closed

[2016-08-07 13:33] stef145g commented on #788
#841 is a related issue. Discovered true problem in 1.3. Will submit fix later.

[2016-08-07 13:38] stef145g commented on #841
Just needs modification. Function is NOT useless. Refer to #788

[2016-08-08 13:26] #788 closed

[2016-08-14 19:41] vomikan commented on #808
I have no linuxed available anymore.

[2016-08-14 20:14] vomikan commented on #766
https://github.com/moneymanagerex/moneymanagerex/issues/776

[2016-08-14 20:14] #766 closed

[2016-08-14 20:15] vomikan commented on #776
http://desktop.moneymanagerex.org/
https://github.com/moneymanagerex/moneymanagerex/tree/gh-pages

[2016-08-14 20:18] vomikan commented on #813
I need sample QIF file to investigate the problem.

[2016-08-15 05:25] #861 closed

[2016-09-03 20:16] rgaiacs opened #878 "Add support to HiDPI (High Dots Per Inch) displays"

[2016-09-04 02:02] guanlisheng commented on #878
what's the platform you are referring?

[2016-09-04 08:12] rgaiacs commented on #878
GNU/Linux

[2016-09-04 10:36] michalchecinski opened #879 "Separate categories for withdrawal and deposit"
Could you split categories between withdrawal and deposit categories. So when adding transaction when user specify Type, after choosing category button only the withdrawal categories or deposit categories will show up, depending on the Type of transaction.

make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [x] Windows
  - [x] Mac OSX
  - [x] Linux
-  Check

[2016-09-05 02:30] guanlisheng commented on #878
thanks. we are lack of Linux developer now and it will take more time

[2016-09-05 05:16] guanlisheng commented on #878
based on https://www.wxwidgets.org/news/2016/02/wxwidgets-3.1.0-released/
i think wx3.1.0 should have resolved the HiDPI issue.

[2016-09-05 17:42] dwrj87 opened #880 "Assert failed when viewing transaction list"
This happens whenever I click on an account to view the list of transactions in it. Using the latest source checked out from git

- Check OS
  - [ ] Windows
  - [ ] Mac OSX
  - [X] Linux
-  Check MMEX version
  - [X] 1.3.x
  - [ ] 1.2.x
  - [ ] 1.1 or older

ASSERT INFO:
/usr/include/wx-3.0/wx/strvararg.h(456): assert "(argtype & (wxFormatStringSpecifier<T>::value)) == argtype" failed in wxArgNorm

[2016-09-05 17:49] dwrj87 commented on #679
I'm afraid that I haven't had anywhere near the amount of time I expected to work on this, and it doesn't look like it's going to change any time soon, so I'm going to have to give up on this

[2016-09-05 17:49] #679 closed

[2016-09-05 23:45] #880 closed

[2016-09-06 06:42] guanlisheng commented on #879
i think the same category would apply against both withdrawal and deposit by design.

[2016-09-06 10:58] vomikan commented on #879
there is the function
bool Model_Category::has_income(int id, int sub_id)
Using it and 'Show All' checkbox all categories of the other types may be hiden.
But it can have a negative impact on performance.

[2016-09-07 10:47] vomikan commented on #739
![screenshot 77](https://cloud.githubusercontent.com/assets/6836805/18309262/2a6c694c-7501-11e6-8383-2c3e83479628.jpg)
![screenshot 78](https://cloud.githubusercontent.com/assets/6836805/18309352/9794279e-7501-11e6-94b8-be4f3642629b.jpg)

[2016-09-07 10:49] vomikan commented on #739
Fix already there
https://github.com/moneymanagerex/database/pull/13/files

[2016-09-07 12:21] guanlisheng commented on #739
what's your code version and did you try the latest release one? as the comment said, i cannot reproduce the issue and i didn't see the complaint from other ppl either.

[2016-09-07 12:24] vomikan commented on #739
This issue is present in last release. I think it's Windows only issue.

[2016-09-07 15:38] vomikan commented on #879
I've discovered the issue. To separate categories it need additional fiels in DB.
It's not good idea to use 'has_income' function becouse it not working for empty DB.

[2016-09-08 08:41] vomikan commented on #878
related issue:
https://github.com/moneymanagerex/moneymanagerex/issues/478

[2016-09-08 08:43] #878 closed

[2016-09-08 09:30] vomikan opened #883 "Translations"
mmErrorDialogs::MessageError(m_choice_account_, _("Default account \"" + accountName + "\" for this template does not exist.\nPlease select a new account."),

[2016-09-08 09:35] vomikan commented on #883
customReportMenu->Append(ID_GROUP, _("Rename Group"));

    mmDialogComboBoxAutocomplete dlg(this, _("Enter or choose name for the new group"),
        _("Rename group"), GroupName, Model_Report::instance().allGroupNames());

[2016-09-08 14:47] vomikan commented on #649
This code should help
[code]

[2016-09-08 14:48] vomikan commented on #649
![screenshot 85](https://cloud.githubusercontent.com/assets/6836805/18353931/7f2304d2-75ec-11e6-9ab5-67a8ffa4b228.jpg)

[2016-09-08 15:02] guanlisheng commented on #883
pull request, please!

[2016-09-08 15:03] #409 closed

[2016-09-08 15:40] vomikan commented on #883
a bit later I will

[2016-09-09 12:34] vomikan opened #884 "Performance issue"
make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [X] Windows

-  Check MMEX version
  - [X] 1.3.x

In case if any account has >5k transactions the account view became slow.
I suggest this changes to avoid a sorting data every time before the account view.

[code]

[2016-09-09 14:02] guanlisheng commented on #884
Any proof that this is a bottleneck?

Thanks
Lisheng

Sent from mobile

[2016-09-09 14:12] vomikan commented on #883
{Model_Attachment::BANKACCOUNT, wxString(wxTRANSLATE("BankAccount"))},
    {Model_Attachment::BILLSDEPOSIT, wxString(wxTRANSLATE("RecurringTransaction"))},

[2016-09-09 14:22] vomikan commented on #883
if (workbookElement->GetName() != _("Workbook") || workbookElement->GetAttribute("xmlns") != _("urn:schemas-microsoft-com:office:spreadsheet"))

[2016-09-09 14:27] vomikan commented on #884
timing in debug mode

[2016-09-09 14:48] vomikan commented on #884
In any case.
When switching between accounts firstly started (Model_Account.cpp:177):
    std::sort(trans.begin(), trans.end());
    std::stable_sort(trans.begin(), trans.end(), SorterByTRANSDATE());
then secondly (mmcheckingpanel.cpp):
(147)    std::sort(this->m_trans.begin(), this->m_trans.end());
(178)        std::stable_sort(this->m_trans.begin(), this->m_trans.end(), SorterByTRANSDATE());

[2016-09-09 14:50] vomikan commented on #884
Also if
order_by_ = " ORDER BY TRANSDATE, TRANSID"
std::sort may be avoided

[2016-09-09 14:57] vomikan commented on #884
![screenshot 88](https://cloud.githubusercontent.com/assets/6836805/18391526/e29c5c1e-76b6-11e6-9bb2-db0f7c081a37.jpg)
![screenshot 89](https://cloud.githubusercontent.com/assets/6836805/18391523/e28eeca0-76b6-11e6-8974-1013bf3fde35.jpg)
![screenshot 90](https://cloud.githubusercontent.com/assets/6836805/18391522/e28f1fb8-76b6-11e6-9adb-f6eeaf1eebec.jpg)
![screenshot 91](https://cloud.githubuserco

[2016-09-11 08:24] guanlisheng commented on #884
The key is whether such sorter is bottleneck. Based on existing profiling result, it's NOT.

I'm closing this issue and feel free to reopen it with more proofs.

[2016-09-11 08:24] #884 closed

[2016-09-11 08:25] guanlisheng commented on #879
@vomikan , i think you totally misunderstood what @michalchecinski wanted here.

[2016-09-11 08:33] guanlisheng commented on #846
@stef145g how was everything going?

[2016-09-11 08:33] #723 closed

[2016-09-11 12:55] vomikan commented on #879
I beleave that I understand the issue.

[2016-09-12 08:00] vomikan opened #886 "Post Period Warning"
Dear,
I would like to request a function or warning that would ask confirmation if you create a new line with a old date. Lets say older than 30 days or older than 60 days.
It often happens when im updating or adding current lines that by accident i dont realise that i have changed the date to last years date. Now to find this Item again is almost imposible especially if all u know is that you bal

[2016-09-12 08:07] vomikan commented on #883
wxMessageBox(wxString::Format(_("%i occurrencies founded and replaced!"), (int)data.size())

[2016-09-12 08:13] vomikan commented on #883
_("You have modified choiches: ones removed will be cleaned!") + "\n"

[2016-09-12 15:00] #883 closed

[2016-09-12 15:16] guanlisheng commented on #879
If you understood, there should no pull request for such request.
Again, one single category would be applied against on both withdrawal and deposit transactions. This is the reality.
Closing this issue and feel free to open it with more support.

[2016-09-12 15:16] #879 closed

[2016-09-12 15:21] guanlisheng commented on #739
What the last release is? Did you try 1.3.0-xx?

[2016-09-12 15:26] vomikan commented on #739
I am working with latest 1.3.0

пн, 12 сент. 2016 г. в 18:21, Lisheng <notifications@github.com>:

[2016-09-12 15:48] vomikan commented on #886
The poosible solution is:
transdialog.cpp(104):
[code]
transdialog.cpp(1034):
[code]

[2016-09-13 12:04] vomikan opened #888 "Crash if hiden category selected in transacion dialog"
-  Check MMEX version
  - [x] 1.3.x

[2016-09-14 15:26] vomikan commented on #478
http://winaero.com/blog/how-to-fix-apps-that-look-small-on-high-dpi-and-high-resolution-displays/

[2016-09-14 15:51] vomikan commented on #478
https://msdn.microsoft.com/en-US/en-en/library/ms235229.aspx

[2016-09-14 16:33] edgard opened #890 "Add option to disable database sync notification on Android"
Every time the database is synchronized a notification is issued, this can get quite annoying with the time. Is it possible to add the option to disable those notifications altogether?

[2016-09-16 06:07] J316 opened #893 "Make secure connection for web server"
The external access via web server should be protected with password

[2016-09-16 07:11] #888 closed

[2016-09-17 15:06] J316 opened #896 "[FEATURE REQUEST] - Projects"
Add an option to mark transactions as belonging to the same project

For example: I buy from different sellers, different parts of a computer

On the left I can see in the "Projects" section all that I spent/earned by simply selecting that particular project

It should be Project:Subproject like it is for Category:Subcategory

[2016-09-19 15:28] vomikan opened #899 "Custom field type issue"
Custom field type is empty in edit dialogue.
- Check OS
  - [x] Windows
-  Check MMEX version
  - [x] 1.3.x

![screenshot 10](https://cloud.githubusercontent.com/assets/6836805/18637949/dfd90936-7e96-11e6-87ee-36e99c767eef.jpg)

[2016-09-20 06:31] #899 closed

[2016-09-20 11:53] vomikan opened #901 "Translations2"
-Advance the next occuring date with the specified values
+Advance the next **occurring** date with the specified

-...Choiches...
+...Choices...

[2016-09-20 12:16] vomikan commented on #901
-Specify period in Days to activate.Becomes blank when not active.
+Specify period in Days to activate. Becomes blank when not active.

[2016-09-20 12:19] vomikan commented on #901
[code]

[2016-09-20 12:23] vomikan commented on #901
Enter or choose name for the new report group
Enter or choose name for the new group

[2016-09-20 12:30] vomikan commented on #901
Transactions imported from file:
Transactions imported from file
to account %s : %ld

[2016-09-20 12:31] vomikan commented on #901
[code]
-MXL
+XML

[2016-09-21 15:52] vomikan opened #903 "Choiches"
There are typos in the code
[code]
Should we fix it before release or leave it as is?

[2016-09-22 08:41] stef145g commented on #903
Best to fix it.

[2016-09-22 08:54] vomikan commented on #903
I have no rights to restart appveyor task
https://ci.appveyor.com/project/guanlisheng/moneymanagerex/build/1.0.342-tsftbnku/job/m71vh6tj9mqt7u86

I wish to include that changes befor fix this issue

![screenshot 28](https://cloud.githubusercontent.com/assets/6836805/18742136/4c92d770-80bb-11e6-8dbf-640150c1ec66.jpg)

[2016-09-22 10:24] vomikan opened #904 "appveyor"
I suggest to include mpress.219 files into cache

[code]

https://ci.appveyor.com/project/guanlisheng/moneymanagerex/build/1.0.342-crfucwrp/job/v1vlbvrfurjmijhk
![screenshot 30](https://cloud.githubusercontent.com/assets/6836805/18744752/eaebddde-80c7-11e6-99ab-740b456b308d.jpg)

[2016-09-22 16:01] #903 closed

[2016-09-23 05:53] guanlisheng commented on #904
i think we can just have another try if there is networking issue.

[2016-09-23 06:53] #904 closed

[2016-09-23 09:41] guanlisheng commented on #893
Should be safe enough as it's in your own box.

[2016-09-23 10:53] vomikan opened #906 "Performance killers"
- Check OS
  - [x] Windows
  - [ ] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [x] 1.3.x

mmcheckingpanel.cpp:209
[code]

[2016-09-23 11:11] vomikan commented on #896
This feature is already there (v. 1.3.0)
![screenshot 30](https://cloud.githubusercontent.com/assets/6836805/18783967/9cfa0c2e-8197-11e6-80d7-1f5305aaa8e8.jpg)

[2016-09-23 11:12] #896 closed

[2016-09-23 11:30] vomikan commented on #906
Also what about to change
-  static std::unordered_map<wxString, wxDate> cache;
+ static std::map<wxString, wxDate, std::greater<wxString>> cache;

[2016-09-23 12:24] J316 commented on #893
If you access from remote a secure protocol is needed

[2016-09-23 13:59] #901 closed

[2016-09-23 14:35] vomikan opened #908 "Payee management"
Payee list should be updated after a payee deleted
- Check OS
  - [x] Windows
-  Check MMEX version
  - [x] 1.3.x

![screenshot 31](https://cloud.githubusercontent.com/assets/6836805/18789532/0f98ba98-81b4-11e6-9001-be7cc96b70a2.jpg)

[2016-09-23 15:57] vomikan commented on #826
FYI
I can open 0.9.9.0.DB in v 1.3.0

[2016-09-24 13:57] J316 opened #909 "Change a value for multiple transactions at the same time"
For example add the same note or the same number to multiple transactions at the same time

[2016-09-24 17:50] J316 opened #910 "Notes in split categories"
It would be very useful to add notes for each entry in split categories entries

[2016-09-26 07:10] vomikan commented on #910
https://sourceforge.net/p/moneymanagerex/feature-requests/340/

[2016-09-26 07:11] vomikan commented on #461
https://sourceforge.net/p/moneymanagerex/feature-requests/395/

[2016-09-26 08:20] MisterY commented on #890
Sure it can. Please feel free to submit a pull request with the change.

[2016-09-26 20:10] vaxul commented on #478
https://blogs.technet.microsoft.com/askcore/2016/08/16/display-scaling-changes-for-the-windows-10-anniversary-update/

[2016-09-27 07:06] vomikan commented on #529
UP
How it's going?

[2016-09-27 08:00] MisterY commented on #529
Android version is (more or less) complete. Please feel free to refer to the database schema and/or the source code. I'm available if you have any questions about the implementation. Cheers

[2016-09-27 12:15] #537 closed

[2016-09-27 12:19] #836 closed

[2016-09-27 12:20] #908 closed

[2016-09-28 07:40] vomikan commented on #782
Possibly it has been fixed

[2016-09-28 07:40] #782 closed

[2016-09-28 07:42] vomikan commented on #843
I suggest to postpone this issue after 1.3 release

[2016-09-29 10:24] vomikan commented on #906
[code]
[code]
[code]

[2016-09-29 15:12] vomikan commented on #906
[code]

[2016-09-29 22:08] Beast141 opened #917 "ERROR "An assertion failed" after compilation"
make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [ ] Windows
  - [ ] Mac OSX
  - [x] Linux
-  Check MMEX version
  - [ ] 1.3.x
  - [x] 1.2.x
  - [ ] 1.1 or older

After compilation and building on Ubuntu 14.04. Followed this guide: https://github.com/moneymanagerex/moneymanagerex/blob/master/INSTALL.Ubuntu.md

Then when i ran mmex, it throws an error just

[2016-09-29 22:09] Beast141 commented on #917
Also, What is the procedure to update mmex?

[2016-10-02 14:35] rcocchiararo opened #918 "Caracter display issues in 1.30RC1"
make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [x] Windows
  - [ ] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [x] 1.3.x
  - [ ] 1.2.x
  - [ ] 1.1 or older

![127](https://cloud.githubusercontent.com/assets/437389/19021272/304d8714-8894-11e6-8202-e68c602e6a9d.JPG)
![130](https://cloud.githubusercontent.com/assets/437389/19021271/30511fdc-8894-11e6-9a

[2016-10-03 13:39] guanlisheng commented on #918
thanks  @rcocchiararo for the info
@vomikan would you mind to take a look at the help document encoding issues.

[2016-10-03 13:43] guanlisheng commented on #917
hi @Beast141 actually we are lacking of Linux developer though we are trying to provide our best here for linux platform.

[2016-10-03 13:44] guanlisheng commented on #910
hi @J316  we might consider this in v2.0.

[2016-10-03 14:00] J316 commented on #910
Would be awesome. Thanks

[2016-10-03 16:40] vomikan commented on #917
I think a problen in web_money.xpm and hourglass.xpm dimention.
It should be 48*48

[2016-10-04 02:30] apillard opened #920 "Today's Date field on Transaction Report does not follow date format setting"
make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [X] Windows
  - [ ] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [ ] 1.3.x
  - [X] 1.2.x
  - [ ] 1.1 or older

I'm running MMEX 1.2.7 on Windows 10.

When running the Transaction Report at the top of the report there is a field for Today's date. This field is formatted as DD/MM/YYYY even though my date fo

[2016-10-04 14:28] vomikan commented on #920
It's OK for v 1.3.0
![screenshot 37](https://cloud.githubusercontent.com/assets/6836805/19078131/d12fddd4-8a57-11e6-8146-2e289a3cb427.jpg)

[2016-10-04 14:28] #920 closed

[2016-10-06 20:56] rcocchiararo opened #921 "Investment fund error"
- Check OS
  - [x] Windows
  - [ ] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [x] 1.3.x
  - [ ] 1.2.x
  - [ ] 1.1 or older

Hi

I am still new and testen MMEX.
I noticed that the Actions/investment funds sections in 1.27 was kind of disconnected from the other accounts (i could not transfer/pay/receive from them). That is, as far as i could see, i am new to those things in real life too.

The

[2016-10-07 15:27] rcocchiararo commented on #921
After poking arround some more, i saw that the accounts that are created for the stock/investment/share stuff appear under "bank" in 1.27 and under the investment one in 1.30.

In both cases, i see a correct display outside, and a wrong one inside.

I leave some pics as an example.
![1](https://cloud.githubusercontent.com/assets/437389/19195759/37b602bc-8c89-11e6-9764-757801b3ddaf.png)

As you can

[2016-10-08 00:28] stef145g commented on #921
It appears that the translation from separator/decimal place[ (comma/dot) to (dot/comma) appears to be throwing errors. Needs further investigation....

[2016-10-10 11:16] #906 closed

[2016-10-10 11:19] vomikan opened #923 "Performance killers 2"
For every  Reccuring Transaction at startup the app calculates an account balance.

[code]

[2016-10-10 16:47] J316 commented on #773
Hi @guanlisheng. I'm getting this error too. My locale is en_US, but everytime I open the application I get an error saying "locale 'en_GB' cannot be set." Opening the details of the error I also get a warning sign saying "Cannot set locale to language "English"." The displayed language is English though. I also put letters and spaces in the "number" field, because I use it to annotate the transac

[2016-10-10 17:29] J316 commented on #658
It occurs even with news disabled. It's kind of random, to me occurs sometimes when I add a transaction, then by hiding and expanding the tree it returns to normal, but when error #773 happens it goes blank and the only way to have it back is to close and reopen the application.

[2016-10-12 10:29] Beast141 commented on #917
Sorry, i meant to tick version 1.2. The stable version is the one with this problem. not version 1.3

[2016-10-12 12:38] Beast141 opened #924 "Ubuntu 16.04 support ??"
make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [ ] Windows
  - [ ] Mac OSX
  - [x] Linux
-  Check MMEX version
  - [ ] 1.3.x
  - [x] 1.2.x
  - [ ] 1.1 or older

The ppa for Ubuntu 16.04 Xenial does not work.
The source code for the stable version of 1.2.7 which is i assume: moneymanagerex-1.2.7.tar.gz
i try and compile and build it but it throws error:
m

[2016-10-12 18:13] dwrj87 commented on #924
Try going through the instructions again. The last time few times I remember people say they don't work, I created virtual machines, installed the operating systems and then went through the instructions and installed the PPAs. They all worked fine.

Quite simple, you're doing something wrong

[2016-10-12 18:52] Beast141 commented on #924
After adding the ppa to UBUNTU 16.04, and then do sudo apt-get update, there are no releases for xenial and it ends with errors.

[2016-10-12 23:22] J316 opened #925 "Compound interest in assets"
In the assets catecory it would be useful the compound interest, for example a product increases it's value of 1% the first 5 years, then 2% the next 4, etc. It would be nice to be able to customize these values

[2016-10-12 23:25] J316 opened #926 "Auto update current market values for goods in assets"
Investment goods like gold, platinum etc. should be auto-updated like currencies in the asset section, so they are always up-to-date automatically

[2016-10-13 08:51] vomikan commented on #918
![screenshot 50](https://cloud.githubusercontent.com/assets/6836805/19342656/5de2ae84-913b-11e6-90eb-5204f068bbef.jpg)

[2016-10-13 13:45] #918 closed

[2016-10-13 14:09] vomikan commented on #917
To clone the stable version use the following command:
[code]

[2016-10-13 14:11] vomikan commented on #917
$ git clone will give you the whole repository.

After the clone, you can list the tags with $ git tag -l and then checkout a specific tag:

$ git checkout tags/<tag_name>

Even better, checkout and create a branch (otherwise you will be on a branch named after the revision number of tag):

$ git checkout tags/<tag_name> -b <branch_name>

[2016-10-14 10:07] Beast141 commented on #917
Thank you!! finally compiled and installed stable version on ubuntu 16.04!
If you can put this line in the documentation for compiling stable version for Ubuntu 16.04:
git clone --branch v1.2.7 https://github.com/moneymanagerex/moneymanagerex --recursive

then i followed by typing:
git submodule update --init
mkdir compile
./bootstrap.sh
cd compile
../configure && make
sudo make install

This is w

[2016-10-14 10:59] vomikan commented on #917
https://sourceforge.net/p/moneymanagerex/wiki/Building%20mmex%20Debian%20%28Ubuntu%29%20Linux/

[2016-10-14 11:07] vomikan commented on #917
Finaly it should be:
[code]

[2016-10-14 11:17] Beast141 commented on #773
After just compiling and installing mmex 1.2.7 stable version on Ubuntu 16.04.
I am having the same issue whenever i click on My Usage report, it throws that error, and then my db disappears, then i have to close mmex and re-open my db.

[2016-10-14 17:26] J316 commented on #813
I changed all the parameters by hand, anyway, exporting from MMEX to KMyMoney gives unexpected results too

[2016-10-14 17:27] J316 opened #931 "[FEATURE REQUEST] - Split transactions through different account"
For example if I pay something half by credit card and half in cash. Is it achievable?

[2016-10-18 15:23] dgmvecuador opened #932 "Migrate build system"
make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [x] Windows
  - [x] Mac OSX
  - [x] Linux
-  Check MMEX version
  - [x] 1.3.x
  - [ ] 1.2.x
  - [ ] 1.1 or older

Migrate from **Bakefile** to other build system, like **cmake** for example. this make easier to compile and maintenance.

Is there a reason for use **Bakefile**??

[2016-10-18 18:11] vomikan commented on #932
https://github.com/moneymanagerex/moneymanagerex/issues/679

[2016-10-18 18:11] #932 closed

[2016-10-18 18:32] vomikan commented on #931
No.
You could create 2 transactions in the both accounts and enter the same check number for the both transactions.
In that case only logical reletions for this transactions will be.
You can't edit them at the same time.(I mean there is no quice way to follow from one transaction to another one).

[2016-10-19 23:55] Beast141 opened #933 "How to make portable version for Ubuntu 16.04?"
make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [ ] Windows
  - [ ] Mac OSX
  - [x] Linux
-  Check MMEX version
  - [ ] 1.3.x
  - [x] 1.2.x
  - [ ] 1.1 or older

I was wondering if its possible to convert existing compilation of version 1.2.7 to portable version?
Do we have to move the .db3 file which is under /home/USER/.mmex to another dir eg. in a USB?

[2016-10-20 00:34] vomikan commented on #933
On Unix (assume /media/disk is mounted USB flash drive)<br>
                Compile mmex from sources as usually,<br>
                and make install prefix=/media/disk<br>
                cp ~/.mmex/mmexini.db3 /media/disk/mmex/share/mmex<br>
                <br>
                or if you want to copy mmex which has already installed in
                /usr<br>
                cp /usr/bin/mmex /

[2016-10-23 11:37] jucor opened #934 "Error importing from CSV with"
Hi MMX team

Very attracted by MMEX for its very customisable reporting, I found my first bug when importing my first CSV file with custom format:  only the Deposit lines are taken into account, Withdraw lines are discarded with error message ".

Could you please have a look? Thanks!

### Version used

* MMEX 1.2.7
* Mac OSX 10.11.3

### Steps to reproduce

1. Create a fresh new database
2. Single

[2016-10-23 11:46] jucor commented on #934
Note: after extra test, I confirm the bug still present in MMEX 1.3.0-beta-6 for OSX (which is the latest available for OSX, as 1.3.0-RC1 and 1.3.0-RC2 are only available on Sourceforge for Linux x64 and Windows).

See screenshot:
![image](https://cloud.githubusercontent.com/assets/660037/19625960/b4be0308-991e-11e6-9cf1-07639f5b857d.png)

[2016-10-23 13:10] jucor commented on #934
Also tested on current `master` branch, same problem.

[2016-10-23 13:38] jucor commented on #934
Ah! After more experimenting, it turns out that it is fails on lines whose amount is in the *last* field! So if you put the Withdrawal field first (in both the field list and the CSV), you'll only import the Withdrawal line. Wicked!
I'm checking the parser.

[2016-10-23 13:53] jucor commented on #934
OK, understood:
1. function `parseToken` is [called sequentially](https://github.com/moneymanagerex/moneymanagerex/blob/9d4b8a5c83769d153fefdbc2ded2b820f6fc228b/src/import_export/univcsvdialog.cpp#L776) on all fields,
2. both its two switch cases [for Withdrawal](https://github.com/moneymanagerex/moneymanagerex/blob/9d4b8a5c83769d153fefdbc2ded2b820f6fc228b/src/import_export/univcsvdialog.cpp#L1403

[2016-10-23 13:58] jucor commented on #934
Ah, simpler solution: simply ignore a field if a non-null amount has been set by a previous field.

[2016-10-23 21:05] #933 closed

[2016-10-23 21:05] #931 closed

[2016-10-23 21:07] #890 closed

[2016-10-24 18:15] rcocchiararo commented on #921
Not trying to ask for ETAs or anything.

Is there any workarround for this while it is investigated ? i am comparing MMEX, and a few payed products, and that comparison is on hold while this is broken XD

[2016-10-26 10:02] stef145g commented on #921
Edit the currency being used with separator/decimal place[ (comma/dot) and change it to (dot/comma).
This should fix it until we have time to fully investigate and find a solution to this problem.

[2016-10-27 20:45] okaufmann opened #935 "Https connection problem to web-money-manager-ex instance"
make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [x] Windows
  - [ ] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [ ] 1.3.x
  - [x] 1.2.7
  - [ ] 1.1 or older

Hi there

I just installed https://github.com/moneymanagerex/web-money-manager-ex on my hosting. Then I installed a new Let's encrypt ssl certificate and redirect all http requests to https with

[2016-10-27 21:15] okaufmann commented on #935
Just saw that https is explocit replaced by https in the web client under https://github.com/moneymanagerex/moneymanagerex/blob/2b9497172fd299731065b53407cbb6b8e44bf440/src/webapp.cpp#L36

For which reason this was done ?

[2016-10-30 12:41] vomikan opened #936 "Reconciling"
I have noticed the same thing, in addition if you have filtered the transactions, showing only transaction flagged for Follow up, you cannot reconcile the record that is at the top of the list using the keystroke "R" until you move focus to another record then back to the top record.

http://forum.moneymanagerex.org/viewtopic.php?f=10&t=6755

[2016-10-31 19:27] gabriele-v commented on #935
Hi, I'm the developer of WebApp: unfortunately problem is caused by old wxwidgets library to handle http connection from desktop app.

In fact that library doesn't completely support HTTPS (if I remember correctly it has problems with POST calls). So, meanwhile we found a solution, I've choosen to make that trick of replace HTTPS with HTTP.
I know it's tricky and unsecure, but unfortunately I have

[2016-10-31 19:30] gabriele-v commented on #843
Instead I think that this is really important and need to be solved before 1.3 GA.

We cannot slow down all MMEX only for some stats..

[2016-11-01 15:18] vomikan commented on #923
https://sourceforge.net/p/moneymanagerex/bugs/946/

[2016-11-01 15:30] Gaet81 opened #937 "lost of decimal number after update transaction"
make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [X] Windows
  - [ ] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [X] 1.3.x
  - [ ] 1.2.x
  - [ ] 1.1 or older

Hi,

I'm using the nightbuild of MMEX 1.3.0-RC.2 (DB v7)

I've imported a csv file, all has been perfectly imported into MMEX but when I'm changing the transaction it reset the decimal number to

[2016-11-03 10:40] siena123 commented on #843
The way to fix this would be to put the send stats in its own thread and let the main app continue. I put something quickly together (https://github.com/siena123/moneymanagerex/tree/issue-843) although it has one minor issue at the moment in that it reports a memory leak on shut down due to trying to send something on exiting which can be handled with some additional code but this should be enough

[2016-11-04 03:02] siena123 commented on #923
Do to a new feature (account credit limit) being checked this is needs to be here unless we remove the notification / prompt about exceeding the account limit. The only other way to speed this up would be to handle the limit check and / or account balance in a different manor than is currently being done.

[2016-11-04 12:07] vomikan commented on #923
Agree regarding different manor.
I suggesions to add global map <acc_id, balance>
In case if any translation added or deleted  the balance of the account will changed but not calculated from scratch.

[2016-11-04 23:52] vomikan opened #941 "wxASSERT(true);"
Seems this code does not have sence,
[code]
wxASSERT(condition)

Assert macro. An error message will be generated if the condition is false in debug mode, but nothing will be done in the release build.

[2016-11-05 00:03] vomikan opened #942 "src\webserver.cpp(49): warning C4189"

[2016-11-05 00:06] vomikan opened #943 "wxDate to_date(const wxString& str_date) hung if invalid input (empty string)"
I can't edit account becouse by defauld there are no any extra data for the accounts and this code will hung the app:
[code]

I suggest some changes regarding this issue
[code]

Or check if some values does not used jast ignore it. Somthing like:
[code]

[2016-11-05 13:04] siena123 commented on #923
I agree that have some global map of the account balance would speed up performance for the app in more that just this one place but that will be a major change and we should not hold up the release of 1.3 for it. If this is a problem for some we can do one item here that will help by doing the same thing on a smaller local scale.

[2016-11-05 14:34] vomikan commented on #923
On the other hand now we have new option for account - reconcilation date.
It,s more import to lock old balance instead check current balance dynamically.
It may have negative feedback in case if used will enter real translation but the account balance became incorrect becouse previous transactions are incorrect.

[2016-11-05 18:08] #936 closed

[2016-11-06 10:46] vomikan commented on #943
https://github.com/moneymanagerex/moneymanagerex/commit/fc5d2fa9f0611c79fd34eeda4f0612c122e72f9c

[2016-11-06 10:46] #943 closed

[2016-11-07 14:38] #923 closed

[2016-11-08 20:10] #826 closed

[2016-11-08 20:13] #917 closed

[2016-11-08 20:13] vomikan commented on #924
https://github.com/moneymanagerex/moneymanagerex/issues/917

[2016-11-08 20:13] #924 closed

[2016-11-09 12:51] siena123 commented on #846
I have identified what is happening. First, MMEX is only compounding the interest once a year while from it appears from the numbers you give that you are compounded daily. Second, The time period you have in your example has the extra day from being a leap year. I did notice that MMEX has a slight error due to not handling this.

A quick calculation using your numbers (Initial Balance: 1,000; App

[2016-11-09 13:30] siena123 commented on #846
I was able to replicate your value of 1,106.06 by compounding 365 times per year and going out 368 days but I don't think that is what you are doing.

[2016-11-10 10:37] Spoker commented on #909
I would also love this feature.
For me, the most important is to bulk select transactions and change the payee or category for all of them at once.

[2016-11-12 00:24] stef145g commented on #921
Fix found. See Pull Request #947

[2016-11-12 02:35] #921 closed

[2016-11-12 02:38] #841 closed

[2016-11-12 04:52] stef145g commented on #846
Thanks James for the fix.
I was unable to replicate the values by @RustyNomad  but I can replicate the values by @siena123 (James)
I now consider this closed unless someone else has more on this issue.

[2016-11-12 04:52] #846 closed

[2016-11-12 04:56] #942 closed

[2016-11-17 13:04] siena123 commented on #857
Are we still using bakefile or have we moved to CMake? We were working on the change to CMake as I remember.

[2016-11-17 14:04] omalleypat commented on #857
I think we're still on bakefile - the volunteer working on CMake made a
huge amount of progress on CMake but was unable to finish and I haven't had
the time to look at it myself.

[2016-11-18 01:31] guanlisheng commented on #857
Yep that we are still on backfile

[2016-11-18 02:16] siena123 commented on #857
I will take a look at it and see if I can find something for you. I can come up with a way to do some initial testing but will need you to do some testing later.

[2016-11-19 15:49] vomikan opened #949 "Memory Leaks in mmCheckingPanel::initFilterSettings()"
- Check OS
  - [X] Windows
  - [ ] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [X] 1.3.x

[2016-11-19 16:37] vomikan commented on #949
What about this code?
[code]

[2016-11-19 17:15] vomikan commented on #949
The same issue here:

[code]

[2016-11-19 18:37] vomikan commented on #949
How to reproduce the bug:
- Start MMEX
- Select any account in the navigation tree
- Select , for example, a main filter item "View Last 30 days"
- Close MMEX
VS2015 outpul will be like this:
[code]

[2016-11-20 16:01] ChristianAE opened #950 "PPA does not exist"
The PPA to install MMEX on Ubuntu does not exist anymore.

Is this a temporary issues? Are there plans to bring it back? Is there an alternative ppa or place to download a pre build version of MMEX?

[code]
- Check OS
  - [ ] Windows
  - [ ] Mac OSX
  - [x] Linux
-  Check MMEX version
  - [x] 1.3.x
  - [ ] 1.2.x
  - [ ] 1.1 or older

[2016-11-21 03:36] guanlisheng commented on #950
We can build it from scratch and would you mind help here?

[2016-11-21 08:00] ChristianAE commented on #950
I am happy to help. But my background on Linux/Docker/PPA is limited.

Nevertheless I'd give it a try.

What is the goal? Having a Docker container that spits out a .deb file? Or set up an alternative PPA?

[2016-11-21 08:18] guanlisheng commented on #950
An separate PPA while docker image/container is to help here by providing a full environment.

[2016-11-21 08:25] ChristianAE commented on #950
Than I'll give it another go with the Docker container.

Since the documentation seems to be scattered all around(Homepage, GitHub, SourceForge): Can you point me to the most up to date build instructions for Ubuntu?

[2016-11-21 08:38] guanlisheng commented on #857
The Dockerfile under the root of github repo should be clear enough to build it from scratch

[2016-11-21 09:41] guanlisheng commented on #950
[Dockerfile](https://github.com/moneymanagerex/moneymanagerex/blob/master/Dockerfile) would be the most accurate one

[2016-11-21 09:44] ChristianAE commented on #950
Whats the status of the current Dockerfile?

Do you get a deb out of it? Why is the wxWidget stuff commented out?

[2016-11-21 09:51] guanlisheng commented on #950
i'm a little bit lost for your last reply and i said times Dockerfile and its docker image is just ENV

[2016-11-21 09:55] ChristianAE commented on #950
Sorry. I'll get started and get back when I make some progress or get stuck.

[2016-11-21 10:57] guanlisheng commented on #950
Fine and thanks. Dockerfile was introduced just several days ago and I am still thinking on how to utilize it well.

For now, the docker image in docker hub would contain both full toolchain and source code the we can build the binary easily.

[2016-11-21 19:41] ChristianAE commented on #950
Here you'll find today's progress. All my tests where run on a fresh Ubuntu 16.04.1 VM. For each iteration I reseted  the VM and started clean.

## Install the current stable (1.2.7)
[code]

## Create a .deb file of the current rc (1.3.0-rc.2)
[code]

The fist (1.2.7) installed MMEX right away. Which was nice and seemed to work. To make it easier for other users this does not seem convenient enoug

[2016-11-22 02:50] siena123 commented on #949
Yes, both locations had a memory leak. I have created a pull request for you which fixes the problem.

[2016-11-22 13:56] guanlisheng commented on #950
sorry @ChristianAE as i am not good at linux either.

[2016-11-22 14:01] guanlisheng opened #952 "Migrate/import from Quicken"
i received a lot of request to migrate from [Quicken](https://www.quicken.com/)

[2016-11-22 19:10] vomikan opened #953 "Transactions focus"
When opening an account view ,  the cursor is always on the last transaction , not the actual day
Ex : I have transaction until 31/12/2016 , we are now the 21 nov , on 2 transaction per day , I must always scroll back to the actual day
If you see gnucash , they locate on the last executed transaction or the first future transaction
Is it possible to do that with mmex
I have a qif file with all kno

[2016-12-01 07:49] stef145g commented on #950
It appears that drwj87 (David Jones) the author of cmake has left Github. This has resulted in the above error. I have merged the last update I had of the branch dwrj87/cmake with moneymanagerex/master and have uploaded the cmake branch to moneymanagerex. Users should now be able to switch to moneymanagerex/cmake to access his unfinished work.

Hopefully this has the appropriate files that various

[2016-12-03 19:11] slodki opened #954 "lib/lua submodule missing - Lua 5.2.4 not exist anymore"
- Check OS
  - [ ] Windows
  - [ ] Mac OSX
  - [x] Linux
- Check MMEX version
  - [x] 1.3.x
  - [ ] 1.2.x
  - [ ] 1.1 or older

Lua release 5.2.4 (4fd8751 linked in #645) was removed from repo, so it's not accesible by git clone anymore.

[2016-12-04 11:28] vomikan commented on #954
Please try
git submoduled submodule update --init
Again

[2016-12-04 17:02] siena123 commented on #857
I only thing that I have been able to think of is to modify the bootstrap.sh to set an environment variable and then set the PLATF_DIR based on the environment variable but I don't have a way to test this for you as what I was trying to setup to do testing is not working for me at them moment.

`
dist=$(uname -s 2> /dev/null)
`
`
        <set var="PLATF_DIR">
            <if cond="TOOLSET=='win32'

[2016-12-08 12:15] Uskok commented on #954
Url path is wrong in .gitmodules. Correct is https://github.com/lua/lua.git
Second problem the structures is changes, there is no src folder anymore. This source could be new Lua 5.3. The file lua.hpp is missing. New Lua 5.3 has problem with LuaGlue.
I was manual unpack Lua 5.2.4 from www.lua.org and I am able to build mmex under Centos 7 with wx3.1. Congratulation of invested afford in project. I

[2016-12-11 13:40] andjscott commented on #954
Will a new release be made as v1.3.0 is not able to be built from source?

[2016-12-11 16:45] aborisochkin commented on #789
To have the option to select previous months/years in standard reports would be really great!

Possibility to select start and end date for reports just what is needed.

[2016-12-12 10:18] stef145g commented on #954
If you are using the GitHub repo, update to latest and the rebuild should be successful.
Prebuilt files are available from [AppVeyor build 390](https://ci.appveyor.com/project/guanlisheng/moneymanagerex/build/1.0.390) for Windows under PlatformXX - -> Artifacts

[2016-12-12 11:34] andjscott commented on #954
I was updating mmex's [nixpkg](https://github.com/NixOS/nixpkgs/blob/master/pkgs/applications/office/mmex/default.nix) which prefers a git tag as a revision. Using `rev = "d661518f5e04a54bfcb39201c44529d6413c6276";` can work in the meantime.

[2016-12-12 14:31] vomikan opened #956 "Automatic Database Backup"
Just trying the new 1.3.0 GA Portable and it appears that backups are not being made. My settings of take backup at start and keep 4 iterations appears to be ignored. Drop back to 1.2.7 and it works fine. Not done much research yet but what I have spotted is that mmframe.cpp in1.2.7 uses "BackupDatabase" whereas 1.3.0 uses "dbUpgrade:BackupDB" so I guess some re-writing/changes in this area.

Prob

[2016-12-13 07:09] #949 closed

[2016-12-14 21:32] TimoWilken opened #957 "Assertion failure and crash after upgrading to 1.3.0"
- Check OS
  - [ ] Windows
  - [ ] Mac OSX
  - [X] Linux (Arch Linux, kernel version 4.8.14-2-ck-skylake, architecture x86_64)
-  Check MMEX version
  - [X] 1.3.0
  - [ ] 1.2.x
  - [ ] 1.1 or older

After installing the updated MMEX 1.3.0, I get the same "assertion failed" error as in #917.

The initial title screen is then shown, but when I open my previous database, there is another error (befor

[2016-12-15 01:40] yaomtc commented on #957
Mine also crashes on startup, also on Arch Linux. Here's my console output and crash report.
[mmex-console.txt](https://github.com/moneymanagerex/moneymanagerex/files/653586/mmex-console.txt)

[mmex.xml.txt](https://github.com/moneymanagerex/moneymanagerex/files/653585/mmex.xml.txt)

[2016-12-15 09:47] ni1son commented on #957
I have errors too on Arch linux.

The first:
`ASSERT INFO:
./src/generic/imaglist.cpp(66): assert "(bitmap.GetWidth() >= m_width && bitmap.GetHeight() == m_height) || (m_width == 0 && m_height == 0)" failed in Add(): invalid bitmap size in wxImageList: this might work on this platform but definitely won't under Windows.

BACKTRACE:
[1] wxGenericImageList::Add(wxBitmap const&)
[2] std::__cxx11::bas

[2016-12-15 14:29] anandasudarshan commented on #957
+1 on windows 10 too.. crashes with error .

[2016-12-15 14:34] anandasudarshan commented on #910
+1 very useful to have this

[2016-12-16 14:23] mrjavum commented on #957
The same crach on Arch with stock kernel:
`Linux archie 4.8.13-1-ARCH #1 SMP PREEMPT Fri Dec 9 07:24:34 CET 2016 x86_64 GNU/Linux`

[mmex_dbgrpt-26592-20161216T210224.zip](https://github.com/moneymanagerex/moneymanagerex/files/657387/mmex_dbgrpt-26592-20161216T210224.zip)

[2016-12-17 12:58] stef145g commented on #956
Fixed with PR #960: automatic database backup on start-up

[2016-12-17 23:02] stef145g commented on #954
@andjscott the git tag for v1.3.0 has been moved and can now be built from source.
Refer to [AppVeyor build 392](https://ci.appveyor.com/project/guanlisheng/moneymanagerex/build/1.0.392)

[2016-12-17 23:02] #954 closed

[2016-12-23 10:18] vomikan opened #963 "Image or Icon for accounts not the same for portable and not"
https://sourceforge.net/p/moneymanagerex/bugs/971/

when you install new (portable) version the icons you set for accounts revert to standard ones. This happened before with previous upgrades as well. When i go back to PC version (same database) the icons are fine!

[2016-12-23 13:38] vomikan opened #964 "Translations"
[code]

[2016-12-23 14:06] #956 closed

[2016-12-24 12:56] J316 opened #967 "Version 1.3.0 crashes and it's unusable"

[2016-12-24 12:57] J316 commented on #957
- Check OS
  - [ ] Windows
  - [ ] Mac OSX
  - [X] Linux
-  Check MMEX version
  - [X] 1.3.x
  - [ ] 1.2.x
  - [ ] 1.1 or older

Just updated to version 1.3.0, as I open the app I get this error

`ASSERT INFO:
./src/generic/imaglist.cpp(66): assert "(bitmap.GetWidth() >= m_width && bitmap.GetHeight() == m_height) || (m_width == 0 && m_height == 0)" failed in Add(): invalid bitmap size in wxImageLi

[2016-12-24 12:59] #967 closed

[2016-12-25 11:54] stef145g commented on #957
The issue with the assertion failure:
`12:45:10: ACCOUNTLIST_V1: Exception SQL logic error or missing database[1]: no such column: STATEMENTLOCKED`
is caused by the database being incorrectly upgraded.

The accompanying file [account_table_mismatch.zip](https://github.com/moneymanagerex/moneymanagerex/files/672168/account_table_mismatch.zip)  contains 2 files.

In mmex version 1.3.x there is a new

[2016-12-25 15:48] J316 commented on #957
@stef145g
The problem is that command can't be reached since the application cannot be launched, it crashes

[2016-12-25 20:46] stef145g commented on #957
@J316 The above suggestion is for users experiencing problems with a database as reported by some. Examining the attached files will give the sql commands to use to examine the database possibly using another program such as sqlitebrowser when MMEX fails to start.

To isolate the condition, rename the existing mmexini.db3 file and attempt to start MMEX.
If MMEX crashes, then it is not the database

[2016-12-25 20:53] stef145g commented on #967
Refer to same issue #957

[2016-12-26 00:49] vomikan opened #969 "New report creation hangs."
- Check OS
  - [x] Windows
-  Check MMEX version
  - [x] 1.3.x
![screenshot 345](https://cloud.githubusercontent.com/assets/6836805/21473482/47f6b9cc-cb1e-11e6-8778-73a97dd9b2c8.jpg)

[2016-12-26 00:51] vomikan commented on #969
[code]

[2016-12-26 11:00] J316 commented on #957
@stef145g The application crashes when creating a new database as well

[2016-12-26 11:59] MartinX3 commented on #749
Linux Mint 18.1.
Based on Ubuntu 16.04.
64-Bit & Mate-Desktop.
PPA-Version 1.2.7.

I can deactivate the ID colum header.
but the visual bug (like #491) still happens.

![bildschirmfoto zu 2016-12-26_12-58-56](https://cloud.githubusercontent.com/assets/4518092/21481696/229313c2-cb6b-11e6-8391-ec7faa7eb329.png)

[2016-12-26 12:02] MartinX3 commented on #491
#749
Still open.

[2016-12-26 16:35] BentleyJOakes opened #971 "Invalid bitmap size in wxImageList assert fired"
- Check OS
  - [ ] Windows
  - [ ] Mac OSX
  - [X] Linux
-  Check MMEX version
  - [X] 1.3.x

This assertion is seen in Issue #917 and #957 for Arch Linux systems.
I believe this is caused by the pie_chart_png.h file only having 12 pixels for the height, instead of 16 pixels as requested by the icon size.

**PROBLEM:**
Assertion is fired from wxWidgets
`ASSERT INFO: ./src/generic/imaglist.cpp(66):

[2016-12-26 20:15] vomikan commented on #971
[code]
Output:
3 | Height: 12 Width:16
It's mean that png::PIE_CHART has incorrect size

[2016-12-26 20:16] vomikan commented on #971
https://openclipart.org/detail/125071/pie-graph

[2016-12-28 10:17] #969 closed

[2016-12-28 12:01] stef145g commented on #957
@J316, @vomikan has provided the fix #972 to correct the invalid bitmap issue.
This should correct the crash issue with Linux.

[2016-12-29 23:39] fusion809 opened #974 "Attempting to create an RPM package: need runtime dependencies and build dependencies"
Hi,

I am interested in creating an RPM package for Money Manager Ex for Fedora, and if possible (as I am not using these other operating systems myself) CentOS, Mageia, openSUSE, PCLinuxOS, _etc._ and to do this I am going to need a list of runtime dependencies and build dependencies for this package on Linux. Guessing based on your README that the following Fedora packages will need to be listed

[2016-12-30 08:03] stef145g commented on #974
@fusion809, The branch [cmake](https://github.com/moneymanagerex/moneymanagerex/tree/cmake) may have information that may assist you. This branch contains *cmake* build information but this work was not completed by the author.

[2016-12-30 09:43] #971 closed

[2016-12-30 09:45] #950 closed

[2016-12-31 14:13] J316 commented on #957
@stef145g How do I apply that fix?

[2016-12-31 21:52] stef145g commented on #957
Hi @J316, I am assuming you are building your own on Linux as we have not released a release package for Linux. This being the case, you can create a build from the 'master' branch at the latest commit.

Alternatively you can use Git to switch/checkout to the v1.3.x branch. This branch contains only fixes to v1.3.0 with the version updated to v1.3.1

Happy New Year

[2017-01-01 17:33] vomikan opened #975 "Import error mesages extention"
Regarding this topic:
http://forum.moneymanagerex.org/viewtopic.php?f=23&t=6861

[2017-01-02 23:01] vomikan opened #977 "Performance killers 3"
make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [X] Windows
-  Check MMEX version
  - [X] 1.3.x
http://forum.moneymanagerex.org/viewtopic.php?f=23&t=6892

[2017-01-03 11:23] ibnbr opened #979 "Fatal Error when open MMEX 1.3.0"
make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [X] Windows
  - [ ] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [X] 1.3.x
  - [ ] 1.2.x
  - [ ] 1.1 or older

XML of error -> http://pastebin.com/9QzbJjm0

![mmex_2017-01-03_09-10-04](https://cloud.githubusercontent.com/assets/2778247/21606105/767998e2-d194-11e6-8b5e-40987aa6bf72.png)
![chrome_2017-01-03

[2017-01-03 16:08] grumpy235 opened #980 "Slow displaying transactions in an Account"
make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [X] Windows
  - [ ] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [x] 1.3.x

Noticable slow down when displaying transactions (6000+) in a Checking Account compared to 1.2.7
Compiling latest source on Win10 and VS2015 and running debug shows the following Hotpath
TransactionListCtrl::OnGetItemAttr 60%
wxDa

[2017-01-03 17:43] ElijahCaine commented on #304
It was already mentioned but +1 on integrating OwnCloud. Any open source app with syncing features ought to be able to sync with an open source cloud :wink:

[2017-01-03 18:36] #977 closed

[2017-01-03 19:35] #975 closed

[2017-01-03 22:46] vomikan commented on #964
[code]

[2017-01-03 22:50] vomikan opened #984 "Weekly recurring transactions"
- Check OS
  - [x] Windows
  - [x] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [ ] 1.3.x

Hi my weekly transactions aren't showing on my accounts page, all the monthly ones and quarterly ones are fine,  am I missing something  in  my weekly recurring transaction setup ?
Richard

http://forum.moneymanagerex.org/viewtopic.php?f=24&t=6895

[2017-01-04 06:56] grumpy235 commented on #980
Nikolay,
Many thanks - instant display now.
This problem got me looking at User Colors in "View Options", is there any documentation on to use them? I could not find much in the Help file.

[2017-01-04 08:27] vomikan commented on #980
In an account panel if Ctrl+1....Ctrl+7 have pressed the selected transaction will marked by specified color. Ctrl+0 is for reset.

[2017-01-04 09:43] vomikan commented on #980
In an account panel if Ctrl+1....Ctrl+7 have pressed the selected transaction will marked by specified color. Ctrl+0 is for reset.

[2017-01-04 12:36] #980 closed

[2017-01-04 12:38] vomikan commented on #979
We need more details to investigate this issue.
Could you try install portable mmex and create new empty DB.
Then open exiting DB.

[2017-01-04 12:43] ibnbr commented on #979
I cant open a new DB, because this error occurs before I choose de Langague.

I tested all 1.30 portable build.

On version 1.27 it's all OK.

[2017-01-04 13:03] #963 closed

[2017-01-04 13:04] Spoker commented on #979
I have the same issue on a 64-bit win7 pro SP1 machine where I am not an admin.
On another 64-bit win 10 machine, where I am an admin, it works fine.

[2017-01-04 13:09] ibnbr commented on #979
I'm admin on this machine. It's Win10, I tried run as admin Don't Work.

On my notebook with Win10 works fine.

[2017-01-04 13:19] vomikan commented on #979
- Seems mmex can't cteate mmexini.db3 file. For portable folder be sure that the folder is not Read Only.

- May be there are others msvcp120.dll and msvcr120.dll files in the system?

[2017-01-04 13:26] Spoker commented on #979
I tried it again with the latest build (i chose 32-bit version this time), but same error.
I can attach a log file.

[MoneyManagerEx.txt](https://github.com/moneymanagerex/moneymanagerex/files/684715/MoneyManagerEx.txt)
![error](https://cloud.githubusercontent.com/assets/4959883/21643638/b966959c-d289-11e6-941c-2bae6bddcd83.JPG)

[2017-01-04 13:33] #649 closed

[2017-01-04 13:47] #617 closed

[2017-01-04 13:48] vomikan commented on #429
Is this issue still actual?

[2017-01-04 13:52] ibnbr commented on #979
It's not read only.

theres is a lot of msvcp120.dll in my PC, A search of msvcp120.dll in C:

![explorer_2017-01-04_11-51-21](https://cloud.githubusercontent.com/assets/2778247/21644361/463c8398-d274-11e6-9c79-5cd2a761bf6e.png)

[2017-01-04 14:02] #984 closed

[2017-01-04 14:09] #941 closed

[2017-01-04 19:42] thainanfrota opened #988 "Bug at depreciation of assets"
Hello!

I think I have a problem with a depreciation of assets, and if this is not the place to post this question, I apologize.

I created a asset with value 100,000.00, with depreciation rate of 10% per year and start data on 2017/01/03 (and today is 2017/01/04).

1) If I define the appreciation / depreciation method as APPRECIATION, MMEX behaves correctly, ie:

((10/100 + 1) ^ (1/365)) * 100000

[2017-01-04 20:49] vomikan commented on #988
One year contains 365 days. But 4 year contains 364*4+1.

[2017-01-04 20:59] thainanfrota commented on #988
But the difference is 1 day.

[2017-01-05 09:11] guanlisheng opened #989 "Integrate plt(Page Load Time) to Google Analytics"
https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#plt

This would help to monitor the performance

[2017-01-05 10:03] guanlisheng opened #990 "support previous/next option for reports"
![snip20170105_16](https://cloud.githubusercontent.com/assets/721973/21676617/36615ef0-d371-11e6-94ee-2d5b21cad940.png)

[2017-01-05 12:37] vomikan commented on #964
Thre are several lines with "DATAVERSION"
[code]
If somebody will translate "DATAVERSION" it will be bug.

[2017-01-05 14:00] vomikan commented on #675
[code]

[2017-01-05 14:28] MartinX3 commented on #429
This issue happens only on 29. february, also known as leap day or leap year day.

https://en.wikipedia.org/wiki/February_29

[2017-01-05 14:38] #429 closed

[2017-01-05 15:36] vomikan commented on #749
Is this issue actual for mmex 1.3.0 ?

[2017-01-05 15:41] vomikan commented on #739
http://forum.moneymanagerex.org/viewtopic.php?f=23&t=6897

[2017-01-05 15:47] MartinX3 commented on #749
I only can test it, when the Linux PPA is updated from 1.2.7 to 1.3.0 :(

[2017-01-05 16:33] vomikan commented on #429
It's already solved.

[2017-01-05 17:32] vomikan commented on #739
Working file
[DB_Table_Currencyformats_V1.h.txt](https://github.com/moneymanagerex/moneymanagerex/files/687910/DB_Table_Currencyformats_V1.h.txt)

[2017-01-05 18:49] MartinX3 commented on #429
Thank you!
In 1.3.0?

[2017-01-05 18:59] thainanfrota commented on #988
Guys,

I was wrong. I have already found how MMEX calculates depreciation.

((10/100 - 1) ^ (1/365)) * 100000 = -99971,14 (Exactly what MMEX is displaying)

I will close this thread.

Sorry for any inconvenience.

[2017-01-05 18:59] #988 closed

[2017-01-06 16:01] Spoker commented on #909
Now that multiselect is possible in 1.3.0, are there any plans to implement this feature?
It would be great if it were possible to change payee, categorie, note, number, ... for a multi-selection.

[2017-01-06 17:25] vomikan commented on #909
Yes

[2017-01-07 15:35] vomikan commented on #886
There is already Lock function in an account settings

[2017-01-07 15:35] #886 closed

[2017-01-07 16:19] vomikan commented on #909
What about this implementation?
![screenshot 351](https://cloud.githubusercontent.com/assets/6836805/21743185/21d11568-d50e-11e6-80ae-6491e3b8818c.jpg)

[2017-01-07 16:49] Spoker commented on #909
This looks great!

[2017-01-07 20:05] #813 closed

[2017-01-07 21:04] #675 closed

[2017-01-07 21:21] #953 closed

[2017-01-07 21:22] #714 closed

[2017-01-07 21:31] vomikan commented on #749
May be you can build mmex from scratch?
https://sourceforge.net/p/moneymanagerex/wiki/Building%20mmex%20Debian%20%28Ubuntu%29%20Linux/

[2017-01-07 21:35] Dialga opened #996 "mmex Error"
make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [ ] Windows
  - [ ] Mac OSX
  - [x] Linux
-  Check MMEX version
  - [x] 1.3.x
  - [ ] 1.2.x
  - [ ] 1.1 or older
![mmex-screenshot_2017-01-08_10-33-57](https://cloud.githubusercontent.com/assets/5157928/21745327/0aba879e-d58e-11e6-860d-80665294d51a.png)

I just upgraded to moneymanagerex-1.3.1 and my databas

[2017-01-07 21:56] vomikan commented on #996
Could you please provide more details.
- OS
- from what version you have upgraded

[2017-01-07 22:25] Dialga commented on #996
On Arch Linux, from version 1.2.7

[2017-01-07 22:28] vomikan commented on #996
It's a bit strange. The table REPORT_V1 already contains the field TEMPLATECONTENT in v.1.2.7

[2017-01-07 22:33] vomikan commented on #937
You should set not OS currency parameters but an account currency that import into.

[2017-01-07 22:33] #937 closed

[2017-01-07 22:51] Dialga commented on #996
I just opened my database in sqlite3 and the report_v1 table is as follows:
`CREATE TABLE REPORT_V1(REPORTID integer not null primary key, REPORTNAME TEXT COLLATE NOCASE NOT NULL UNIQUE, STATUS TEXT COLLATE NOCASE NOT NULL, GROUPNAME TEXT COLLATE NOCASE, SQLCONTENT TEXT, LUACONTENT TEXT, TEMPLATEPATH TEXT);`

[2017-01-07 23:13] Dialga commented on #996
I just tried exactly that and my database still fails to open, so I've reverted.

[2017-01-08 10:28] vomikan commented on #953
This feature available in daily build right now
https://github.com/moneymanagerex/moneymanagerex/wiki/How-to-download-the-mmex-build

[2017-01-08 10:29] vomikan commented on #675
https://github.com/moneymanagerex/moneymanagerex/wiki/How-to-download-the-mmex-build

[2017-01-08 10:30] #996 closed

[2017-01-08 10:36] vomikan commented on #964
I'll refer to a similar bug:
https://github.com/moneymanagerex/moneymanagerex/issues/739

[2017-01-08 10:37] #964 closed

[2017-01-08 10:48] vomikan commented on #739
There is a source of CURRENCYFORMATS_V1 table inserts:
[code]
The Python script wrap all latin values into wxTRANSLATE.
Result:
[code]
Problem: Nobody needs translations of ISO codes and currency names as well and nobody will translate so huge amount of strings.
also
[code]
This technology is OK only for Categories!
[code]

[2017-01-08 10:55] vomikan commented on #739
I suggest mark field that to be translated special symbols like
[code]

[code]

Accordingly, the Python script should be changed .

[2017-01-08 13:03] vomikan opened #999 "MS Money QIF import"
[I'm trying](http://forum.moneymanagerex.org/viewtopic.php?f=23&t=6909) to move all my [MS Money](https://ru.wikipedia.org/wiki/Microsoft_Money) data, about 10k transactions, to [MoneyManagerEX](http://www.moneymanagerex.org/).
I've found the following issues with QIF import:
1. MS Money exports in some ASCII latin codepage (being Italian I've several accented chars like àèìù...), while MMEX expec

[2017-01-08 15:52] mrjavum opened #1001 "Crash on using existing DB or creating new"
- Check OS
  - [ ] Windows
  - [ ] Mac OSX
  - [x] Linux
-  Check MMEX version
  - [x] 1.3.1
  - [ ] 1.2.x
  - [ ] 1.1 or older
On trying to use my existing DB, which works fine on Windows 1.3.0 version, or on creating new DB I have a crash:
[mmex.xml.zip](https://github.com/moneymanagerex/moneymanagerex/files/692230/mmex.xml.zip)

[2017-01-08 16:28] vomikan commented on #1001
What is OS name?

[2017-01-08 16:29] mrjavum commented on #1001
Arch Linux:
`Linux archie 4.9.1-1-ARCH #1 SMP PREEMPT Fri Jan 6 20:42:57 CET 2017 x86_64 GNU/Linux`

[2017-01-08 17:13] vomikan opened #1002 "XML import"
![screenshot 352](https://cloud.githubusercontent.com/assets/6836805/21751841/eac7653c-d5de-11e6-8066-309f82a6a37a.jpg)

[2017-01-08 21:52] vomikan commented on #1002
It's a minor bug. In case outdated data in saved settings there are some warning messages appears.

[2017-01-09 07:09] stef145g commented on #739
Currency values are initialised when the table is created. While we have a problem with the initialisation, this does not fix existing or old databases. The only way to fix existing databases is to rewrite the existing data in the currency lookup table.

The problem with doing this is that in some databases, the existing currencies will be replaced and these may not correctly align with the new cu

[2017-01-09 07:30] vomikan commented on #739
The problem in currencies for new DB (created exactly in v 1.3.x)
Your recommendation is not enough.

[2017-01-09 07:38] stef145g commented on #739
I have used this procedure to fix my working database that was created at Version 0.9.6.0
My database still had 11 currencies initialised, and I am using the latest version of MMEX.

While this is not the total solution, it is a valid solution for all existing databases created prior to 1.3.0

[2017-01-09 07:59] vomikan commented on #739
How to reproduce the issue:
Start mmex - create new DB - create 'Test' account with Euro currency.
Result:
![screenshot 353](https://cloud.githubusercontent.com/assets/6836805/21760129/bc847b48-d65a-11e6-8d26-af049c26c330.jpg)

[2017-01-09 10:56] grumpy235 opened #1006 "Minor issue with creating a recurring transaction"
make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [X] Windows
  - [ ] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [X] 1.3.x
  - [ ] 1.2.x

When creating a new recurring transaction, Account List selection contains CLOSED accounts as well - should it?

[2017-01-09 12:04] #999 closed

[2017-01-09 12:07] vomikan opened #1007 "QIF import cleared status"
[x] Import
 What does 'Cleared' status mean?

[2017-01-09 12:07] vomikan commented on #1007
This is how cleared transactions work. All transactions of previous periods are flagged as reconciled.
Then you start with all transactions in current period as unreconciled, take the statement from the bank and start reconciling.
While reconciling, you flag transactions that match those in the statement and they are flagged cleared.
If you end up with the same final balance as in the statement yo

[2017-01-09 12:07] #1007 closed

[2017-01-09 12:08] gabriele-v commented on #739
Agree with Nikolay for new databases, we need to modify script in some way to identify field that needs translation.

Regarding fix existing DB, why not simply release a DB upgrade version with something like this (pseudo-SQL):
UPDATE Currency SET Symbol = "€" WHERE Code = "EUR"

[2017-01-09 12:26] vomikan opened #1008 "MSMoney QIF import"
MSMoney can only export a single account at the time (besides, even exporting multiple ones, transfers might appear under both accounts).
Other programs (e.g. moneydance) also import them singularly, but automatically ignore duplicate transactions when importing, thus solving the double transfers issue.

 I still cannot easily import MSMoney QIFs. Suppose I have Acccount A and Account B with some

[2017-01-09 12:30] vomikan commented on #1007
https://github.com/moneymanagerex/moneymanagerex/blob/master/src/import_export/qif_import_gui.cpp#L1019

[2017-01-09 12:33] stef145g commented on #739
Checking further: the problem is not with python because the resulting DB_Table_CURRENCYFORMATS_V1 file is encoded as utf-8

The  resulting code is :
[code]
I have separated the command in two to see the result of 'euro'

Using the same line of code where I define *euro* to see the resulting string, the utf-8 character is OK when added to the call before calling the .h code.
When I add the same li

[2017-01-09 12:42] stef145g commented on #739
@gabriele-v Your method would be OK when the database has all its currencies set. Some of the old databases are more than likely, still being used (Mine being a classic example) that will not have all the currencies installed.

Also any new database created will have the same problem, unless after being created on the 2nd run the database is immediately upgraded.

[2017-01-09 13:03] vomikan commented on #739
@stef145g I've provided the working file ( [see above](https://github.com/moneymanagerex/moneymanagerex/files/687910/DB_Table_Currencyformats_V1.h.txt) ) It's utf8 but with BOM. Current file encoding is  utf8 without BOM.
Also (I do not get tired of repeating) #pragma execution_character_set("utf-8") recomended.
And Py script generate too many useless wxTRANSLATION

[2017-01-09 13:14] ni1son commented on #1001
I have the same problem. When I'm trying to open existing db this error appear:
15:54:41: ACCOUNTLIST_V1: Exception SQL logic error or missing database[1]: no such column: STATEMENTLOCKED
15:54:41: ACCOUNTLIST_V1: Exception SQL logic error or missing database[1]: no such column: STATEMENTLOCKED

And after creating new db, more precisely after pressing "Ok" button in "Edit account" window, the prog

[2017-01-09 14:06] #1006 closed

[2017-01-09 21:28] gabriele-v commented on #1001
https://sourceforge.net/p/moneymanagerex/bugs/927/?limit=25

[2017-01-09 21:35] gabriele-v commented on #739
@stef145g
We should provide 2 fixes, one for new created DB and one for existing ones:
1. For new databases => Working on C++ code side as discussed by you and Nikolay
2. Create DB Version 8 that will patch currencies basing on Currency Symbol ( = ISO code)

I know that second won't fix all DBs (older ones don't have ISO code populated) but this issue seems to occur only after we have inserted tra

[2017-01-10 11:49] vomikan opened #1012 "'Duplicate' status of a transaction"
Related issue is #1008
After import QIF file it may be several duplicate transactions. In fact it the same but has affect to an account balance.

I think it has sense to fix it and made the 'Duplicate' transactions balance equal zero.

[2017-01-10 11:58] Spoker commented on #1012
I have alwasy wondered why a duplicate transaction had influence on the balance. In my opinion, it should not. I agree that duplicate transactions should not have an effect on the balance.

[2017-01-10 13:24] #1008 closed

[2017-01-10 13:49] vomikan commented on #1012
@Spoker thank you for feedback

[2017-01-10 14:02] vomikan commented on #979
Could you try new release:
https://sourceforge.net/projects/moneymanagerex/files/v1.3.1/

[2017-01-10 14:22] ryhaberecht opened #1013 "PPA repository is down"
https://launchpad.net/~dwrj87/+archive/ubuntu/mmex-test/ is down.

make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [ ] Windows
  - [ ] Mac OSX
  - [x] Linux
-  Check MMEX version
  - [x] 1.3.x
  - [x] 1.2.x
  - [x] 1.1 or older

[2017-01-10 15:26] ibnbr commented on #979
nothing, still have error

![mmex_2017-01-10_13-24-06](https://cloud.githubusercontent.com/assets/2778247/21811867/4e7a1552-d738-11e6-8c87-70898a4a4f49.png)

[2017-01-10 21:47] stef145g commented on #1013
The user who created this was on GitHub but has left and deleted his account.
It appears that he has also deleted the account on Launchpad.net

[2017-01-11 07:35] vomikan commented on #461
[Update](http://forum.moneymanagerex.org/posting.php?mode=quote&f=23&p=14628)
Hi
Still I have several transactions not correctly imported/flagged as dups.

1. Split transactions with multiple transfers, like
[code]
Which has opposite partial transfers both in QIF of account Cassa Chiara ($200) and QIF of account Cassa Livio ($210).

[2017-01-11 07:39] vomikan opened #1015 "Account type is not imported."
Account type is not imported. All imported QIFs creates accounts of type Bank even if QIF contains first line like:
[code]
(I'm not sure if "reallocating" the account afterwards has any bad consequence).
[Source](http://forum.moneymanagerex.org/posting.php?mode=quote&f=23&p=14628)

[2017-01-11 07:42] vomikan opened #1016 "Right click one transaction issue"
- Check OS
  - [X] Windows
  - [ ] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [x] 1.3.x

[If I right click one transaction](http://forum.moneymanagerex.org/posting.php?mode=quote&f=23&p=14628) (and get the right-click contect menu), then choose nothing from that menu and right-click another transaction instead, the first transaction seems to stay selected. Is this expected?

[2017-01-11 16:37] Spoker commented on #979
Same here, problem persists.

[2017-01-12 06:27] vinodraut opened #1017 "Mac Downloads are not available!!"
make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [ ] Windows
  - [x] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [x] 1.3.x
  - [ ] 1.2.x
  - [ ] 1.1 or older

[2017-01-12 23:23] BentleyJOakes opened #1019 "Null Pointer Crash"
make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [ ] Windows
  - [ ] Mac OSX
  - [X] Linux
-  Check MMEX version
  - [X] 1.3.x
  - [ ] 1.2.x
  - [ ] 1.1 or older

Issue:
Thread 1 "mmex" received signal SIGSEGV, Segmentation fault.
0x000000000074e2a0 in mmDateRange::destroy() ()
(gdb) bt
#0  0x000000000074e2a0 in mmDateRange::destroy() ()
#1  0x000000000063

[2017-01-13 00:06] BentleyJOakes commented on #749
This issue is still present in master when building from scratch.

[2017-01-13 00:15] BentleyJOakes commented on #808
On my machine (Arch Linux), mmex uses a normal amount of CPU process on startup and while viewing transactions.
Perhaps this high CPU usage was related to the crash dump process on the user's machine?

[2017-01-13 01:21] stef145g commented on #1019
Thanks for the patch.
This has also been added to the v1.3.x branch

[2017-01-13 01:21] #1019 closed

[2017-01-14 07:52] #808 closed

[2017-01-14 18:17] omalleypat commented on #1017
https://github.com/moneymanagerex/moneymanagerex/releases/tag/v1.3.1

[2017-01-14 18:17] #1017 closed

[2017-01-14 18:49] #1015 closed

[2017-01-15 04:53] stef145g commented on #739
Taking up @vomikan 's suggestion, sqlite2cpp.py has been modified to provide the correct output for building the .h files.

The database definitions in table_v1.sql for translations have been modified. Data requiring translation require a `_tr_` prefix to the name. This allows sqlite2cpp to correctly identify the fields requiring translation and is treated accordingly.

[2017-01-15 06:25] chris3081 commented on #560
I would be kind to see this I have hundreds of transfers that are marked in both accounts as either deposits or withdrawals. They could all be matched based on the receipt number in the notes.

[2017-01-15 06:56] chris3081 opened #1025 "Auto linking of transactions continuation of #560"
make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [x] Windows
  - [ ] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [ x] 1.3.x
  - [ ] 1.2.x
  - [ ] 1.1 or older

This was mentioned in #560 but that one has been closed down.

It would be good to have a function to identify and link together transactions based on criteria. In my case when I import my bank

[2017-01-15 09:05] vomikan commented on #1025
[GRM](https://sourceforge.net/p/moneymanagerex/wiki/General%20Report%20Manager/)
Can halp in that case.

[2017-01-15 09:11] vomikan commented on #1025
I have already made somthing like this in case #1008 but for 'Transfer' transactions type.

[2017-01-15 19:28] Spoker commented on #909
It would also be good if it is possible to change multiple transactions into a transfer. It would be usefull to manually adjust imports where transfers were registered as withdrawals.

[2017-01-15 19:30] Spoker commented on #1025
If manual correction is necessary, this might help also:
https://github.com/moneymanagerex/moneymanagerex/issues/909

[2017-01-15 21:40] kennydrobnack opened #1026 "Frequest crashes when editing category list"
make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [ X] Windows
  - [ X] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [ X] 1.3.x
  - [ ] 1.2.x
  - [ ] 1.1 or older

I've used MMEX before and decided to give the newest version a try. Attempting to set up a fresh MMEX database, I reorganized the categories to my liking. While editing the categories, I am ge

[2017-01-16 03:58] kennydrobnack commented on #1026
Good news: it seems like I missed the memo that 1.3.1 was out and fixed this particular bug. Bad news is it looks like poking around the budgets and reports make it crash.

I'm going to close this issue and will open a new one if/when I can confirm exactly what is making it crash.

[2017-01-16 03:58] #1026 closed

[2017-01-16 11:09] vomikan commented on #739
Now it working as expected.
This code is exactly what I've mentioned early.
![screenshot 3](https://cloud.githubusercontent.com/assets/6836805/21980666/36408f54-dbf5-11e6-8991-7081345c12c2.jpg)
Thank you @stef145g ! Exelent job.

[2017-01-16 11:09] #739 closed

[2017-01-16 18:15] vomikan commented on #1025
@chris3081 Could you tru this report?

[Duplicates_v1.grm.txt](https://github.com/moneymanagerex/moneymanagerex/files/709135/Duplicates_v1.grm.txt)

[2017-01-17 08:48] vomikan commented on #1025
http://forum.moneymanagerex.org/viewtopic.php?f=16&t=6922

[2017-01-17 22:31] vomikan commented on #1016
I can't reproduce this.

[2017-01-17 22:31] #1016 closed

[2017-01-17 22:32] vomikan commented on #1012
@MisterY what do you think about it?

[2017-01-17 22:36] #299 closed

[2017-01-18 00:46] MisterY commented on #1012
Hm, I'm not sure what makes a transaction"duplicate". Should having a same date, payee, amount, and a category automatically be considered a duplicate?
Should a transfer automatically be ruled out as a duplicate if there is a transfer between the same accounts on the same date?
I would not make those assumptions.

Some sort of duplicate matching would be useful as a separate tool, perhaps? That wa

[2017-01-18 05:10] #628 closed

[2017-01-18 05:11] vomikan opened #1028 "-==New Features collection==-"
In case somebody want to develop one of this feature, please take and reopen one of them.
#302 - Refactor home page (phase 2)
#303 - Crash report collection
#359 - Custom autocomplete ComboBox
#386 - OFX Import
#396 - automatic assignment
#528 - Pagination support for all item list
#628 - New feature: insert new operations directly
#637 - Remove Historic Items without disturbing Current Balances
#

[2017-01-18 05:11] #302 closed

[2017-01-18 05:12] #303 closed

[2017-01-18 05:13] #735 closed

[2017-01-18 05:20] #952 closed

[2017-01-18 05:20] #925 closed

[2017-01-18 05:21] #847 closed

[2017-01-18 05:22] #926 closed

[2017-01-18 05:23] #637 closed

[2017-01-18 05:25] vomikan commented on #343
Related issue https://github.com/moneymanagerex/moneymanagerex/issues/1025

[2017-01-18 05:26] #713 closed

[2017-01-18 05:27] #396 closed

[2017-01-18 05:28] #386 closed

[2017-01-18 05:29] #359 closed

[2017-01-18 05:31] #629 closed

[2017-01-18 05:32] #707 closed

[2017-01-18 05:34] #528 closed

[2017-01-18 05:38] #1025 closed

[2017-01-18 05:40] vomikan commented on #789
Seems it quite easy to bring dates set to GRM
![screenshot 12](https://cloud.githubusercontent.com/assets/6836805/22052161/c2580a84-dd59-11e6-8a7e-846cfcfa4bf2.jpg)

[2017-01-18 08:59] Spoker commented on #1016
I could reproduce this on v1.3.1 but not on 1.2.7.

[2017-01-18 13:00] vomikan commented on #1016
In mmex v1.3.0 multiselect is on. If you select another line as result selected both.

[2017-01-18 13:03] vomikan commented on #990
Do you mean the Next and Previous buttons for navigation?

[2017-01-18 20:33] xraynaud opened #1030 "v1.3.1 crashes at start up on Macos Sierra (when connected to network)"
- Check OS
  - [ ] Windows
  - [X] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [X] 1.3.x
  - [ ] 1.2.x

Under Macos Sierra (10.12) MMEX crashes at startup when the computer is connected to internet. It seems that this is in a issue with the connection to Google Analytics. The crash does not occur if I switch network off. Unchecking the "Send anonymous statistics usage data" box also make the p

[2017-01-18 22:35] J316 commented on #1028
In case somebody want to develop one of this feature, please take and reopen one of them.
#1025 - Auto linking of transactions cntinuation of #560
#628 - New feature: insert new operations directly
#302 - Refactor home page (phase 2)
#303 - Crash report collection
#735 - Backup location
#626 - New feature: be able to remove unused reports
#791 - Feature Request - Charts for monthly budget performa

[2017-01-19 01:55] guanlisheng commented on #990
correct @vomikan

[2017-01-19 08:26] vomikan commented on #1028
@J316  thank you for update. I'll update case nàmes.

[2017-01-19 08:47] chris3081 commented on #1025
Hi @vomikan that one picks up entries but not the ones that are transfers

[2017-01-19 08:51] vomikan commented on #1025
It's by design, the report shows deposit+withdrawal pair.

[2017-01-19 08:57] chris3081 commented on #1025
Oh Ok, What I'm trying to do is to match the withdrawal transaction in account A with the matching Deposit transaction in Account B. The notes field in both transactions has the description of 'Internal Transfer - Receipt xxxxxxx' where xxxxx is a receipt number.

[2017-01-19 10:37] vomikan commented on #1025
The report l've provided should do that.
Run, click first link and change deposit transaction status to void.
Then click second link in the same line and change withdraval transaction type to transfer.

[2017-01-19 14:45] siena123 commented on #1028
I have already started working on some changes to reports in general that include some of the report items noted above. I will work on the others as well while I am doing them. I will be submitting just small framework changes to start with working toward the end goal of overall improvement of the reports.

#626 - New feature: be able to remove unused reports
#791 - Feature Request - Charts for mo

[2017-01-20 09:16] vomikan commented on #1028
I suggest next tecnology of working on cases:
- Any new feature should be registered in github firstly;
- Assign yourself in case you will do some coding for this request;
- Any PR should contains case (ticket) number. For example:
[code]

[2017-01-20 10:35] vomikan commented on #745
Related case is: https://github.com/moneymanagerex/moneymanagerex/issues/1002

[2017-01-20 10:36] #1002 closed

[2017-01-20 15:51] vomikan opened #1033 "Crash at startup"
In case if  contrib.txt file missing (or incorrect path) at startup mmex will crash
- Check OS
  - [ ] Windows
  - [ ] Mac OSX
  - [x] Linux
-  Check MMEX version
  - [x] 1.3.x

[2017-01-20 23:28] stef145g opened #1036 "Foreign currency Accounts balances"
**New Feature:- All OS**
When we use an account in a different currency to our base currency, it is difficult to find the balance expressed as a base currency value.

[2017-01-20 23:44] J316 commented on #957
@stef145g @vomikan @guanlisheng I confirm the issue persists on version 1.3.1
`<?xml version="1.0" encoding="UTF-8"?>
<report version="1.0" kind="exception">
  <system description="Linux 4.4.41-1-MANJARO x86_64"/>
  <modules>
    <module path="/usr/bin/mmex" address="00400000" size="00703000"/>
    <module path="/usr/bin/mmex" address="00d30000" size="0001d000"/>
    <module path="[heap]" address=

[2017-01-20 23:51] stef145g commented on #1036
A new item has been added to the Navigation panel, popup menu when selecting an account:
**Foreign Currency Balance**
This will display an information panel displaying:
   1. Balance in the expressed currency
   2. Balance expressed at the base currency

[2017-01-21 00:04] stef145g commented on #957
@J316 Are you able to build a version in **debug** mode. The report using debug will contain more useful info to help solve this problem. Thanks

[2017-01-21 00:12] J316 commented on #957
@stef145g I don't know how to do it. Anyway, this bug should be considered high priority because it makes the application unusable, I'm still using version 1.2.7. I read many Arch Linux users are experiencing this. Can this be related to that particular distribution?

[2017-01-21 00:56] #1036 closed

[2017-01-21 07:38] chris3081 commented on #1025
Thanks @vomikan I've managed to adjust the SQL to pick up the withdrawals I need, however it looks like sqlite doesn't support updates to table aliases. Would you recommend using the java script in the template or lua to make the report iterate through each of the transactions making the changes?

from what I can see I need to set d.status='d' and w.toaccountid = d.accountid

[2017-01-21 11:06] vomikan commented on #1025
SQL can't update rhe data (it has been blocked).
But from the report you can open transaction edit dialogue. It's working?

[2017-01-21 20:18] stef145g opened #1038 "Build errors using VS Community 2017 RC"
- Checked OS  - Windows
- Checked MMEX version - 1.3.x

Testing builds using new version of MS VS

[2017-01-21 21:54] chris3081 commented on #1025
Yes its definitely working, but with so many in the report is it possible to automate the task of converting each of these?

[2017-01-22 01:05] stef145g commented on #1038
Build configurations also added for mmex_tests for msvc_2015 and msvc_2017

[2017-01-22 01:05] #1038 closed

[2017-01-22 05:47] blueyestar commented on #1001
I have same issue on Windows 7 x64.
It crashed when set currency.

[2017-01-22 06:17] vomikan commented on #957
https://github.com/moneymanagerex/moneymanagerex/wiki/Debuging-on-Linux-(Debian-Ubuntu)

[2017-01-22 06:25] vomikan commented on #957
It's outdated but this bug is still actual https://github.com/moneymanagerex/moneymanagerex/issues/1030

[2017-01-22 06:26] #1001 closed

[2017-01-22 15:02] J316 commented on #957
@stef145g @vomikan @guanlisheng
It's not related at all with #1030, I even tried to disable "Send anonymous statistics usage data" which seems to solve the issue in #1030, but I can't open the settings menu without an open database, and I can't open nor create a database because the application crashes. Also, I disabled "Send anonymous statistics usage data" in 1.2.7, but after the upgrade the pro

[2017-01-22 15:12] vomikan commented on #957
It has closed like  "accepted" not "resolution provided".
Without step by step debugging on linux system we can't solve this isdue.
I think no Debian needed to install gdb.
https://wiki.archlinux.org/index.php/Step-by-step_debugging_guide

[2017-01-22 15:29] J316 commented on #957
@vomikan I see. I'm unable to provide you with a good debug, I tried gdb but can't get it  to work. Would you mind trying it on a live usb? This problem is not related to any configuration, it's present on a [freshly installed OS](https://manjaro.org/get-manjaro)

[2017-01-22 23:55] vomikan commented on #990
test
https://github.com/vomikan/moneymanagerex/commit/ab8a3509f8763e4135c06dcaacf3cd062abb3563

[2017-01-24 17:08] vomikan commented on #478
https://sourceforge.net/p/moneymanagerex/bugs/953/

[2017-01-24 17:26] vomikan commented on #1013
http://forum.moneymanagerex.org/viewtopic.php?f=25&t=6856

[2017-01-25 20:30] vomikan opened #1043 "Crash on Transaction Report"
Hi, I use MME with pleasure, works fine. This morning a discovered a bug though:

In Reports choose Transaction Reports
Check Account but don't choose an Account (leave empty)
Click OK
** Crash **

Regards, René

[Taken here](http://forum.moneymanagerex.org/viewtopic.php?f=23&t=6930)

[2017-01-26 03:22] #1043 closed

[2017-01-26 03:23] vomikan opened #1045 "Split Transaction Amount Does Not Show on Report"
When using the desktop version and searching for a transaction amount that is part of a split transaction it does not show. For example, say I have a transaction totally $120 and $50 is going to automobile:gasoline. If I run a transaction report and search for transactions by amount = $50 it does not show up. I'm not sure if it should show or not. It would be nice if it would as well as show up if

[2017-01-26 15:39] #989 closed

[2017-01-29 05:58] #626 closed

[2017-01-29 13:29] #1045 closed

[2017-01-29 21:25] vomikan opened #1056 "webserver /api/v1/sql"
sql query returns application settings but not query result.
Becouse https://github.com/moneymanagerex/moneymanagerex/blob/master/src/webserver.cpp#L49 commented out.

[2017-01-31 16:09] vomikan commented on #909
Just UI:
![screenshot 35](https://cloud.githubusercontent.com/assets/6836805/22473102/ab380bc6-e7e8-11e6-99d1-121ccd91a4e7.jpg)

[2017-02-01 17:21] vomikan commented on #478
https://sourceforge.net/p/moneymanagerex/bugs/953/attachment/money.jpg

[2017-02-02 10:08] Edvinaz opened #1057 "cant open db"
When opening old db from 1.2.7 i'm getting error:
ACCOUNTLIST_V1: Exception SQL logic error or missing database[1]: no such column: STATEMENTLOCKED

When i trying to create new db mmex crashes.

make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [x] Windows
  - [ ] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [x] 1.3.x
  - [ ] 1.2.x
  - [ ] 1.1 or older

[2017-02-02 13:28] #1056 closed

[2017-02-03 09:26] stef145g commented on #979
@ibnbr , I noted that you are a developer as well. Could you use MSVC 2015 and build a debug version?
Instructions on how to build mmex is in the readme.txt file under *build\msw-vc-2015*  and *build\msw-vc-2017*

Running in the debug version will hopefully be able to pinpoint where it fails. Running in the IDE will definitely help.

[2017-02-03 12:22] ibnbr commented on #979
@stefl145g I get error installing MSVC 2015/2017, I think the problem is my PC.

Error: http://i.imgur.com/RCehFkg.png

I'm using mmex on another PC and it's OK.

[2017-02-03 13:26] stef145g commented on #979
@ibnbr you may me able to check out your system for system errors by running the command in an administrator console:
![screenshot 2017-02-04 00 26 13](https://cloud.githubusercontent.com/assets/6927151/22592956/4e898b54-ea70-11e6-94f2-2a23dac5ab7e.png)
Discovered this command while investigating another problem on my brother's computer. My computer completes verification without errors.

[2017-02-03 14:11] guanlisheng commented on #1057
@stef145g please have a look here

[2017-02-07 21:46] pdoggyster commented on #979
I get same error with portable 1.3.x

[2017-02-08 23:43] pdoggyster commented on #979
@stef145g
I tried run in the debug mode and I get an error in the mongoose.c. See in the pic
![2017-02-09 00_40_23-mmex debugging - microsoft visual studio](https://cloud.githubusercontent.com/assets/12031285/22762597/8691c770-ee60-11e6-8759-f7d3cffd4315.jpg)

[2017-02-09 11:03] stef145g commented on #979
Thanks for the screen shot. It appears to be associated with setting up the http server provided by mongoose, but not sure at what point this is occurring within the mmex main code.

Could you try it again - activate 'Break' button. This will allow you to bring up the 'call stack' screen. This will show the subsequent calls to this procedure.

[2017-02-09 12:05] pdoggyster commented on #979
@stef145g

Did you think of this?
![image](https://cloud.githubusercontent.com/assets/12031285/22782661/7365b842-eec8-11e6-93f5-e9542de5cf20.png)

[2017-02-11 01:59] stef145g commented on #979
@pdoggyster
Looking at the call stack, while the failed call position matches, the other code lines do not appear to match my code.

Mongoose has been updated and perhaps you may not have the latest submodule at SHA-1: 36a1927915f966f20486a80070f0428f2606a53a
-------------------
The call stack indicates that it fails when attempting to send usage stats via mongoose connection server. Sending usage

[2017-02-11 02:35] stef145g commented on #979
@pdoggyster you can ignore the first part of my last post.

Sending user stats and setting a break point at the fail point, I get the same line codes. Using the mouse pointer, hovering over the variable pointer nc and expanding it shows an active manager connection:
![msvc screenshot 2017-02-11 13 21 56](https://cloud.githubusercontent.com/assets/6927151/22850494/2d555a6e-f05e-11e6-8535-fd04c23604

[2017-02-11 06:07] stef145g commented on #1057
Please refer Sourceforge.net for answer: https://sourceforge.net/p/moneymanagerex/bugs/927/

[2017-02-11 15:09] pdoggyster commented on #979
hovering over the variable pointer nc in the 5049 line:
![image](https://cloud.githubusercontent.com/assets/12031285/22854665/3a1b2b5a-f074-11e6-832b-cb84428176a3.png)

[2017-02-11 15:11] pdoggyster commented on #979
in the 5050 line:
![image](https://cloud.githubusercontent.com/assets/12031285/22854694/ac5067e4-f074-11e6-9834-dd860399fdc8.png)

@stef145g

[2017-02-11 15:13] pdoggyster commented on #979
I couldn't find the SENDUSAGESTATS key in the mmexini.db3. Where can I find it?

[2017-02-13 04:57] #789 closed

[2017-02-13 14:08] rcocchiararo opened #1060 "Search box not working"
- Check OS
  - [x] Windows
  - [ ] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [x] 1.3.x
  - [ ] 1.2.x
  - [ ] 1.1 or older

I am using 1.3.0 GA, and i noticed (never tried before) that when i type something into the search box (for filtering?) nothing happens.
I press enter, nothing happens, and i see no actionable button to "accept".

[2017-02-13 18:19] vomikan commented on #1060
It's a bug in wxWidgets. Enter Button has been deactivated, becose TAB button stoped working.
For search some notes in the selected account view use left mouse click to magnifier
![screenshot 43](https://cloud.githubusercontent.com/assets/6836805/22896678/0ec42582-f232-11e6-8337-ab676676b2b9.jpg)

[2017-02-13 19:06] rcocchiararo commented on #1060
Is search only for notes?

El lun., 13 de feb. de 2017 a la(s) 15:19, Nikolay <notifications@github.com>
escribió:

--
--
Roberto Cocchiararo

[2017-02-15 05:19] vomikan commented on #1060
Yes

https://github.com/moneymanagerex/moneymanagerex/blob/master/src/mmcheckingpanel.cpp#L856-L857

[2017-02-15 14:33] rcocchiararo commented on #1060
Oh, i tested it better now, clicking the icon does work (i thought it
searched everywhere tho, dunno why).

It could be really cool if the line could be highlighted with a stronger
color, and even better, if it could search other coluns too (i miss that
from other softwares i used before).

El mié., 15 de feb. de 2017 a la(s) 02:19, Nikolay <notifications@github.com>
escribió:

--
--
Roberto Cocch

[2017-02-16 02:04] #742 closed

[2017-02-18 00:51] stef145g commented on #979
The SENDUSAGESTATS key is only set in the mmexini.db3 file when it is changed by options. It is initially hard coded with a default setting of 'TRUE' in file option.cpp line 181. You may need to create a key or change the line in option.cpp to disable it for testing purposes.

What your screen shots have highlighted is that the mongoose server is not being started, resulting in a crash.

I have at

[2017-02-18 04:29] siena123 commented on #979
Mongoose server and SENDUSAGESTATS are two completely different items and are handled differently although both use mongoose to do the work.

Mongoose server is started as its own thread in webserver.cpp line 161. Commenting out line 194 in mmex.cpp would do the same thing as setting the ENABLEWEBSERVER option to FALSE.

The SENDUSAGESTATS is also done in its own thread which is started in Model_U

[2017-02-18 05:33] siena123 commented on #979
@pdoggyster, I updated the code with a check for the the null pointer that I suspect is your problem. Could you get the latest code (or make the same change I did) and try it in the debugger again.

Thanks

[2017-02-18 09:44] Spoker commented on #979
@siena123 I can confirm that the fatal error on startup is fixed after your latest commit.
Thank you!

[2017-02-19 06:28] vomikan commented on #1025
@chris3081 I've added functionality that are you looking for.
How to use:
Select several (>=2) transactions in some account then change a type to 'Transfer'
![screenshot 57](https://cloud.githubusercontent.com/assets/6836805/23099990/a8262d4a-f685-11e6-969b-b0791c3a28be.jpg)

[2017-02-20 08:25] pdoggyster commented on #979
Yes, this fix solved the problem. Thanks!
Which release will include this fix?

[2017-02-23 09:07] vomikan opened #1063 "Move Transaction"
- [x] 1.3.1

Move Transaction menu item disabled

[2017-02-23 10:45] #1063 closed

[2017-02-23 15:11] vomikan opened #1064 "HTML report export"
http://forum.moneymanagerex.org/viewtopic.php?f=23&t=6967

This version brings back an old bug which as been fixed.
When exporting a report as HTML, the resulting HTML file only contains the word "TBD".

-  MMEX version
  - [x] 1.3.1
  - [ ] 1.2.x

[2017-02-23 15:12] vomikan opened #1065 "Reports fin. year"
http://forum.moneymanagerex.org/viewtopic.php?f=23&t=6968
- Check OS
  - [ ] Windows
  - [ ] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [ ] 1.3.x
  - [ ] 1.2.x
  - [ ] 1.1 or older

[2017-02-23 19:54] junpet opened #1066 "Exception SQL logic error or missing database"
make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [x] Windows
  - [ ] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [x] 1.3.x
  - [ ] 1.2.x
  - [ ] 1.1 or older
![screenshot 2017-02-23 20 15 20](https://cloud.githubusercontent.com/assets/3465278/23276348/3bb4bd38-fa0a-11e6-8c5f-a7b56768b2f1.png)
[log.txt](https://github.com/moneymanagerex/moneymanagerex/f

[2017-02-24 08:49] vomikan commented on #1065
![screenshot 64](https://cloud.githubusercontent.com/assets/6836805/23296672/3a634df0-fa87-11e6-8e73-c96965c8af27.jpg)

[2017-02-24 08:49] #1065 closed

[2017-02-24 09:38] #1064 closed

[2017-02-24 22:06] MartinX3 commented on #749
SAME ERROR IN v1.3.1!
Fresh compiled from Github!

[2017-02-25 12:12] vomikan commented on #1066
Please take a look at https://sourceforge.net/p/moneymanagerex/bugs/927/

[2017-02-25 18:12] junpet commented on #1066
Thanks. I found it.

[2017-02-26 05:47] yaomtc commented on #957
I just updated to 1.3.2, and finally, it's no longer crashing for me on Arch Linux. Nice!

[2017-02-26 09:57] vomikan commented on #1033
https://github.com/moneymanagerex/moneymanagerex/issues/957

[2017-02-26 09:57] #1033 closed

[2017-02-26 09:58] #1057 closed

[2017-02-26 09:58] #1066 closed

[2017-02-26 10:00] #957 closed

[2017-02-26 10:02] #909 closed

[2017-02-26 10:04] #1030 closed

[2017-02-26 10:07] vomikan opened #1069 "Report title"
Report title incorrect in case Custom Dates

![screenshot 66](https://cloud.githubusercontent.com/assets/6836805/23338758/81068800-fc24-11e6-9814-ea4cfa53a9c9.jpg)

-  Check MMEX version
  - [x] 1.4.x

[2017-02-26 11:41] akovalyov commented on #1013
For those who miss the app on Linux - I have created https://github.com/akovalyov/subuser-mmex. It is highly experimental and there are a couple of bugs still (mostly with lang files), but at least it works - https://github.com/akovalyov/subuser-mmex

[2017-02-26 11:57] vomikan commented on #1013
Join us in slack

[2017-02-26 11:58] vomikan commented on #1013
@akovalyov  join us in Slack

[2017-02-26 13:16] MartinX3 opened #1070 "Fatal Error MMEX 1.3.1 Linux Recurring Transactions"
# COMPILED YESTERDAY EVENING (26.02.2017) WITH NEWEST SOURCE CODE

make sure these boxed are checked before submitting your issue - thank you
- Check OS
  - [ ] Windows
  - [ ] Mac OSX
  - [X] Linux
-  Check MMEX version
  - [X] 1.3.x
  - [ ] 1.2.x
  - [ ] 1.1 or older

One error dialogue for every entry (including deleted ones, which made gaps in the ID counter)

ASSERT INFO:
/usr/include/wx-3.0/

[2017-02-26 19:19] #979 closed

[2017-02-28 09:26] #1060 closed

[2017-02-28 09:56] MartinX3 commented on #1070
Now, i can't start the APP anymore.

Speicherzugriffsfehler
Segfault
Memory Access Error

I didn't changed the compiler.

[2017-02-28 10:11] #1069 closed

[2017-02-28 10:31] MartinX3 opened #1074 "Fatal Error MMEX 1.3.2 Linux Assets"
# COMPILED TODAY  (28.02.2017; 11:30) WITH NEWEST SOURCE CODE

make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [ ] Windows
  - [ ] Mac OSX
  - [X] Linux
-  Check MMEX version
  - [X] 1.3.x
  - [ ] 1.2.x
  - [ ] 1.1 or older

If i open the assets, i get this two errors.

`
ASSERT INFO:
../src/common/list.cpp(317): assert "Assert failure" failed in Item():

[2017-02-28 10:52] vomikan commented on #1074
The newest id 1.3.2. Please confirm.

[2017-02-28 10:53] vomikan commented on #1074
Join us in Slack

[2017-02-28 12:34] vomikan commented on #1074
@MartinX3 could you check now?

[2017-02-28 12:47] vomikan commented on #990
@siena123
James, what do you think about this feature?
I think it may be realized some stack with reports id or names and others parameters.
If Prev/Next button pressed then proper report should be selected in navigation tree.

[2017-02-28 13:26] MartinX3 commented on #1074
`I will try to find a PPA and install slack on my linux.`

Help -> About is telling me, that i use v1.3.1
And i compiled it with the newest code. (28.02.2017; 14:23)
GIT is telling me, that i download your code changes and i use the MASTER branch.

I still get the ASSET error.
And i have no asset's.

`ASSERT INFO:
../src/common/list.cpp(317): assert "Assert failure" failed in Item(): invalid index

[2017-02-28 16:10] MartinX3 commented on #1070
FIXED in v1.3.2 compiled from v1.3.2 branch on github

[2017-02-28 16:11] MartinX3 commented on #1074
Still happenig in the fresh compiled v1.3.2 from v1.3.x branch on github.

[2017-03-01 10:40] Dreamspectre opened #1078 "Issues reading from a pre-existing database with 1.3.1"
make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [x] Windows
  - [ ] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [x] 1.3.x
  - [ ] 1.2.x
  - [ ] 1.1 or older

I updated from 1.3.0 release to version 1.3.1 tonight, and upon opening the database I have been using for a few months now, was met with the errors listed in the attached log.

[MMEX Error log.t

[2017-03-01 10:43] Dreamspectre commented on #1078
To provide some additional information, this is happening with both 1.3.1 64bit for Windows, as well as the Android app (v. 2017.1.19.949). I was utilizing the database without issue (on Windows), closed the program, updated it, and was met with the errors in the log.

[2017-03-01 15:52] siena123 commented on #990
I just got a copy of your test and will take a look at it a little later.

If the plan is to to use just the reports showing in the navigation tree then there is no need for a separate stack, just use the navigation tree functions (GetNextSibling / GetPrevSibling, GetFirstChild / GetNextChild, etc.). That will be the easiest since the list is now sorted by name (Built in reports and GRM reports mi

[2017-03-01 20:11] MartinX3 commented on #1074
THANK YOU!
I LOVE YOUR SUPPORT!

[2017-03-01 20:11] #1074 closed

[2017-03-04 08:25] vomikan commented on #1078
http://forum.moneymanagerex.org/viewtopic.php?f=23&t=6969

https://sourceforge.net/p/moneymanagerex/bugs/927/

[2017-03-04 08:25] #1078 closed

[2017-03-04 10:46] efDidymos commented on #950
Hello all I would like to contribute to money manager. Here is short manual how to produce .deb (prospectively another) package thanks of cmake build system.
After this procedure It would be great if packages appears here: https://launchpad.net/mmex

### Money Manager EX for Ubuntu 16.04 Xenial Xerus
**Install necessary packages**
[code]

**Get sources**
`git clone https://github.com/moneymanagere

[2017-03-04 11:03] efDidymos commented on #974
Hi @fusion809 see https://github.com/moneymanagerex/moneymanagerex/issues/950#issuecomment-284143691

[2017-03-04 11:07] efDidymos commented on #1013
Hello all, take a look at https://github.com/moneymanagerex/moneymanagerex/issues/950#issuecomment-284143691

[2017-03-05 11:17] vomikan commented on #1013
I am owner of  https://launchpad.net/mmex but can't build PPA

[2017-03-05 11:29] akovalyov commented on #1013
@vomikan maybe https://packagecloud.io/ can be an option? It has a plan for open source projects, but you need to contact support.

[2017-03-05 11:40] ryhaberecht commented on #1013
Maybe the OpenSUSE Build Service can be of use, too: [https://build.opensuse.org/](url)

[2017-03-05 11:47] vomikan commented on #1013
I've created the moneymanager account in packagecloud.io
I don't undestand what kind of package should be uploaded.
I any volunteers please be free to try. Ask the password by e-mail vomikan @ mail . ru

[2017-03-05 11:50] vomikan commented on #1013
Also
Developers and users chat at moneymanagerex.slack.com.
Leave your email in comment or email us for the slack invitation!

[2017-03-05 12:08] vomikan opened #1082 "Loan accounts missing in Monthly Summary of Accounts report"
Version: v1.3.1 Windows x64 portable
The Monthly Summary of Accounts report is not showing the new "Loan" account type - which results in the wrong balance.
Looking at the code, it's a simple oversight where the new "Loan" type was not added to the report in a few places:
Add header for "Loan Account"
https://github.com/moneymanagerex/moneymanagerex/blob/master/src/reports/summary.cpp#L318
Add bal

[2017-03-05 12:22] vomikan opened #1083 "XML parsing error: 'mismatched tag' at RssDocument.Load(RssContentStream)"
I am using mmex 1.3.3 x64.
As suggested in a previou posting ("mmex 1.3.1 non-critical error"), I have allowed mmex both inbound and outbound access through the firewall.
However, I still get the "XML parsing error:'mismatched tag' at line 6" error message when I run mmex.
I have had this same error with all the mmex 1.3 x64 versions.
This error never occurred with any of the mmex 1.2 x64 versions

[2017-03-06 12:32] vomikan opened #1085 "Custom Dates for GRM"
I suggest to add date ranges for GRM.

![screenshot 75](https://cloud.githubusercontent.com/assets/6836805/23610025/f8c83844-0281-11e7-9325-ae5c351a6f0d.jpg)

This dates may be used in SQL script like &begin_date     &end_date
-  Check MMEX version
  - [x] 1.4.x

[2017-03-06 12:35] vomikan opened #1086 "Monthly Summary of Accounts crash"
The report crashed without crash report.
- Check OS
  - [x] Windows
  - [ ] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [x] 1.3.x
  - [ ] 1.2.x

[test7.zip](https://github.com/moneymanagerex/moneymanagerex/files/821127/test7.zip)

[2017-03-07 08:10] vomikan opened #1087 "Date for Accounts Summary report"
Regarding the issue:
https://github.com/moneymanagerex/general-reports/issues/42

-  Check MMEX version
  - [x] 1.4.x

[2017-03-07 08:41] vomikan commented on #1085
@siena123 James, I need help with transfer parameters to SQL script.

Here may be code to replace placeholders to real data:
https://github.com/moneymanagerex/moneymanagerex/compare/master...vomikan:%231085?expand=1#diff-f8a5929a16cdeff021409c02a03484f3R169

I've attached test DB to see how parameters looks in GRM reports
[test7.zip](https://github.com/moneymanagerex/moneymanagerex/files/823788/te

[2017-03-07 15:02] vomikan commented on #1085
I've attached test DB to see how parameters looks in GRM reports
[test7.zip](https://github.com/moneymanagerex/moneymanagerex/files/824783/test7.zip)

[2017-03-07 21:16] J316 opened #1089 ""Custom fields" windows doesn't work"
make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [ ] Windows
  - [ ] Mac OSX
  - [X] Linux
-  Check MMEX version
  - [X] 1.3.2
  - [ ] 1.2.x
  - [ ] 1.1 or older

When I click on "Open custom fields window" in a transaction I get a dead window, buttons don't click and even the X to close the window doesn't work (maximize/minimize works), I have to close th

[2017-03-07 21:30] J316 opened #1090 "Update 1.27->1.32, deleted transactions came back"
make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [ ] Windows
  - [ ] Mac OSX
  - [X] Linux
-  Check MMEX version
  - [X] 1.3.2
  - [ ] 1.2.x
  - [ ] 1.1 or older

As I updated to version 1.3.2 I noticed several void transactions, found out they were deleted transactions somehow resurrected. Should I keep them in order to keep the ID database field without

[2017-03-07 21:35] J316 opened #1091 "Navigation tree disappears when editing an account"
- Check OS
  - [ ] Windows
  - [ ] Mac OSX
  - [X] Linux
- Check MMEX version
  - [X] 1.3.2
  - [ ] 1.2.x
  - [ ] 1.1 or older

Items become invisible, I have to click them or collapse and then expand the tree to make them reappear (homepage doesn't disappear)

[2017-03-07 21:36] J316 commented on #773
@guanlisheng I confirm this error persists in version 1.3.2

[2017-03-08 02:53] siena123 commented on #1085
I see the direction you are going. I will look at the parameter transfer in more detail this weekend.

[2017-03-08 04:42] vomikan commented on #1091
Is that issue the same?
https://github.com/moneymanagerex/moneymanagerex/issues/658

[2017-03-08 04:45] vomikan commented on #1090
It was an option by right mouse click like 'hide void transactions'. May be all transactions was void not deleted?

[2017-03-08 06:17] J316 commented on #1091
So it seems, and #773 seems to be related as well.

[2017-03-08 19:53] J316 commented on #896
@vomikan That feature is not good because you can't customize view if you want to look transactions for a particular project and/or subproject. Please, add it in the main fields, searchable and able to customize reports for, not as a custom entry

[2017-03-08 22:17] gabriele-v commented on #1089
This feature hasn't been tested on Linux\MacOS, maybe it's a wxWidget bug or some coding problem on wxFrame element: in MMEX it's used only here and it's needed to correctly handle modal and focus on side window.

Unfortunately I haven't any Linux machine so I cannot deep debug into the problem.

[2017-03-09 10:42] #1087 closed

[2017-03-09 15:55] J316 commented on #1089
[Here](https://manjaro.org/get-manjaro/) you can download it and run it live from usb without installing it if you want

[2017-03-10 11:49] vomikan commented on #1086
Необработанное исключение по адресу 0x00000001407BE6F8 в mmex.exe: Код инcтрументирования объектов cookie стека обнаружил переполнение буфера, связанное со стеком..

[2017-03-10 12:08] vomikan commented on #1082
It will be available in 1.4.0 release.

[2017-03-10 12:08] #1082 closed

[2017-03-10 12:08] vomikan commented on #1086
I can't reproduce this issue in v 1.4.0

[2017-03-10 17:17] colourqueen opened #1096 "Crash on Close v1.3.1 to 1.3.3"
make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [ x] Windows
  - [ ] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [x ] 1.3.x
  - [ ] 1.2.x
  - [ ] 1.1 or older
[MoneyManagerEx.zip](https://github.com/moneymanagerex/moneymanagerex/files/834619/MoneyManagerEx.zip)

I started having the issue after upgrading to v1.3.1 (DB v7) on Windows 10 x64 and have ju

[2017-03-11 11:30] #1086 closed

[2017-03-11 11:33] vomikan commented on #1085
@siena123 Please investigate the changes regarding this issue.
I think this way we can add more options for payees, categories etc.

[2017-03-11 11:41] vomikan commented on #1083
xml sample
[code]

[2017-03-11 12:28] vomikan opened #1097 "Change type to transfer for multiple transactions"
It's continue of #909
Related forum link:
http://forum.moneymanagerex.org/viewtopic.php?f=10&t=6999

[2017-03-11 15:35] grumpy235 opened #1098 "Assert Failure"
make sure these boxed are checked before submitting your issue - thank you!
- Check OS
  - [x ] Windows
  - [ ] Mac OSX
  - [ ] Linux
-  Check MMEX version
  - [ x] 1.3.x
  - [ ] 1.2.x
  - [ ] 1.1 or older

I have been trying out the latest report changes with source at "14336a8"
Compiled with VS2015 and 32 bit all is well
Compiled with VS2015 and 64 bit and wxWidgets throws an Assert failure in s

[2017-03-11 17:20] vomikan commented on #1083
this code (util.cpp:162) generates error message:
[code]
I have no ideas how to fix.

[2017-03-11 18:01] vomikan opened #1099 "Printed time for reports"
Time in format HH24:MI:SS needed to recognize when report was generated or printed.

[2017-03-11 18:10] grumpy235 commented on #1098
Probably a "non-problem" as I only get this behaviour running Debug/64 and if I cancel the alert then all works well.